{% extends "layout.html" %}

{% block page_title %}
  Settings
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="column-two-thirds">
      <h1 class="heading-large">Settings</h1>
      <form method="post">
        <div class="form-group">
          <fieldset>
            <legend class="heading-small">Scenario</legend>



            <a href="/integration/version-29/1/claim-details.html" class="button button-start">Scenario 1</a> <br> <br>

            <a href="/integration/version-29/2/claim-details.html" class="button button-start">Scenario 2</a> <br> <br>

            <a href="/integration/version-29/3/claim-details.html" class="button button-start">Scenario 3</a> <br> <br>

            <a href="/integration/version-29/4/claim-details.html" class="button button-start">Scenario 4</a> <br> <br>



            
          </fieldset>
        </div>

      </form>
    </div>
  </main>
{% endblock %}
