
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div id="wrapper" class="direction-ltr">
   <div class="gem-c-contextual-breadcrumbs">
      <div class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
         <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
               <a class="govuk-breadcrumbs__link" href="javascript: void(0);">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
               <a class="govuk-breadcrumbs__link" href="javascript: void(0);">Welfare</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
               <a class="govuk-breadcrumbs__link" href="javascript: void(0);">Benefits entitlement</a>
            </li>
         </ol>
      </div>
   </div>
   <main role="main" id="content" class="publication" lang="en">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
               <span class="govuk-caption-xl gem-c-title__context">
               Form
               </span>
               <h1 class="gem-c-title__text govuk-heading-l">
                  Bereavement Support Payment claim form
               </h1>
            </div>
         </div>
         <div class="govuk-grid-column-one-third">
            <nav role="navigation" class="gem-c-translation-nav gem-c-translation-nav ">
               <ul class="gem-c-translation-nav__list">
                  <li class="gem-c-translation-nav__list-item">
                     <span lang="en">English</span>
                  </li>
                  <li class="gem-c-translation-nav__list-item">
                     <a hreflang="cy" lang="cy" rel="alternate" class="gem-c-translation-nav__link " href="javascript: void(0);">Cymraeg</a>
                  </li>
               </ul>
            </nav>
         </div>
         <div class="govuk-grid-column-two-thirds">
            <p class="gem-c-lead-paragraph">Use this form to claim Bereavement Support Payment if your husband, wife or civil partner died on or after 6 April 2017.</p>
         </div>
      </div>
      <div class="govuk-grid-row">
         <div class="metadata-logo-wrapper">
            <div class="govuk-grid-column-two-thirds metadata-column">
               <div class="gem-c-metadata" data-module="gem-toggle">
                  <dl data-module="gem-track-click">
                     <dt class="gem-c-metadata__term">From:</dt>
                     <dd class="gem-c-metadata__definition">
                        <a class="govuk-link" href="javascript: void(0);">Department for Work and Pensions</a>
                     </dd>
                     <dt class="gem-c-metadata__term">Published:</dt>
                     <dd class="gem-c-metadata__definition">6 April 2017</dd>
                     <dt class="gem-c-metadata__term">Last updated:</dt>
                     <dd class="gem-c-metadata__definition">
                        9 October 2019,
                        <a href="#history" class="gem-c-metadata__definition-link">
                        see all updates
                        </a>
                     </dd>
                  </dl>
               </div>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
         </div>
      </div>
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds responsive-bottom-margin">
            <div class="responsive-bottom-margin">
               <section id="documents">
                  <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--mobile-top-margin  ">Documents</h2>
                  <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
                     <section class="attachment embedded" id="attachment_3720838">
                        <div class="attachment-thumb">
                           <a class="thumbnail" tabindex="-1" href="javascript: void(0);"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/837951/thumbnail_bsp1.pdf.png"></a>
                        </div>
                        <div class="attachment-details">
                           <h2 class="title"><a href="javascript: void(0);">Bereavement Support Payment claim form</a></h2>
                           <p class="metadata">
                              <span class="references">
                              Ref: <span class="unique_reference">BSP1</span>
                              </span>
                              <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">159KB</span>, <span class="page-length">12 pages</span>
                           </p>
                        </div>
                     </section>
                     <section class="attachment embedded" id="attachment_3720839">
                        <div class="attachment-thumb">
                           <a aria-hidden="true" class="thumbnail" tabindex="-1" href="javascript: void(0);"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/837952/thumbnail_bsp1-notes.pdf.png"></a>
                        </div>
                        <div class="attachment-details">
                           <h2 class="title"><a href="javascript: void(0);">Bereavement Support Payment notes</a></h2>
                           <p class="metadata">
                              <span class="references">
                              Ref: <span class="unique_reference">BSP1 Notes</span>
                              </span>
                              <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">131KB</span>, <span class="page-length">8 pages</span>
                           </p>
                        </div>
                     </section>
                  </div>
               </section>
               <section id="details">
                  <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--mobile-top-margin  ">Details</h2>
                  <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
                     <div class="govspeak">
                        <p>Bereavement Support Payment provides financial support to people for a period after the death of a husband, wife or civil partner.</p>
                        <p>You can also <a href="javascript: void(0);" class="govuk-link">apply by phone</a> or <a href="/bereavement-support-payment/start.html">apply online</a>.</p>
                        <div class="call-to-action">
                           <h3 id="if-your-husband-wife-or-civil-partner-died-before-6-april-2017">If your husband, wife or civil partner died before 6 April 2017</h3>
                           <p>You can claim:</p>
                           <ul>
                              <li><a href="javascript: void(0);" class="govuk-link">Bereavement Allowance</a></li>
                              <li><a href="javascript: void(0);" class="govuk-link">Bereavement Payment</a></li>
                              <li><a href="javascript: void(0);" class="govuk-link">Widowed Parent’s Allowance</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
            <div class="app-c-published-dates app-c-published-dates--history" id="history" data-module="gem-toggle" lang="en">
               Published 6 April 2017
               <br>Last updated 9 October 2019
               <a href="#full-history" class="app-c-published-dates__toggle govuk-link">+&nbsp;show all updates</a>
               <div class="app-c-published-dates__change-history js-hidden" id="full-history">
                  <ol>
                     <li class="app-c-published-dates__change-item">
                        <time class="app-c-published-dates__change-date timestamp" datetime="2019-10-09T15:51:24.000+01:00">9 October 2019</time>
                        <p class="app-c-published-dates__change-note">Updated the BSP1 claim form and notes with September 2019 versions in English and Welsh.</p>
                     </li>
                     <li class="app-c-published-dates__change-item">
                        <time class="app-c-published-dates__change-date timestamp" datetime="2019-05-21T15:36:09.000+01:00">21 May 2019</time>
                        <p class="app-c-published-dates__change-note">Updated the claim form and notes with March 2019 versions.</p>
                     </li>
                     <li class="app-c-published-dates__change-item">
                        <time class="app-c-published-dates__change-date timestamp" datetime="2017-04-06T00:15:00.000+01:00">6 April 2017</time>
                        <p class="app-c-published-dates__change-note">First published.</p>
                     </li>
                  </ol>
               </div>
            </div>
         </div>
         <div class="govuk-grid-column-one-third">
            <div class="gem-c-contextual-sidebar">
               <div class="gem-c-related-navigation">
                  <h2 id="related-nav-related_items-96bff7db" class="gem-c-related-navigation__main-heading">
                     Related content
                  </h2>
                  <nav class="gem-c-related-navigation__nav-section">
                     <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click">
                        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="javascript: void(0);">Funeral Expenses Payment claim form</a></li>
                        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="javascript: void(0);">DWP Bereavement Service</a></li>
                        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="javascript: void(0);">Bereavement Support Payment</a></li>
                        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="javascript: void(0);">Bereavement Support Payment, forecasts for April 2020 to March 2025</a></li>
                        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar gem-c-related-navigation__section-link--inline  gem-c-related-navigation__section-link--other" href="javascript: void(0);">Claim for costs of a child's funeral (Children's Funeral Fund for England)</a></li>
                     </ul>
                  </nav>
               </div>
               <a class="govuk-link gem-c-contextual-sidebar__brexit-cta"  href="javascript: void(0);">
                  <h2 class="gem-c-contextual-sidebar__brexit-heading">Brexit</h2>
                  <ul class="govuk-list gem-c-contextual-sidebar__take-action-traffic-lights">
                     <li>
                        <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-red-5117cea61725753ad21e17234e1d12f5605c1ab8df1eab37bd7d557d200a5006.svg" style="width: 20px">
                        <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                        Check
                        </span>
                     </li>
                     <li>
                        <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-amber-ed37d78dd940d181c13d2689c7ca16a10891d89e5d278eef21e0e0001fb5a477.svg" style="width: 20px">
                        <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                        Change
                        </span>
                     </li>
                     <li>
                        <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-green-201c5dfb37cd72eb3603b1afe36c913fecfda46ecb6221f1ed8c59708bc103e0.svg" style="width: 20px">
                        <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                        Go
                        </span>
                     </li>
                  </ul>
                  <p class="gem-c-contextual-sidebar__brexit-text">Check what you need to do</p>
               </a>
            </div>
         </div>
      </div>
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <div class="gem-c-contextual-footer">
               <div class="gem-c-related-navigation">
                  <nav role="navigation" class="gem-c-related-navigation__nav-section">
                     <h2 id="related-nav-topics-de3d7ff5" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" >Explore the topic</h2>
                     <ul class="gem-c-related-navigation__link-list">
                        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="javascript: void(0);">Benefits entitlement</a></li>
                        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="javascript: void(0);">Benefits for families</a></li>
                        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="javascript: void(0);">Death and bereavement</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </main>
</div>
{% endblock %}
