
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="relationship" method="post" class="form">
            <a href="start" class="govuk-back-link">Back</a>
           
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <h1 class="govuk-heading-xl">What is your date of birth?</h1>
            <p class="govuk-body-l">We use this to check your State Pension age.</p>
                <span class="govuk-hint" id="ClaimantDOB-hint">
                  For example, 10 4 1955
               </span>              
                <div class="govuk-date-input" id="ClaimantDOB">              
                  <div class="govuk-date-input__item">
              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="ClaimantDOB-Day">              
                        Day              
                      </label>
                      <input name="claimantday" class="govuk-input govuk-date-input__input govuk-input--width-2 &#10;        &#10;      " id="ClaimantDOB-dd" type="number" pattern="[0-9]*" value="{{ data['claimantday'] }}" >              
                    </div>              
                  </div>
                  <div class="govuk-date-input__item">              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="ClaimantDOB-Month">              
                        Month              
                      </label>
                      <input name="claimantmonth" class="govuk-input govuk-date-input__input govuk-input--width-2 &#10;        &#10;      " id="ClaimantDOB-mm" type="number" pattern="[0-9]*" value="{{ data['claimantmonth'] }}" >              
                    </div>              
                  </div>              
                  <div class="govuk-date-input__item">              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="ClaimantDOB-Year">              
                        Year              
                      </label>              
                      <input name="claimantyear" class="govuk-input govuk-date-input__input govuk-input--width-4 &#10;        &#10;      " id="ClaimantDOB-yyyy" type="number" pattern="[0-9]*" value="{{ data['claimantyear'] }}">              
                    </div>              
                  </div>
                </div>
              </fieldset>
             
            </div>
              
 

                <button class="govuk-button" data-module="govuk-button">Continue
                </button>
    </form>
  </div>
</div>

{% endblock %}
