{% extends "layout.html" %}
{% set d = '2' | loadDummyData %}

{% block page_title %}
  Claim
{% endblock %}

{% block customNav %}
  {% include './_custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds column-minimum">
        {% include feature + '/' + sprint + '/' + '_paused-claim-banner.html' %}

        <h1 class="heading-xlarge schedule-heading">
          <span class="heading-secondary">{{d.claimant.fullName}}</span>
          {{d.claimant.nino}}
        </h1>
        <span class="claim-status claim-status-rejected">
          Disallowed
        </span>

        <h2 class="heading-small th">
          Claimant details
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Date of claim
          </dt>
          <dd class="data-summary-value">
            {{d.claimant.dateOfClaim}}
          </dd>

          <dt class="data-summary-key">
            Full name
          </dt>
          <dd class="data-summary-value">
            {{d.claimant.fullName}}
          </dd>

          <dt class="data-summary-key">
            National Insurance number
          </dt>
          <dd class="data-summary-value">
            {{d.claimant.nino}}
          </dd>

          <dt class="data-summary-key">
            Date of birth
          </dt>
          <dd class="data-summary-value">
            {{d.claimant.dateOfBirth}}
          </dd>

          <dt class="data-summary-key">
            Address
          </dt>
          <dd class="data-summary-value">
            {{d.claimant.currentAddress.number}} {{d.claimant.currentAddress.street}}<br />
            {{d.claimant.currentAddress.town}}<br/>
            {{d.claimant.currentAddress.county}}<br />
            {{d.claimant.currentAddress.postcode}}
          </dd>
          
          {% if d.claimant.contact.home %}
            <dt class="data-summary-key">
              Home phone
            </dt>
            <dd class="data-summary-value">
              {{d.claimant.contact.home}}
            </dd>
          {% endif %}

          {% if d.claimant.contact.mobile %}
            <dt class="data-summary-key">
              Mobile phone
            </dt>
            <dd class="data-summary-value">
              {{d.claimant.contact.mobile}}
            </dd>
          {% endif %}

          {% if d.claimant.contact.email %}
            <dt class="data-summary-key">
              Email address
            </dt>
            <dd class="data-summary-value">
              {{d.claimant.contact.email}}
            </dd>
          {% endif %}
        </dl>

        <h2 class="heading-small th">
          Partner details
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Full name
          </dt>
          <dd class="data-summary-value">
            {{d.partner.fullName}}
          </dd>

          <dt class="data-summary-key">
            National Insurance number
          </dt>
          <dd class="data-summary-value">
            {{d.partner.nino}}
          </dd>

          <dt class="data-summary-key">
            Date of death
          </dt>
          <dd class="data-summary-value">
            {{d.partner.dateOfDeath}}
          </dd>
        </dl>

        <h2 class="heading-small th">
          Children details
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Dependent children
          </dt>
          <dd class="data-summary-value">
            {{d.children.dependant}}
          </dd>

          {% if d.children.pregnant %}
            <dt class="data-summary-key">
              Pregnant
            </dt>
            <dd class="data-summary-value">
              {{d.children.pregnant}}
            </dd>
          {% endif %}
        </dl>

        <h2 class="heading-small th">
          Payment details
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Name on account
          </dt>
          <dd class="data-summary-value">
            {{d.payment.nameOnAccount}}
          </dd>

          <dt class="data-summary-key">
            Sort code
          </dt>
          <dd class="data-summary-value">
            {{d.payment.sortCode}}
          </dd>

          <dt class="data-summary-key">
            Account number
          </dt>
          <dd class="data-summary-value">
            {{d.payment.accountNumber}}
          </dd>
        </dl>

        <h2 class="heading-small th">
          Verification
        </h2>

        <dl class="data-summary">
          {% if d.verification.marriage == 'Yes' %}
            <dt class="data-summary-key">
              Marriage
            </dt>
            <dd class="data-summary-value">
              Verified on {{d.testDate}}
            </dd>
          {% endif %}
  
          {% if d.verification.death == 'Yes' %}
            <dt class="data-summary-key">
              Death
            </dt>
            <dd class="data-summary-value">
              Verified on {{d.testDate}}
            </dd>
          {% endif %}

          {% if d.verification.conts == 'Yes' %}
            <dt class="data-summary-key">
              National Insurance contributions
            </dt>
            <dd class="data-summary-value">
              Verified on {{d.testDate}}
            </dd>
          {% endif %}

          {% if d.verification.chb == 'Yes' %}
            <dt class="data-summary-key">
              Child Benefit
            </dt>
            <dd class="data-summary-value">
              Verified on {{d.testDate}}
            </dd>
          </dl>
        {% endif %}
      </div>

      <div class="column-one-third">
        <h2 class="heading-medium">Claim history</h2>
        <ul class="log">
          <li>
            <span class="line"></span>
            <h3 class="bold">Claim disallowed</h3>
            <span class="paused-until-date">by {{data.currentUser or 'John Doe'}}</span><br />
            <span class="paused-until-date">{{d.testDate}}</span>
            <p>Claimant over State Pension age at time of death.</p>
          </li>

          {% include feature + '/' + sprint + '/claim-2_log.html' %}
        </ul>
      </div>
    </div>
  </main>
{% endblock %}
