<li>
  <span class="line"></span>
  <h3 class="bold">National Insurance contributions verified</h3>
  <span class="paused-until-date">by {{data.currentUser or 'John Doe'}}</span><br />
  <span class="paused-until-date">{{d.testDate}}</span>
</li>

<li>
  <span class="line"></span>
  <h3 class="bold">Death verified</h3>
  <span class="paused-until-date">by {{data.currentUser or 'John Doe'}}</span><br />
  <span class="paused-until-date">{{d.testDate}}</span>
</li>

<li>
<span class="line"></span>
  <h3 class="bold">Marriage verified</h3>
  <span class="paused-until-date">by {{data.currentUser or 'John Doe'}}</span><br />
  <span class="paused-until-date">{{d.testDate}}</span>
</li>