{% extends "layout-dwp-admin.html" %}

{% block page_title %}
  Pause claim
{% endblock %}

{% block customNav %}
  {% include './_custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="grid-row">
      <div class="column-two-thirds">
        {% include feature + '/' + sprint + '/' + '_paused-claim-banner.html' %}
        
        <h1 class="heading-xlarge">
          Claim can't be processed
        </h1>

        <h2 class="heading-small">Reasons</h2>
        <ul class="list list-bullet">
          <li>Marriage could not be verified</li>
        </ul>
        
        <h2 class="heading-medium">How long do you want to pause this claim?</h2>
        <form method="post">
          <div class="form-group">
            <fieldset>
              <div class="multiple-choice">
                <input id="1day" type="radio" name="pauseFor" value="1day">
                <label for="1day">1 day</label>
              </div>
            
              <div class="multiple-choice">
                <input id="1week" type="radio" name="pauseFor" value="1week">
                <label for="1week">1 week</label>
              </div>
          
              <div class="multiple-choice">
                <input id="2weeks" type="radio" name="pauseFor" value="2weeks">
                <label for="2weeks">2 weeks</label>
              </div>
            </fieldset>
          </div>

          <button class="button" type="submit">Pause claim</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}


