<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>9 April 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Duplicate claim</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Duplicate claim</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Combined check nino and duplicate claim pages for context</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  This tested slightly better than last time, but again the agents were confused 
  with the content. Agents don't always understand which is the claimant, which 
  is the deceased and which is the new and old claim.
</p>

<br />

<a href="/claim-capture-list/version-13" class="button button-start">Start now</a>
