<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>5 March 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Children details</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Children details</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Split children verification into capture and CHB verification</li>
  <li>Added a reminder for dependand children with no CHB number</li>
  <li>Amended claim history to give more details about children situation</li>
  <li>Amended confirm and claim details to include capture and verification seperately</li>
  <li>Added title to partner details</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  On the whole, the changes tested well.
</p>
<p>
  Because we renamed 'Dependent children' to 'Children details', agents assumed 
  they didn't need to fill this out because they could see from the claim form 
  the claimant did not have children. This caused confusion.
</p>
<p>
  There is content that asks the claimant to contact the claimant if they say 
  they have dependent children, but have no Child Benefit number. Agents explained 
  that they already have a process in place for this in the form of the letter, 
  so the content may be redundant.
</p>
<p>
  Claimants complained that flicking backwards and forwards through the paper 
  form is annoying and confusing.
</p>

<br />

<a href="/claim-capture-list/version-8" class="button button-start">Start now</a>
