<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>26 March 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Industrial injury</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Industrial injury</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Added a question to capture if the death was the result of an industrial injury</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents explained that if it was the result of an injury it would need to be 
  referred to IIDB and they would have to verify it. They would not put anything 
  into payment until this had been done.
</p>
<p>
  More work will be needed to make sure the claim can be paused in these cases.
</p>

<br />

<a href="/claim-capture-list/version-12" class="button button-start">Start now</a>
