<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>9 April 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Industrial injury</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Industrial injury</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Adding a field to check if verified by IIDB</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  This tested well. Agents understood why the claim was paused and how they would 
  progress by contacting IIDB.
</p>

<br />

<a href="/claim-capture-list/version-14" class="button button-start">Start now</a>
