<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>5 December 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim capture</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Task List pattern</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>changed content to take into account civil partnerships</li>
  <li>added children details to confirm pages and claims</li>
  <li>added the title field</li>
  <li>added building society to payment details</li>
  <li>split death verification into two steps</li>
  <li>added the location of marriage verification</li>
  <li>added the disallowance reason to the top of the claim to make it more prominant</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Adding the title field seemed to improve the data quality as agents stopped 
  putting it in the full name field.
</p>
<p>
  Adding building society didn't cause any issues, but there are still some questions 
  around the pattern being used.
</p>

<br />

<a href="/claim-capture-list/version-2" class="button button-start">Start now</a>
