<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>8 June 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Duplicate claim</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Duplicate claim</h2>

<h3 class="heading-small">Changes</h3>
<ul class="list list-bullet">
  <li>Content changed for duplicates where there are two claimants</li>
</ul>

<h3 class="heading-small">Claim forms</h3>
<ul class="list list-bullet">
  <li><a href="/claim-capture-list/version-15/load-pdf/1.pdf" target="_blank">Scenario 1</a></li>
  <li><a href="/claim-capture-list/version-15/load-pdf/2.pdf" target="_blank">Scenario 2</a></li>
  <li><a href="/claim-capture-list/version-15/load-pdf/3.pdf" target="_blank">Scenario 3</a></li>
  <li><a href="/claim-capture-list/version-15/load-pdf/4.pdf" target="_blank">Scenario 4</a></li>
  <li><a href="/claim-capture-list/version-15/load-pdf/6.pdf" target="_blank">Scenario 6</a></li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Not yet researched.
</p>

<br />

<a href="/claim-capture-list/version-16" class="button button-start">Start now</a>
