<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>26 March 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Death verification</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Death verification</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Added screen for date of death not matching verified date of death</li>
  <li>Modified prototype to reflect choices made rather than dummy data</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  This was confusing for agents. They often didn't realise they had entered the 
  date of death twice. More work will be needed.
</p>

<br />

<a href="/claim-capture-list/version-11" class="button button-start">Start now</a>
