<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>22 March 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Duplicate claim</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Duplicate claim</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Added check for duplicate claims</li>
  <li>Removed numbers on task-list headings</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  The duplicate claims content was confusing. People didn't full understand what 
  was going on. A lot of agents automatically assumed the claimant had commited 
  bigamy, when the scenarios were in fact all slightly different.
</p>

<br />

<a href="/claim-capture-list/version-10" class="button button-start">Start now</a>
