<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>5 February 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim capture</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Task List pattern</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>brought the sex question into the initial capture</li>
  <li>changed claimant details task to contact details</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Splitting the contact details out seemed to work well. Although agents were 
  asking why we were capturing it in the first place if the system does not use 
  it to generate letters.
</p>
<p>
  Bringing the sex question into the initial claim caused no issues.
</p>

<br />

<a href="/claim-capture-list/version-4" class="button button-start">Start now</a>
