<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>2 November 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim capture</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Task List pattern</h2>

<h3 class="heading-small">First iteration</h3>

<p>
  In this prototype, we were looking at how agents might handle capturing a new
  claim. Unlike the linear journey, this version explores allowing the agents to 
  process a claim in whichever order they like.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents missed the reason for a claim being disallowed when viewing the claim 
  details. This concerned them as a less experienced team member may not be aware 
  how to tell from the claim details shown why this was the case. 
</p>
<p>
  As the tasks are now split into sections the date of death appears as a 
  separate verification question. Agents were unsure why this information wasn't 
  included with the partner details, especially as they can add payment details 
  before confirming the death. 
</p>
<p>
  NI agents record their decisions on DMACR at the moment and when working 
  through the prototype questions were asked around whether this would still be 
  necessary. 
</p>

<br />

<a href="/claim-capture-list/version-1" class="button button-start">Start now</a>
