<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>11 February 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Combined flow</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Task List pattern</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Split initial information into a 3 page journey</li>
  <li>Added partner details into initial capture for duplicate check</li>
  <li>New journey for marriage verification</li>
  <li>6 Scenarios added for user research</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Splitting initial information into a 3 page journey tested fine.
</p>
<p>
  Bringing the partner details in caused no issues.
</p>
<p>
  The marriage verification scenarios tested ok. But there was a bit of confusion 
  as to whether this system or CAM would be handling BF's (paused claims). There 
  was also some confusion around the ability of only being able to choose one place 
  to verify the marriage as it could be in two systems.
</p>
<p>
  There was some concern that there was no confirmation of disallowing a claim. 
  Which means there was no way to go back if you made a mistake. It was a bit sudden.
</p>
<p>
  As we had only focussed on the marriage verification, the death verification 
  question was not consistent and this raised some questions.
</p>

<br />

<a href="/claim-capture-list/version-5" class="button button-start">Start now</a>
