<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>11 December 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim capture</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Task List pattern</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>changed the claim history to show who confirmed the details</li>
  <li>added a tag to show when a task has been actioned but not completed</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  The task list pattern tested well again. Agents realised that they could click 
  through the list and complete sections even if they didn’t have some sections 
  to complete. It was raised that the claim form was in a different order to the 
  tasks as agents weren’t aware that they could complete this in any chosen 
  order. 
</p>

<br />

<a href="/claim-capture-list/version-3" class="button button-start">Start now</a>
