<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>15 March 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Children details</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Children details</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Renamed 'Children details back to 'Dependent children'</li>
  <li>Removed content about contacting the claimant about Child Benefit</li>
  <li>Scanned forms instead of paper ones</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Renaming the section seemed to test well. In previous sessions some agents were 
  missing out the children details section because they thought if they didnt have 
  children there would be nothing to fill in.
</p>
<p>
  Testing with PDF's instead of paper forms was a great success. Agents were far 
  more comfortable scrolling up and down than turning pages. This eliminated a lot 
  of the frustrations about the form and the digital service not being in the same 
  order.
</p>

<br />

<a href="/claim-capture-list/version-9" class="button button-start">Start now</a>
