<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>26 February 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Combined flow</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Disallowing for pension age</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Converted linear section into one page to compact the task list</li>
  <li>Looked at disallowing claim because of state pension age after linear section</li>
  <li>Added title for partner details</li>
  <li>Rearranged task list order for verification</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Compacting the linear section tested fine, and agents were pleased that the 
  system disallowed the claim so early on rather than them having to waste time 
  completing all the tasks.
</p>

<br />

<a href="/claim-capture-list/version-7" class="button button-start">Start now</a>
