<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>20 February 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Combined flow</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Confirm screen before disallowing</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Changed content on verifying marriages to checkboxes</li>
  <li>Changed content on verifying death to be consistant</li>
  <li>Added a confirmation page before disallowing a claim</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Marriage verification worked much better with checkboxes as agents were now able 
  to choose multiple places they had verified it.
</p>
<p>
  Adding a confirmation page before disallowing worked well. It added a much needed 
  break point to allow agents to realise the gravity of disallowing a claim.
</p>

<br />

<a href="/claim-capture-list/version-6" class="button button-start">Start now</a>
