{% extends 'layout_email.html' %}

{% block pageTitle %}
    One Login
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% set emailContentHTML %}

                <h2 class="govuk-heading-m">You’ve created your GOV.​UK One Login.</h2>

                <div class="email-message-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                    <p class="govuk-body">Sign in to your GOV.UK One Login to:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>manage your sign in details</li>
                  <li>see and access the services you’ve used with it</li>
                </ul>
                <p class="govuk-body">
                  Sign in: <a href="#" class="govuk-link">https://www.gov.uk/account</a>
                </p>
                <p class="govuk-body">GOV.UK One Login is new. At the moment you can only use it to access some government services.</p>
                <p class="govuk-body">It does not work with all government accounts and services yet (for example Government Gateway or Universal Credit).</p>
                <p class="govuk-body">In the future, you’ll be able to use your GOV.UK One Login to access all services on GOV.UK.</p>
                <p class="govuk-body">
                If you have questions, problems or suggestions for how we could make your GOV.UK One Login better, you can contact us: <a href="#" class="govuk-link">https://signin.account.gov.uk/contact-us</a>
                </p>
                <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4  govuk-!-margin-top-4">
                
                <p class="govuk-bodygovuk-!-margin-bottom-6">Do not reply to this email - it’s an automatic message from an unmonitored account.</p>
                  
                  </div>

            {% endset %}


            {{ prototypeEmailPreview({
                headers: [
                    {
                        key: {
                            text: 'From'
                        },
                        value: {
                            text: 'GOV.UK One Login'
                        }
                    },
                    {
                        key: {
                            text: 'To'
                        },
                        value: {
                            text: 'johnsmith@test.com'
                        }
                    },
                    {
                        key: {
                            text: 'Subject'
                        },
                        value: {
                            text: 'Your GOV.UK One Login'
                        }
                    }
                ],
                content: {
                    html: emailContentHTML




                }
            }) }}

            <a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back to application</a>
        </div>

</div>

{% endblock %}
