.declaration {
  background-image: url('/public/images/icon-important.png');
  background-position: left center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-weight: bold;
  max-width: 30em;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-top: 20px;
}