.p-tabs {
  border-bottom: 1px solid $border-colour;
  list-style: none;
  margin-top: 50px;
  max-width: 30em;

  .current {
    background-color: $white;
    border: 1px solid $border-colour;
    border-bottom: hidden;
    color: $black;
  }

  li {
    background: none;
    color: $govuk-blue;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-bottom: -1px;
    margin-left: 10px;
    padding: 10px 30px;
  }

  a {
    &:visited {
      color: $link-colour;
      
      &:hover {
        color: $link-hover-colour;
      }
    }
  }
}