{% extends "layout.html" %}

{% block page_title %}
  Verify Child Benefit
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a href="/{{feature}}/{{sprint}}/task-list/{{scenario}}" class="link-back">Back</a>

        <form method="post" autocomplete="off">
          <div class="form-group" id="child-benefit">
            <div class="form-group">
              <fieldset class="inline">
                <h1 class="heading-large">Does the claimant have a Child Benefit
                  number in Child Benefit online (CBOL)?</h1>

                <div class="multiple-choice" data-target="child-benefit-number">
                  <input id="child-benefit-yes" type="radio" name="chb[answer]" value="Yes" {{'checked' if data.children['child-benefit'] === 'Yes'}}>
                  <label for="child-benefit-yes">Yes</label>
                </div>

                <div class="multiple-choice" data-target="pregnant-hidden">
                  <input id="child-benefit-no" type="radio" name="chb[answer]" value="No" {{'checked' if data.children['child-benefit'] === 'No'}}>
                  <label for="child-benefit-no">No</label>
                </div>
              </fieldset>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="child-benefit-number">
              <label class="form-label" for="chb-number">Child Benefit number</label>
              <input class="form-control" id="chb-number" name="chb[number]" type="text" value="{{data.children['chb-number']}}">
            </div>
          </div>

          <button class="button" type="submit">Continue</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
