
{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<main role="main" id="content" class="guide" lang="en">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
            <h1 class="govuk-heading-xl">Bereavement Support Payment</h1>
         </div>
         <a class="gem-c-skip-link govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>
         <aside class="part-navigation-container" role="complementary">
            <nav class="govuk-list" aria-label="Pages in this guide" role="navigation" data-module="gem-track-click" data-gem-track-click-module-started="true">
               <p class+="govuk-body">Contents</p>
               <ol class="govuk-list govuk-list--number">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--dashed" aria-current="true">
                     <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/bereavement-support-payment/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="govuk-overview.html">How it works</a>
           
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/bereavement-support-payment/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="govuk-eligibility.html">Eligibility</a>
                   
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/bereavement-support-payment/how-to-claim" data-track-options="{&quot;dimension29&quot;:&quot;How to claim&quot;}" href="govuk-whatyoullget.html">What you'll get</a>
            
                    </li>
                   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                     How to claim
           
                    </li>
                   
               </ol>
               <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
           </nav>
         </aside>
      </div>
      <div class="govuk-grid-column-two-thirds" id="guide-contents">
         <h1 class="govuk-heading-l">How to claim</h1>
         <p class="govuk-body">You can apply for Bereavement Support Payment online, by telephone or by post.</p>
          <p class="govuk-body"> To apply, you’ll need:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>your National Insurance number</li>
              <li>your bank or building society account details</li>
              <li>the date your partner died</li>
              <li>your partner’s National Insurance number</li>
          </ul>
         <h2 class="govuk-heading-m">Apply online</h2>
         <p class="govuk-body">This is a trial service and it will only allow a limited number of daily applications.</p>

        <div class="govuk-inset-text">
          If you’re in Northern Ireland you can apply using the online service. There is a different process <a rel="external" href="https://www.nidirect.gov.uk/articles/bereavement-support-payment">to apply by phone or post.</a>
        </div>

        <a href="/private-beta/v1/bereavement-support-payment/serviceproblem" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>
        <div class="govuk-!-padding-bottom-4"></div>
           
        <h2 class="govuk-heading-m">Apply by phone</h2>
        <div class="contact">
          <p>
              Bereavement Service helpline
              <br>

              Telephone: 0800 151 2012
              <br>

              Welsh language: 0800 731 0453
          </p>

          <p>
              Textphone: 0800 731 0464  
              <br>

              Welsh language: 0800 731 0456
          </p>

          <p>
              <a href="https://www.relayuk.bt.com">Relay UK</a>
               (if you cannot hear or speak on the phone): 18001 then 0800 151 2012
          </p>

          <p>
              British Sign Language (BSL) 
              <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">video relay service</a>
               if you’re on a computer - find out how to 
              <a href="https://www.youtube.com/watch?v=oELNMfAvDxw">use the service on mobile or tablet</a>
          </p>

          <p>
              Monday to Friday, 8am to 6pm
              <br>
              <a href="/call-charges">Find out about call charges</a>
          </p>
      </div>
      <div class="govuk-!-padding-bottom-4"></div>

      <h2 class="govuk-heading-m">Apply by post</h2>
      <p>To get a claim form, you can either:</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>
              download a 
              <a href="/government/publications/bereavement-support-payment-claim-form">Bereavement Support Payment form (BSP1)</a>
          </li>
          <li>
              <a rel="external" href="https://find-your-nearest-jobcentre.dwp.gov.uk/search.php">contact your nearest Jobcentre Plus</a>
               to get one through the post
          </li>
      </ul>

      <p>Send it to the address on the form.</p>

      <div class="govuk-!-padding-bottom-4"></div>
      
      <h2 class="govuk-heading-m">If you're abroad</h2>
      <div class="contact">
        <p>
            International Pension Centre
            <br>

            Telephone: +44 (0) 191 206 9390
            <br>

            Monday to Friday, 8am to 6pm
            <br>
            <a href="/call-charges">Find out about call charges</a>
        </p>
    </div>
    <div class="govuk-!-padding-bottom-4"></div>

          <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
            <div class="govuk-pagination__prev">
              <a class="govuk-link govuk-pagination__link" href="govuk-whatyoullget.html" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">What you'll get</span></a>
            </div>
          </nav>

   </div>
</main>

{% endblock %}
