
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="spa" class="govuk-back-link">Back</a>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	{% if checkanswer ==undefined and checkanswereligibility==undefined %}
	     <form action="about-child" method="post" class="form">  
	{% endif %}
	{% if checkanswer=='true' %}
	    <form action="declaration" method="post" class="form">
	{% endif %}
	{% if checkanswereligibility =='true' %}
	    <form action="check-answers-eligibility" method="post" class="form">
	{% endif %}  
              
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <h1 class="govuk-heading-xl"> When did your partner die?</h1>
                <span class="govuk-hint" id="ClaimantDOB-hint">
                  For example, 15 3 2021
               </span>              
                <div class="govuk-date-input" id="ClaimantDOB">              
                  <div class="govuk-date-input__item">
              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="ClaimantDOB-Day">              
                        Day              
                      </label>
                      <input name="claimantdaydod" class="govuk-input govuk-date-input__input govuk-input--width-2 &#10;        &#10;      " id="ClaimantDOB-dd" type="number" pattern="[0-9]*" value="{{ data['claimantdaydod'] }}" >              
                    </div>              
                  </div>
                  <div class="govuk-date-input__item">              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="ClaimantDOB-Month">              
                        Month              
                      </label>
                      <input name="claimantmonthdod" class="govuk-input govuk-date-input__input govuk-input--width-2 &#10;        &#10;      " id="ClaimantDOB-mm" type="number" pattern="[0-9]*" value="{{ data['claimantmonthdod'] }}" >              
                    </div>              
                  </div>              
                  <div class="govuk-date-input__item">              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="ClaimantDOB-Year">              
                        Year              
                      </label>              
                      <input name="claimantyeardod" class="govuk-input govuk-date-input__input govuk-input--width-4 &#10;        &#10;      " id="ClaimantDOB-yyyy" type="number" pattern="[0-9]*" value="{{ data['claimantyeardod'] }}">              
                    </div>              
                  </div>
                </div>
              </fieldset>
             
            </div>
              
 <!--

                {% if checkanswer!='true' %}
              <button class="govuk-button" data-module="govuk-button">Continue
                </button>
			{% endif %}
			{% if checkanswer=='true' %}
              <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
			{% endif %}
-->

{% if checkanswer ==undefined and checkanswereligibility==undefined %}
<button class="govuk-button" data-module="govuk-button">Continue
  {% endif %}
{% if checkanswer=='true' %}
<button class="govuk-button" data-module="govuk-button">Save and Continue</button>
{% endif %}
{% if checkanswereligibility =='true' %}
<button class="govuk-button" data-module="govuk-button">Save and Continue</button>
{% endif %}  

    </form>
  </div>
</div>
</main>
</div>
{% endblock %}
