{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 

      <h1 class="govuk-heading-xl">Feedback sent</h1>

     <p> If you like to volunteer to take part in further research to improve this service, then give us   <a class="govuk-link" target="_blank" href="https://getinvolved.dwp.gov.uk/digital/280e2568/consultation/intro/">your contact details.</a>
     </p>
     
     <p class="govuk-body">Thank you for your feedback. We'll use this to improve the service.</p>
     <p class="govuk-body">You can close this tab and go back to your application.</p>

    </div>
  </div>
{% endblock %}
