{% extends "layout.html" %}

{% block page_title %}
  Prevent payments
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a href="/{{feature}}/{{sprint}}/schedule/{{scenario}}" class="link-back">Back</a>

        <h1 class="heading-large">Confirm payment details</h1>
        
        {% include './../common/_details-payment.html' %}

        <form method ="post">
          <button class="button" type="submitr">Continue</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
