
{% extends "layouts/main.html" %}

{% set serviceName %}
  Capture Information About a Death
{% endset%}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<meta http-equiv="refresh" content="20;URL=/private-beta/telephony/a/decision-a">

<main class="govuk-main-wrapper" id="main-content">

      <div class="govuk-grid-row">
        <div class="govuk-!-padding-bottom-9"></div>
        <div class="govuk-!-padding-bottom-9"></div>
        <div class="loading" style="margin-left:auto; margin-right: auto" aria-live="polite" role="status">
      </div>
  
      <div class="govuk-!-padding-bottom-7"></div>
  
      <div class="govuk-grid-row">
      <h1 class="govuk-heading-l" style="text-align: center">Checking application details</h1>
      <p class="govuk-body" style="text-align: center">This may take up to 30 seconds. Do not close or refresh this page.</p> 
      <div class="govuk-!-padding-bottom-9"></div>
      <div class="govuk-!-padding-bottom-9"></div>
      </div>


</main>

{% endblock %}
