
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="declaration" method="post" class="form">

            <a href="dod.html" class="govuk-back-link">Back</a>

            <div class="govuk-form-group">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Where do you live?
                  </h1>
                </legend>
                         
                <fieldset class="govuk-fieldset">


                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input name="getcountrycb" class="govuk-radios__input" id="get-cb-yes4" type="radio"  value="Yes" {{ checked("getcountrycb", "Yes") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-yes4">
                        England              
                      </label>
                    </div>
                    <div class="govuk-radios__item">              
                      <input name="getcountrycb" class="govuk-radios__input" id="get-cb-no3" type="radio" value="No" {{ checked("getcountrycb", "No") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-no3">
                        Ireland              
                      </label>
                    </div>

                    <div class="govuk-radios__item">              
                      <input name="getcountrycb" class="govuk-radios__input" id="get-cb-no2" type="radio" value="No" {{ checked("getcountrycb", "No") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-no2">
                        Scotland              
                      </label>
                    </div>

                    <div class="govuk-radios__item">              
                      <input name="getcountrycb" class="govuk-radios__input" id="get-cb-no1" type="radio" value="No" {{ checked("getcountrycb", "No") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-no11">
                        Wales              
                      </label>
                    </div>

                    <p>Or</p>
                    <div class="govuk-radios__item">              
                      <input name="getcountrycb" class="govuk-radios__input" id="get-cb-Idonotknow" type="radio" value="I do not know" {{ checked("getcountrycb", "Idonotknow") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-Idonotknow">
                        Outside UK             
                      </label>
                    </div>
              </div>
<br>
                
    
              </div>
              <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>                   
         
    </div>
      </details>
    </div>
  </div>


  </main>
  </div>

{% endblock %}
