
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="country" method="post" class="form">
            <a href="relationship.html" class="govuk-back-link">Back</a>
           
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <h1 class="govuk-heading-xl">What is your  {% if includeDODName %}
				{{includeDODName}}
			
			{% endif %} date of death?</h1>
            <p class="govuk-body-l">You may be able to get Bereavement Support Payment if your husband or wife died in the last 21 months.</p>
                <span class="govuk-hint" id="ClaimantDOB-hint">
                  For example, 10 7 2019
				  
				 
               </span>              
                <div class="govuk-date-input" id="ClaimantDOB">              
                  <div class="govuk-date-input__item">
              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="ClaimantDOB-Day">              
                        Day              
                      </label>
                      <input name="claimantdaydod" class="govuk-input govuk-date-input__input govuk-input--width-2 &#10;        &#10;      " id="ClaimantDOB-dd" type="number" pattern="[0-9]*" value="{{ data['claimantdaydod'] }}" >              
                    </div>              
                  </div>
                  <div class="govuk-date-input__item">              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="ClaimantDOB-Month">              
                        Month              
                      </label>
                      <input name="claimantmonthdod" class="govuk-input govuk-date-input__input govuk-input--width-2 &#10;        &#10;      " id="ClaimantDOB-mm" type="number" pattern="[0-9]*" value="{{ data['claimantmonthdod'] }}" >              
                    </div>              
                  </div>              
                  <div class="govuk-date-input__item">              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="ClaimantDOB-Year">              
                        Year              
                      </label>              
                      <input name="claimantyeardod" class="govuk-input govuk-date-input__input govuk-input--width-4 &#10;        &#10;      " id="ClaimantDOB-yyyy" type="number" pattern="[0-9]*" value="{{ data['claimantyeardod'] }}">              
                    </div>              
                  </div>
                </div>
              </fieldset>
             
            </div>
              
 

                <button class="govuk-button" data-module="govuk-button">Continue
                </button>
    </form>
  </div>
</div>

{% endblock %}
