
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="dod" method="post" class="form">

            <a href="spa.html" class="govuk-back-link">Back</a>

            <div class="govuk-form-group">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    What is your relationship with the deceased?
                  </h1>
                </legend>
                         

                <span class="govuk-hint" id="selection-hint">
                  Select that apply
               </span> 

                <fieldset class="govuk-fieldset">


                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input name="getcb" class="govuk-radios__input" id="get-cb-yes1" type="radio"  value="Legally Married" {{ checked("getcb", "Yes") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-yes1">
                        Legally Married              
                      </label>
                    </div>
                    <div class="govuk-radios__item">              
                      <input name="getcb" class="govuk-radios__input" id="get-cb-no2" type="radio" value="Civil partner" {{ checked("getcb", "No") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-no2">
                        Civil partner              
                      </label>
                    </div>

                    <div class="govuk-radios__item">              
                      <input name="getcb" class="govuk-radios__input" id="get-cb-no3" type="radio" value="Living together relationship" {{ checked("getcb", "No") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-no3">
                        Living together relationship              
                      </label>
                    </div>

                    <p>Or</p>
                    <div class="govuk-radios__item">              
                      <input name="getcb" class="govuk-radios__input" id="get-cb-Idonotknow" type="radio" value="I do not know" {{ checked("", "Idonotknow") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-Idonotknow">
                        Other             
                      </label>
                    </div>
              </div>
<br>
                
    
              </div>
              <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>                   
         
    </div>
      </details>
    </div>
  </div>


  </main>
  </div>

{% endblock %}
