
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="spa" method="post" class="form">

      <a href="/bereavement-support-payment/how-to-claim.html" class="govuk-back-link">Back</a>

          <article>

              <h1 class="govuk-heading-xl">Bereavement Support Payment</h1>
          
           
          
            <p>A husband, wife or civil partner can apply for Bereavement Support Payment (BSP) if they were under State Pension age when their partner died.</p>
          
                <h2 class="govuk-heading-m">What you can get</h2>
                <p>BSP is a lump sum payment and then up to 18 monthly payments.</p>
                
                
                
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header"></th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Lump sum</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Monthly payments</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Standard rate</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£2,500</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£100</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Higher rate</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£3,500</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">£350</td>
                    </tr>
                  </tbody>
                </table>

                <p>If you get Child Benefit (or do not get it but are entitled to it), you will get the higher rate.</p>
                <p>If you do not get Child Benefit, you will get the standard rate unless you were pregnant when your husband, wife or civil partner died.</p>
                <p>You must claim within 3 months of the death to get the full amount. You can claim up to 21 months after their death but you will get fewer monthly payments.</p>

                <h2 class="govuk-heading-s">Eligibility</h2>
                <p class="govuk-body">When they died, you must have been:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>married or in a civil partnership with them</li>
                  <li>under State Pension age</li>
                  <li>living in the UK or a country that pays bereavement benefit</li>
                </ul>
              
                <p class="govuk-body">Your partner must have either:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>paid National Insurance contributions for at least 25 weeks in a year</li>
                  <li>died because of an accident at work or a disease caused by work</li>
                </ul>
                <p>BSP is not a means-tested benefit.</p>

                  <button class="govuk-button" data-module="govuk-button">Start claim</button>
        
       
          </form>

  </div>
</div>

{% endblock %}
