<section class="details-wrapper">
  <h2 class="heading-medium th">
    Claimant details
    {% if scenario === '1' or scenario === '2' %}
      <p class="verified-badge verified">
        Verified
      </p>
    {% elif not decision %}
      <p class="verified-badge">
        Not verified
      </p>
    {% endif %}
  </h2>

  <dl class="details-summary">
    <dt class="details-summary-key">
      Title
    </dt>
    <dd class="details-summary-value">
      {{d.claimant.title}}
    </dd>

    <dt class="details-summary-key">
      Full name
    </dt>
    <dd class="details-summary-value">
      {{d.claimant.fullName}}
    </dd>

    <dt class="details-summary-key">
      National Insurance number
    </dt>
    <dd class="details-summary-value">
      {{d.claimant.nino}}
    </dd>

    <dt class="details-summary-key">
      Date of birth
    </dt>
    <dd class="details-summary-value">
      {{d.claimant.dateOfBirth}}
    </dd>

    <dt class="details-summary-key">
      Sex
    </dt>
    <dd class="details-summary-value">
      {{d.claimant.sex}}
    </dd>
  </dl>

  {% if scenario !== '1' and scenario !== '2' %}
    <a class="change-link" href="/{{feature}}/{{sprint}}/capture/claim-details/{{scenario}}">
      Change <span class="visually-hidden"> claimant details</span>
    </a>
  {% endif %}
</section>

<section class="details-wrapper">
  <h2 class="heading-medium th">
    Deceased details
    {% if scenario === '1' or scenario === '2' %}
      <p class="verified-badge verified">
        Verified
      </p>
    {% elif not decision %}
      <p class="verified-badge">
        Not verified
      </p>
    {% endif %}
  </h2>

  <dl class="details-summary">
    <dt class="details-summary-key">
      Title
    </dt>
    <dd class="details-summary-value">
      {{d.partner.title or showDetails}}
    </dd>

    <dt class="details-summary-key">
      Full name
    </dt>
    <dd class="details-summary-value">
      {{d.partner.fullName or showDetails}}
    </dd>

    <dt class="details-summary-key">
      National Insurance number
    </dt>
    <dd class="details-summary-value">
      {{d.partner.nino or showDetails}}
    </dd>

    <dt class="details-summary-key">
      Date of death
    </dt>
    <dd class="details-summary-value">
      {{d.partner.dateOfDeath or showDetails}}
    </dd>
  </dl>

    {% if scenario !== '1' and scenario !== '2' %}
      <a class="change-link" href="/{{feature}}/{{sprint}}/capture/claim-details/{{scenario}}">
        Change <span class="visually-hidden"> deceased details</span>
      </a>
    {% endif %}
</section>

<section class="details-wrapper">
  <h2 class="heading-medium th">
    Date of claim
  </h2>

  <dl class="details-summary">
    <dt class="details-summary-key">
      Date of claim
    </dt>
    <dd class="details-summary-value">
      {{d.claimant.dateOfClaim}}
    </dd>
  </dl>

  <a class="change-link" href="/{{feature}}/{{sprint}}/capture/claim-details/{{scenario}}">
    Change <span class="visually-hidden"> date of claim</span>
  </a>
</section>