// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.prototype-email-table {
	@include govuk-font($size: 19);
	@include govuk-text-colour;
	.prototype-email-table-row {
		@include govuk-responsive-padding(4, 'top');
		@include govuk-responsive-padding(2, 'right');
		@include govuk-responsive-padding(4, 'bottom');
		@include govuk-responsive-padding(2, 'left');
		border: $govuk-border-colour 1px solid;
		border-bottom: none;
		&:last-of-type {
			border-bottom: $govuk-border-colour 1px solid;
		}
	}
	.prototype-email-table-descriptor {
		color: $govuk-secondary-text-colour;
		display: inline-block;
		width: 7em;
		text-align: right;
		@include govuk-responsive-margin(2, 'right');
	}
	.prototype-email-content {
		@include govuk-responsive-margin(4);
		@include govuk-responsive-padding(2, 'top');
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
			sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
	}
	.govuk-header__container {
		background-color: black;
		@include govuk-responsive-padding(4, 'left');
		@include govuk-responsive-padding(4, 'right');
		.govuk-header__link {
			color: white;
		}
	}
}


