{% extends "layouts/main.html" %}

{% block pageTitle %}
  You'll get Bereavement Support Payment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
  Apply for Bereavement Support Payment
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">
          You’ll get Bereavement Support Payment
        </h1>
      </div>

      <p class="govuk-body">You’ve proved your identity and your application for Bereavement Support Payment has been successful.</p>

      <h2 class="govuk-heading-m">What you’ll get</h2>

      {% if (data['children'] == "None of these apply") %}

      <p class="govuk-body">We’ll pay you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>£300 for backdated payments by {{ "today" | duration(3, "days") | govukDate(showWeekday=true) | replace(",", "")}}</li>
        <li>£100 every month starting {{ "today" | duration(1, "months") | govukDate }}</li>
      </ul>

      <p class="govuk-body">Your final payment will be on {{ "today" | duration(6, "months") | govukDate }}.</p>

      <h3 class="govuk-heading-s">How we made our decision</h3>

      <p>You’ll get the standard rate because you were not entitled to Child Benefit when your partner died.</p>

      <p>You cannot get a one-off payment of £2,500 because it’s been over a year since your partner died.</p>

      <p>We can only backdate payments up to the last 3 months from today.</p>

      {% else %}

      <p class="govuk-body">We’ll pay you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>£1,050 for backdated payments by {{ "today" | duration(3, "days") | govukDate(showWeekday=true) | replace(",", "")}}</li>
        <li>£350 every month starting {{ "today" | duration(1, "months") | govukDate }}</li>
      </ul>

      <p class="govuk-body">Your final payment will be on {{ "today" | duration(6, "months") | govukDate }}.</p>

      <h3 class="govuk-heading-s">How we made our decision</h3>

      <p>You’ll get the higher rate because you were entitled to Child Benefit when your partner died.</p>

      <p>You cannot get a one-off payment of £3,500 because it’s been over a year since your partner died.</p>

      <p>We can only backdate payments up to the last 3 months from today.</p>

      {% endif %}

      <!-- USE THIS CODE INSTEAD FOR THURSDAY UR SESSION, BASED ON DOD OF OCT 24
      {% if (data['children'] == "None of these apply") %}

      <p class="govuk-body">We’ll pay you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a one-off payment of £2,500 by {{ "today" | duration(3, "days") | govukDate(showWeekday=true) | replace(",", "")}}</li>
        <li>£300 for backdated payments by {{ "today" | duration(3, "days") | govukDate(showWeekday=true) | replace(",", "")}}</li>
        <li>£100 every month starting {{ "today" | duration(1, "months") | govukDate }}</li>
      </ul>

      <p class="govuk-body">Your final payment will be on {{ "today" | duration(12, "months") | govukDate }}.</p>

      <h3 class="govuk-heading-s">How we made our decision</h3>

      <p>You’ll get the standard rate because you were not entitled to Child Benefit when your partner died.</p>

      <p>We can only backdate payments up to the last 3 months from today.</p>

      {% else %}

      <p class="govuk-body">We’ll pay you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a one-off payment of £3,500 by {{ "today" | duration(3, "days") | govukDate(showWeekday=true) | replace(",", "")}}</li>
        <li>£1,050 for backdated payments by {{ "today" | duration(3, "days") | govukDate(showWeekday=true) | replace(",", "")}}</li>
        <li>£350 every month starting {{ "today" | duration(1, "months") | govukDate }}</li>
      </ul>

      <p class="govuk-body">Your final payment will be on {{ "today" | duration(12, "months") | govukDate }}.</p>

      <h3 class="govuk-heading-s">How we made our decision</h3>

      <p>You’ll get the higher rate because you were entitled to Child Benefit when your partner died.</p>

      <p>We can only backdate payments up to the last 3 months from today.</p>

      {% endif %} -->

      <!-- New update ADM content below -->

      <p class="govuk-body">The decision was made solely by an automated system using the information we were provided. If you have new information, or want a decision without using automation, you can <a href="https://www.gov.uk/mandatory-reconsideration" class="govuk-link" rel="noreferrer noopener" target="_blank">challenge the decision (opens in new tab)</a>.</p>
      
      <p class="govuk-body">We’ll send you a copy of this decision in a letter.</p>
      

      <!-- IF USER HAD ALT FORMAT <p class="govuk-body">We’ll contact you in your preferred format with a copy of this decision.</p> -->

    
      <h2 class="govuk-heading-m">If you change your bank details, address or name</h2>
      <p>Contact us if you change your bank details, address or name.</p>
      <p>
        Telephone: 0800 151 2012 <br>
        Welsh language: 0800 731 0453 <br>
        <br>
        Textphone: 0800 731 0464 <br>
        Welsh language: 0800 731 0456 <br>
        <br>
        If you cannot hear or speak on the phone use, use<a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Relay UK (opens in a new tab):</a> 18001 then 0800  731 0469 <br>
        <br>
        Monday to Friday, 8am to 5pm<br>
        <div class="govuk-!-padding-bottom-2"></div>
        <a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Find out about call charges (opens in new tab).</a> <br>
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>You might be eligible for help with funeral costs. <a href="https://www.gov.uk/funeral-payments" class="govuk-body govuk-!-font-size-19">Check if you can get help to pay for the funeral</a>.</p>

  <p><a target="_blank" href="/beta/r2/bereavement-support-payment/feedback" class="govuk-body govuk-!-font-size-19">What did you think of this service? (opens in new tab)</a></p>

  <br>
  
      <!-- <p class="govuk-body">
        <a href="/private-beta/v7/bereavement-support-payment/emails/award-email" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Email inbox (1)</a>
      </p>     -->

      <!-- <div class="govuk-notification-banner govuk-notification-banner--journey-options" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Prototype options
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body">You can:</p>
          <p class="govuk-body">
            <a href="/private-beta/v7/bereavement-support-payment/emails/award-email" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">View new email (opens in new tab)</a>
          </p>
        </div>
      </div> -->

      <p class="govuk-body">
        Jump to <a href="/private-beta/offline-idv/idv-failed-application-complete" class="govuk-link">other example</a>.
      </p>

</div>



{% endblock %}
