
{% extends "layouts/main.html" %}

{% block pageTitle %}
Application received, prove identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
  Apply for Bereavement Support Payment
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <form class="form" action="/private-beta/v8/bereavement-support-payment/dynamic-trust" method="post">

      <div class="govuk-panel govuk-panel--interruption">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-text-align-left govuk-!-margin-top-2 govuk-!-margin-bottom-5 white-text">
          Application received
        </h1>
        <h2 class="govuk-heading-l govuk-!-text-align-left govuk-!-margin-top-2 govuk-!-margin-bottom-5 white-text">
          Prove your identity now to get a decision faster
        </h2>
      </div>
    </div>
    <p class="govuk-body govuk-!-text-align-left white-text govuk-!-margin-bottom-2 govuk-!-padding-top-0">
      If you prove your identity now, you can:
    </p>
    <div class="govuk-!-margin-left-2">
      <ul class="govuk-list govuk-list--bullet govuk-!-text-align-left white-text govuk-!-margin-bottom-4">
        <li>find out earlier if you’ll get Bereavement Support Payment</li>
        <li>do this by answering security questions online or with a GOV.UK app
        </li>
      </ul>
    </div>
    <p class="govuk-body">You’ll need to create a GOV.UK One Login, or sign in if you have one already.</p>
    <div class="app-button--inverted govuk-!-text-align-left .govuk-button">

        <button class="govuk-button govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-weight-bold" data-module="govuk-button" data-pw="continue" data-nav="navigation" data-link="/dca/oauth2/workingCamera" ga4-trackers="navigation-tracker" ga4-data-navigation="{ &quot;text&quot;: &quot;Continue&quot;, &quot;type&quot;: &quot;generic button&quot;, &quot;external&quot;: &quot;false&quot; }">
          Prove identity
        </button>

    </div>
  </div>


    <div class="govuk-grid-column-two-thirds">

      <br>

      <p>We’ve sent you a confirmation email.</p>
      <h2 class="govuk-heading-m">If you do not prove your identity now</h2>
      <p>You’ll need to prove your identity a different way before we can make a decision about your application.</p>
      <p>We’ll call you in the next few days to do this.</p>
      <!-- IF ALT PREF FOR SPEAKING REPLACE SENTENCE ABOVE WITH
       <p>We’ll contact you in the next few days to do this.</p>
       <p>We’ll use [ALT FORMAT TO SPEAK] when contacting you.</p>
        -->
      <p>If you prove your identity and your application is successful, we’ll make a payment into your account as soon as possible.</p>

      <h2 class="govuk-heading-m">Get help with your application</h2>

      <p>If you have any questions about your application you can contact the Bereavement Support Payment team.</p>
      <p>When you call we’ll ask for your National Insurance number.</p>
      <p>
        Telephone: 0800 731 0469 <br>
        Welsh language: 0800 731 0453 <br>
        <br>
        Textphone: 0800 731 0464 <br>
        Welsh language: 0800 731 0456 <br>
        <br>
        If you cannot hear or speak on the phone use, use<a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Relay UK (opens in a new tab):</a> 18001 then 0800  731 0469 <br>
        <br>
        Monday to Friday, 8am to 5pm<br>
        <div class="govuk-!-padding-bottom-2"></div>
        <a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Find out about call charges (opens in new tab).</a> <br>
    </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p>You might be eligible for help with funeral costs. <a href="https://www.gov.uk/funeral-payments" class="govuk-body govuk-!-font-size-19">Check if you can get help to pay for the funeral</a>.</p>

      <p><a target="_blank" href="/beta/r2/bereavement-support-payment/feedback" class="govuk-body govuk-!-font-size-19">What did you think of this service? (opens in new tab)</a></p>

      <br>
      
      <br>

      <div class="govuk-notification-banner govuk-notification-banner--journey-options" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Finished application
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body">
            <a href="/private-beta/v8/bereavement-support-payment/testing-information" class="govuk-link govuk-link--no-visited-state">Click here to end journey</a>
          </p>
        </div>
      </div>

      <!-- <div class="govuk-notification-banner govuk-notification-banner--journey-options" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Prototype options
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body">You can:</p>
          <p class="govuk-body">
            <a href="/private-beta/v7/bereavement-support-payment/emails/generic-email" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">View new email (opens in new tab)</a>
          </p>
        </div>
      </div> -->

</div>
  </form>
</div>


{% endblock %}
