{% extends "layouts/main.html" %}

{% block pageTitle %}
  Application received – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
  Apply for Bereavement Support Payment
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">
          Application received
        </h1>
      </div>

      <p>We have received your application but could not prove your identity using your GOV.UK One Login.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>You’ll need to prove your identity a different way before we can make a decision about your application.</p>
      <p>We’ll call you in the next few days to do this.</p>
      <!-- IF ALT PREF FOR SPEAKING REPLACE SENTENCE ABOVE WITH
       <p>We’ll contact you in the next few days to do this.</p>
       <p>We’ll use [ALT FORMAT TO SPEAK] when contacting you.</p>
        -->

      <p>If you prove your identity and your application is successful, we’ll make a payment into your account as soon as possible.</p>


      <!-- <h2 class="govuk-heading-m">Getting the higher rate of payment</h2>
      <p>If you’ve had Child Benefit entitlement since your partner’s death you could get the higher rate of Bereavement Support Payment.</p>
      <p>Contact the <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/child-benefit" class="govuk-body govuk-!-font-size-19">Child Benefit Office</a> if you think you could be entitled but have not yet applied. If you received Child Benefit in your partner’s name, you’ll need to make a new application.</p> -->

      <h3 class="govuk-heading-m">Get help with your application</h3>

      <p>If you have any questions about your application you can contact the Bereavement Support Payment team.</p>
      <p>When you call we’ll ask for your National Insurance number.</p>
      <p>
        Telephone: 0800 731 0469 <br>
        Welsh language: 0800 731 0453 <br>
        <br>
        Textphone: 0800 731 0464 <br>
        Welsh language: 0800 731 0456 <br>
        <br>
        If you cannot hear or speak on the phone use, use<a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Relay UK (opens in a new tab):</a> 18001 then 0800  731 0469 <br>
        <br>
        Monday to Friday, 8am to 5pm<br>
        <div class="govuk-!-padding-bottom-2"></div>
        <a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Find out about call charges (opens in new tab).</a> <br>
    </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p>You might be eligible for help with funeral costs. <a href="https://www.gov.uk/funeral-payments" class="govuk-body govuk-!-font-size-19">Check if you can get help to pay for the funeral</a>.</p>

    <p><a target="_blank" href="/beta/r2/bereavement-support-payment/feedback" class="govuk-body govuk-!-font-size-19">What did you think of this service? (opens in new tab)</a></p>

    <br>
      <!-- <p class="govuk-body">
        <a href="/private-beta/v7/bereavement-support-payment/emails/standard-email" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Email inbox (1)</a>
      </p>  -->

      <!-- <div class="govuk-notification-banner govuk-notification-banner--journey-options" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Prototype options
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body">You can:</p>
          <p class="govuk-body">
            <a href="/private-beta/v7/bereavement-support-payment/emails/standard-email" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">View new email (opens in new tab)</a>
          </p>
        </div>
      </div> -->

</div>
</div>


{% endblock %}
