{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">
          You'll get Bereavement Support Payment
        </h1>
      </div>

      <p class="govuk-body">You've proved your identity and your application for Bereavement Support Payment has been successful.</p>
        
      <p class="govuk-body">We will send you a letter in the post with more details.</p> 

      <h2 class="govuk-heading-m">What you'll get</h2>

      {% if (data['children'] == "I was pregnant" or data['children'] == "I was responsible for a child aged 16 to 19 in full-time education or training" or data['children'] == "I was responsible for a child under 16" ) %}

      <p class="govuk-body">You'll get the higher rate. We will pay you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>£3,500 by Monday 29 July 2024</li>
        <li>£350 every month starting Friday 2 August 2024</li>
      </ul> 

      {% endif %}

      {% if (data['children'] == "None of these apply") %}

      <p class="govuk-body">We will pay you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>£2,500 by Monday 29 July 2024</li>
        <li>£100 every month starting Friday 2 August 2024</li>
      </ul> 

      {% endif %}

      <p class="govuk-body">Your final payment will be on Monday 2 February 2026.</p>

      <h3 class="govuk-heading-m">If your circumstances change</h3>
      <p>Contact us if you change your bank details, address or name.</p>
      <p>
        Telephone: 0800 151 2012 <br>
        Welsh language: 0800 731 0453 <br>
        <br>
        Textphone: 0800 731 0464 <br>
        Welsh language: 0800 731 0456 <br>
        <br>
        If you cannot hear or speak on the phone use, use<a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Relay UK (opens in a new tab):</a> 18001 then 0800  731 0469 <br>
        <br>
        Monday to Friday, 8am to 5pm<br>
        <div class="govuk-!-padding-bottom-2"></div>
        <a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Find out about call charges (opens in new tab).</a> <br>
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>You might be eligible for help with funeral costs. <a href="https://www.gov.uk/funeral-payments" class="govuk-body govuk-!-font-size-19">Check if you can get help to pay for the funeral</a>.</p>

  <p><a target="_blank" href="/beta/r2/bereavement-support-payment/feedback" class="govuk-body govuk-!-font-size-19">What did you think of this service? (opens in new tab)</a></p>

  <p class="govuk-body">
    Jump to <a href="/private-beta/v7/bereavement-support-payment/idv-failed-application-complete" class="govuk-link">other example</a>.
  </p>


</div>



{% endblock %}
