{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="declaration" method="post" class="form">
      
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Payment details</h2>
      

      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name on account
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['name-on-the-account'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="bank-details?checkanswerbank=true">
              Change
            </a>
          </dd> 
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['sort-code'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="bank-details?checkanswerbank=true">
              Change
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['account-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="bank-details?checkanswerbank=true">
              Change
            </a>
          </dd> 
        </div>
    {% if data['roll-number'] != '' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Roll number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['roll-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="bank-details?checkanswerbank=true">
              Change
            </a>
          </dd> 
        </div>
    {% endif %}
        </dl>


          <h2 class="govuk-heading-m">
            Contact details </h2>
          
    
          <dl class="govuk-summary-list">
    
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['telephonenumber'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="contact-details?checkanswercontact=true">
                  Change
                </a>
              </dd> 
            </div>

            {% if (data['emailanswer'] == "no") %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Confirmation email
              </dt>
              <dd class="govuk-summary-list__value">
            No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="comms-needs?checkanswercontact=true">
                  Change
                </a>
              </dd> 
            </div>

            {% endif %}

            {% if (data['emailanswer'] == "yes") %}
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['emailaddress'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="email-confirm?checkanswercontact=true">
                  Change
                </a>
              </dd> 
            </div>

            {% endif %}

            {% if (data['commsneeds'] == "yes") %}
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Use alternative formats to contact you
              </dt>
              <dd class="govuk-summary-list__value">
            Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="comms-needs?checkanswercontact=true">
                  Change
                </a>
              </dd> 
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Formats we should use
              </dt>
              <dd class="govuk-summary-list__value">
            Braile <br>
            Audio
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="comms-needs?checkanswercontact=true">
                  Change
                </a>
              </dd> 
            </div>

            {% endif %}

            {% if (data['commsneeds'] == "no") %}
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Use alternative formats to contact you
              </dt>
              <dd class="govuk-summary-list__value">
            No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="comms-needs?checkanswercontact=true">
                  Change
                </a>
              </dd> 
            </div>

            {% endif %}
  
			
			{% if data['getcountrycb']=='Wales' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Language for written communications
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['written'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="comms-lang?checkanswercontact=true">
                  Change
                </a>
              </dd> 
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Language for speaking to you
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['speak'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="comms-lang?checkanswercontact=true">
                  Change
                </a>
              </dd> 
            </div>

			{% endif %}

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Prove identity after sending application
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['identitycheck'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="bank-details?checkanswerbank=true">
            Change
          </a>
        </dd> 
      </div> -->

            </dl>

            <br>

            <p class="govuk-body-m">You have completed section 4 of 4</p><br>

      <button class="govuk-button" data-module="govuk-button">Continue</button>


    </div>

  </div>


</main>
</div> 
{% endblock %}