{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your application for Bereavement Support Payment has been successful</h1>    
        
      <p class="govuk-body">We will send you a letter in the post with more details.</p> 

      <h2 class="govuk-heading-m">What you'll get</h2>

      <p class="govuk-body">You'll get the higher rate. We will pay you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>£3,500 on Thursday 1 August 2024</li>
        <li>£350 every month starting Monday 2 September 2024</li>
      </ul> 

      <h3 class="govuk-heading-m">If your circumstances change</h3>
      <p>Contact us if you change your bank details, address or name.</p>
      <p>
        Telephone: 0800 151 2012 <br>
        Welsh language: 0800 731 0453 <br>
        <br>
        Textphone: 0800 731 0464 <br>
        Welsh language: 0800 731 0456 <br>
        <br>
        If you cannot hear or speak on the phone use, use<a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Relay UK (opens in a new tab):</a> 18001 then 0800  731 0469 <br>
        <br>
        Monday to Friday, 8am to 5pm<br>
        <div class="govuk-!-padding-bottom-2"></div>
        <a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Find out about call charges (opens in new tab).</a> <br>
      </p>

</div>



{% endblock %}
