
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back</a>
  <main class="govuk-main-wrapper">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    <form action="relationship" method="post" class="form">

              
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          When did your partner die?
        </h1>
      </legend>
      <div id="dob-hint" class="govuk-hint">
        For example, 15 3 2022
      </div>
      <div class="govuk-date-input" id="dod">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dod-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dod-day" name="dod-day" type="text" autocomplete="bday-day" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dod-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dod-month" name="dod-month" type="text" autocomplete="bday-month" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dod-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dod-year" name="dod-year" type="text" autocomplete="bday-year" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
 <!--

                {% if checkanswer!='true' %}
              <button class="govuk-button" data-module="govuk-button">Continue
                </button>
			{% endif %}
			{% if checkanswer=='true' %}
              <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
			{% endif %}
-->

{% if checkanswer ==undefined and checkanswereligibility==undefined %}
<button class="govuk-button" data-module="govuk-button">Continue
  {% endif %}
{% if checkanswer=='true' %}
<button class="govuk-button" data-module="govuk-button">Save and Continue</button>
{% endif %}
{% if checkanswereligibility =='true' %}
<button class="govuk-button" data-module="govuk-button">Save and Continue</button>
{% endif %}  

    </form>
  </div>
</div>
</main>
</div>
{% endblock %}
