{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<main role="main" id="content" class="guide" lang="en">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <div class="gem-c-title govuk-!-margin-top-4 govuk-!-margin-bottom-8">
            <h1 class="govuk-heading-xl">Bereavement Support Payment</h1>
         </div>
         <a class="gem-c-skip-link govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>
         <aside class="part-navigation-container" role="complementary">
            <nav class="govuk-list" aria-label="Pages in this guide" role="navigation" data-module="gem-track-click" data-gem-track-click-module-started="true">
               <p class+="govuk-body">Contents</p>
               <ol class="govuk-list govuk-list--number">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                     How it works
           
                   </li>
                   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/bereavement-support-payment/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="govuk-eligibility.html">Eligibility</a>
           
                   </li>
                   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/bereavement-support-payment/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="govuk-whatyoullget.html">What you'll get</a>
           
                   </li>
                   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/bereavement-support-payment/how-to-claim" data-track-options="{&quot;dimension29&quot;:&quot;How to claim&quot;}" href="govuk-howtoclaim.html">How to claim</a>
           
                   </li>
               </ol>
               <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
           </nav>
         </aside>
      </div>
      <div class="govuk-grid-column-two-thirds" id="guide-contents">
         <h1 class="govuk-heading-l">How it works</h1>
            <p class="govuk-body">You may be able to get Bereavement Support Payment if your partner has died. It has replaced the following benefits:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>Widowed Parent’s Allowance - if you already get this, your payments will continue until you’re no longer eligible</li>
            <li>Bereavement Allowance (previously Widow’s Pension)</li>
            <li>Bereavement Payment</li>
            </ul>
            
            <div class="govuk-inset-text">
               This guide is also available <a href="/beta/r5/bereavement-support-payment/how-to-claim"> in Welsh
                  (Cymraeg) </a>
             </div>

            <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
               <div class="govuk-pagination__next">
                 <a class="govuk-link govuk-pagination__link" href="govuk-eligibility.html" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                     <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                   </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
                   <span class="govuk-pagination__link-label">Eligibility</span></a>
               </div>
             </nav>
         </div>
   
    
   </div>
</main>

{% endblock %}
