
{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<main role="main" id="content" class="guide" lang="en">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <div class="gem-c-title govuk-!-margin-top-4 govuk-!-margin-bottom-8">
            <h1 class="govuk-heading-xl">Bereavement Support Payment</h1>
         </div>
         <a class="gem-c-skip-link govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>
         <aside class="part-navigation-container" role="complementary">
            <nav class="govuk-list" aria-label="Pages in this guide" role="navigation" data-module="gem-track-click" data-gem-track-click-module-started="true">
               <p class+="govuk-body">Contents</p>
               <ol class="govuk-list govuk-list--number">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--dashed" aria-current="true">
                     <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/bereavement-support-payment/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="govuk-overview.html">How it works</a>
           
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/bereavement-support-payment/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="govuk-eligibility.html">Eligibility</a>
                   
                    </li>
                   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                     What you'll get
           
                    </li>
                   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/bereavement-support-payment/how-to-claim" data-track-options="{&quot;dimension29&quot;:&quot;How to claim&quot;}" href="govuk-howtoclaim.html">How to claim</a>
           
                   </li>
               </ol>
               <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
           </nav>
         </aside>
      </div>
      <div class="govuk-grid-column-two-thirds" id="guide-contents">
         <h1 class="govuk-heading-l">What you'll get</h1>
         <p class="govuk-body">The amount of Bereavement Support Payment you can get will depend on your relationship to the person who died and when you make your claim.</p>
         <p class="govuk-body">Your payments will be paid into your <a class="govuk-link" href="https://www.gov.uk/national-insurance/how-much-you-pay">bank, building society or credit union account.</a></p>
         <div class="govuk-!-padding-bottom-3"></div>
         
         <h2 class="govuk-heading-m">If you were married or in a civil partnership to the person who died</h2>
         
         <p class="govuk-body">You’ll get the higher rate if one of the following applied when your partner died:</p>
            <ul class="govuk-list govuk-list--bullet">
               <li>you were getting <a class="gov-link" href="">Child Benefit</a></li>
               <li>you were eligible for Child Benefit</li>
               <li>you were pregnant</li>
             </ul>

             <p class="govuk-body">This is made up of:</p>
             <ul class="govuk-list govuk-list--bullet">
                <li>a first payment of £3,500</li>
                <li>up to 18 monthly payments of £350</li>
              </ul>

              <p class="govuk-body">If you were not eligible for Child Benefit, you’ll get the lower rate unless you were pregnant when your partner died.</p>

              <p class="govuk-body">This is made up of:</p>
             <ul class="govuk-list govuk-list--bullet">
                <li>a first payment of £2,500</li>
                <li>up to 18 monthly payments of £100</li>
              </ul>

              <p class="govuk-body">You must claim within 12 months of your partner’s death to get the first payment. If you claim after this time, you will only get monthly payments.</p>

        <div class="govuk-!-padding-bottom-3"></div>

            <h2 class="govuk-heading-m">If you were living together as though you were married with the person who died</h2>
            
            <h3 class="govuk-heading-s">If your partner died before 30 August 2018</h3>
            <p class="govuk-body">You will not get a first payment and may get up to 18 monthly payments of £350. You must make your claim before 9 February 2024 to get the full amount.</p>
            
            <h3 class="govuk-heading-s">If your partner died on or after 30 August 2018, but before 9 February 2023</h3>
            <p class="govuk-body">You may get a first payment of £3,500 and up to 18 monthly payments of £350. You must make your claim before 9 February 2024 to get the full amount.</p>
            
            <h3 class="govuk-heading-s">If your partner died on or after 9 February 2023</h3>
            <p class="govuk-body">You may get a first payment of £3,500 and up to 18 monthly payments of £350. To get the first payment of £3,500, you must claim within 12 months of your partner’s death. To get all of the monthly payments, you must claim within 3 months of your partner’s death.</p>

             <div class="govuk-!-padding-bottom-3"></div>

             <h2 class="govuk-heading-m">When you reach State Pension age and make a claim</h2>
             <p class="govuk-body">If you reach <a class="govuk-link" href="">State Pension age </a>within 18 months of your partner’s death, you may get fewer monthly payments.</p>
           
             <h2 class="govuk-heading-m">If you get benefits</h2>
             <p class="govuk-body">Bereavement Support Payment will not affect your benefits for a year after your first payment. After a year, money you have left from your first payment could affect the amount you get if you renew or make a claim for another benefit.</p>
             <p class="govuk-body">You must tell your benefits office (for example, <a rel="external" href="https://find-your-nearest-jobcentre.dwp.gov.uk/search.php">your local Jobcentre Plus</a>) when you start getting Bereavement Support Payment.</p>
          <br>
          <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
            <div class="govuk-pagination__prev">
              <a class="govuk-link govuk-pagination__link" href="govuk-eligibility.html" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">Eligibility</span></a>
            </div>
            <div class="govuk-pagination__next">
              <a class="govuk-link govuk-pagination__link" href="govuk-howtoclaim.html" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">How to claim</span></a>
            </div>
          </nav>

   </div>
</main>

{% endblock %}
