
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<nav class="govuk-body govuk-width-container dwp-language-toggle" aria-label="Language toggle">
  <ul class="dwp-language-toggle-list">
    <li lang="cy" class="dwp-language-toggle-list-item">
      <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
      <a href="start1" class="govuk-link">English</a>
  </li>
    <li class="dwp-language-toggle-list-item">
        Cymraeg
    </li>
  </ul>
</nav> 
<div class="govuk-width-container">
  <a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back</a>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="" method="POST" class="form">

          <article>

              <h1 class="govuk-heading-xl">Gwneud cais am Daliad Cymorth Profedigaeth</h1>
        
              <p class="govuk-body-m">Mae’n cymryd tua 15 munud i wneud cais<br><br>
                Ni allwch arbed eich cais a dod yn ôl yn nes ymlaen. Os na fyddwch yn rhoi gwybodaeth am fwy na 30 munud, bydd eich cais yn amseru allan a bydd angen i chi ddechrau eto.
  
              </p>
            
              <h2 class="govuk-heading-m">Ydy popeth rydych ei angen i wneud cais gennych?</h2>

              <p class="govuk-body">Rydych angen:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>eich rhif Yswiriant Gwladol</li>
                <li>rhif Yswiriant Gwladol eich partner</li>
                <li>y dyddiad fu farw eich partner</li>
                <li>manylion eich cyfrif banc neu gymdeithas adeiladu</li>
              </ul>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input name="next-page" class="govuk-radios__input" id="SPA-Apply-Yes" type="radio"  value="spa" date-value="Yes" {{ checked("SPA-Apply", "Yes") }}>              
                  <label class="govuk-label govuk-radios__label" for="SPA-Apply-Yes">
                    Ydy              
                  </label>
                </div>
                <div class="govuk-radios__item">              
                  <input name="next-page" class="govuk-radios__input" id="SPA-Apply-No" type="radio" value="apply-no-information" {{ checked("SPA-Apply", "No") }}>              
                  <label class="govuk-label govuk-radios__label" for="SPA-Apply-No">
                    Na              
                  </label>
                </div>   
              </div>  
          <div class="govuk-!-padding-bottom-6"></div>  
          <button class="govuk-button" data-module="govuk-button">Dechrau nawr</button>
          
       
          </form>

  </div>
</div>


</main>
</div>
{% endblock %}
