<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>23 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-817</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Offline, batch process</h2>
<p>
  First attempt.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to test what happens when an agent tries to use the service 
  during the batch process.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents didn't understand why they couldn't use the system. The smaller text on 
  the page was not read and understood. Agents weren't sure if the system had 
  gone down for them, in general or was busy. Agents would look to me to 'fix' 
  the problem as they were unsure if that was meant to happen. Time differences 
  for attempting to retry ranged from immediately to 30 minutes. Agents need to 
  know when they can use the service following the batch processing procedure. 
</p>

<br />

<a href="/payment-scheduler/version-14" class="button button-start">Start now</a>
