<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>1 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-865</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Standard to higher</h2>
<p>
  First attempt. 'Change' grouped with bank details.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to test the upgrading a claim from standard rate to higher 
  rate. For the sake of this prototype all of the set up a payment schedule 
  features have been turned off, and are limited to find a schedule, view a 
  schedule and upgrade a schedule.
</p>

<p>
  To find the schedule, search for the following Nino: <strong class="bold">AB123456C</strong>
</p>
<h3 class="heading-small">Research notes</h3>
<p>
  Agents easily navigated to the change option and confidently clicked through 
  the questions regarding changing the rate or bank details and whether all 
  previous payments should be paid at the higher rate. Once presented with the 
  payment schedule agents weren't always aware that the arrears had been paid 
  for the initial and monthly payments, this was noticed eventually but it 
  wasn't immediately clear. Agents were confident upon realising that the 
  arrears had been paid that the amounts were correct and that all future 
  payments were at the higher rate. 
</p>

<br />

<a href="/payment-scheduler/version-11" class="button button-start">Start now</a>
