<div class="grid-row">
  <div class="column-full-width">
    <h2 class="heading-medium">Validation errors - Bank details</h2>
    <p>
      Modifies what they enter in the account number field.
    </p>
  </div>

  <br />

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>1 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-181</dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to test the validation messaging on the bank details. When 
  submitting the form for the first time, if there is 8 or more characters in the 
  account number box, a function will switch out the last character that has 
  been entered, effectively creating a typo. This enables us to test the 
  validation messages in a more realistic environment.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  As soon as the error message was presented agents presumed that they had done 
  something wrong, when following the message down to the relevant fields the 
  'enter these details again' was taken literally by some agents so rather than 
  checking the information it was deleted out and fully rekeyed. The other 
  outcome was that agents checked the information on the claim form against the 
  information they had entered and rectified the error. The initial message 
  stating that the details entered were not a valid combination prompted agents 
  to check the information provided by the claimant, to request correct 
  information if necessary and if the problem had not been solved at this point 
  to contact the bank liaison team. 
</p>

<br />

<a href="/payment-scheduler/version-10" class="button button-start">Start now</a>
