<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>23 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-865</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Standard to Higher</h2>
<p>
  The wording for 'backdated payments' appears twice.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to further research the language used around payments that 
  are backdated for the claim being processed late and those that are backdated 
  because it gets upgraded from standard to higher.
</p>

<p>
  NINO required for schedule is: <strong class="bold">AB123456C</strong>.
  The backdated date is 5 April 2017.
</p>

<h3 class="heading-small">Research notes</h3>

<p>
  Not researched yet.
</p>

<br />

<a href="/payment-scheduler/version-17" class="button button-start">Start now</a>
