<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>23 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-865</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Standard to Higher</h2>
<p>
  The rate 'change' button stands individually.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to further research the standard to higher journey. In this 
  version the interaction from the schedule screen has been changed based on 
  feedback from Dover.
</p>

<p>
  NINO required for schedule is: <strong class="bold">AB123456C</strong>.
  The backdated date is 5 April 2017.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents navigated through the change options confidently realising that the 
  rate was separate from the payment details as opposed to the previous 
  confusion as to whether clicking change would only provide the opportunity to 
  change bank details. They were aware that backdated payments were referring to 
  the difference owed to claimants from the uprating.
</p>

<br />

<a href="/payment-scheduler/version-13" class="button button-start">Start now</a>
