<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>4 April 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-661</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Clerical to system</h2>
<p>
  When was the last payment made?
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  In this prototype switches out the 'when do you want the schedule to 
  start' screen for a the 'when was the last manual payment made' screen. 
  This was to test whether it made more sense to the agent to say what 
  they did last than to work out when the system needed to take over.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Asking when the last manual payment was made resulted in less hesitation from 
  agents and they audibly checked the dates presented against the front sheet to 
  confirm which ones had been made to then select the last payment.
</p>

<p>
  As the front 
  sheet shows a payment due date and processing date this caused confusion for 
  some agents as they were not familiar with using the new front sheet at the 
  point of testing.
</p>

<p>
  Including information about previous payments in the log gave the agents 
  confidence that they knew the previous actions on the claim without needing 
  to use supporting documentation from other systems. Enough information was 
  provided to allow queries to be answered and agents understood that planned 
  payments were set up from the correct date. 
</p>

<br />

<a href="/payment-scheduler/version-5" class="button button-start">Start now</a>
