<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>2 March 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-661</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Clerical to system</h2>
<p>
  Select all payments that have been made.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  In this prototype some screens have been introduced to allow the agent
  to add a schedule that has already had some payments made during the
  clerical contingency period.
</p>

<h3 class="heading-small">Research notes</h3>
<details>
  <summary><span class="summary">Show notes</span></summary>
  <div class="panel panel-border-narrow">
    <p>
      Tested well in general, but some questions around whether the 'Which 
      payments have been made?' screen is capturing the right information in 
      the easiest way possible. It was apparent there was a lot of clicking 
      multiple checkboxes and it seemed very inefficient.
    </p>
  </div>
</details>

<br />

<a href="/payment-scheduler/version-3" class="button button-start">Start now</a>