<h2 class="heading-medium">
  Sprint 4
</h2>

<div class="panel panel-border-narrow">
  <p>
    In this prototype we were testing the design for viewing a schedule.
    Everything except searching and viewing a schedule has been removed.
  </p>

  <h3 class="heading-small">Related JIRA stories</h3>

  <ul class="list list-bullet">
    <li>BSP-119</li>
  </ul>

  <div class="form-group">
    <a class="button" href="/payment-scheduler/version-1">View version 1</a>
  </div>

  <div class="form-group">
    <a class="button" href="/payment-scheduler/version-2">View version 2</a>
  </div>

  <details>
    <summary><span class="summary">Version 2 notes</span></summary>
    <div class="panel panel-border-narrow">
      <h2 class="heading-small">
        Version 1
      </h2>

      <p>
        The first version we tested had the column names changed to 'Sent payments' and
        'Due payments'. We also did some A/B testing, using either of the following
        two phrases; 'Sent to CPS' or 'Sent to Central Payment System'. The phrase was
        visible on every payment that had been sent to CPS. For the examples where the
        schedule was being set up and viewed on the same day, the due dates of the
        initial payments reflected that set up date.
      </p>
      <br />
    </div>
  </details>

  <details>
    <summary><span class="summary">Version 2 notes</span></summary>
    <div class="panel panel-border-narrow">
      <h2 class="heading-small">
        Version 2
      </h2>

      <p>
        The second version we tested had the column names changed to 'Payments' and
        'Planned payments'. We chose 'Sent to Central Payment System' based on the
        last round of testing, however this time we made the phrase only visible
        on payments that had been sent to CPS but were before the due date.
        For the examples where the schedule was being set up and viewed on the same day,
        the due dates of the initial payments reflected a date 2-3 working days ahead of
        that set up date.
      </p>
    </div>
  </details>
</div>