<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-865</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Change bank details</h2>

<p>
  Bank details confirmation screen.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to test a confirmation page when changing bank details. 
  We have also added the 'name on account' into the log message.
</p>

<p>
  NINO required for schedule is: <strong class="bold">AB123456C</strong>.
</p>

<h3 class="heading-small">Research notes</h3>

<p>
  Not researched yet.
</p>

<br />

<a href="/payment-scheduler/version-18" class="button button-start">Start now</a>
