<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet.</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-817</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Offline, batch process</h2>
<p>
  'Come back tomorrow' wording.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Changed the wording to indicate that the service will not be available at 6pm 
  like the previous version, but will instead not be back online until the following 
  day. This is because there is no way of knowing how long the batch process 
  will actually take.
</p>

<h3 class="heading-small">Research notes</h3>
<p>Not researched yet.</p>

<br />

<a href="/payment-scheduler/version-16" class="button button-start">Start now</a>
