<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>23 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-944</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Validation errors - Date before April 6</h2>
<p>
  First attempt.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to test what happens when an agent tries to set up a 
  schedule with the date of death before April 6.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents appreciated the date of death validation as a good safety precaution, 
  especially as they are processing two benefits with different eligibility and 
  payment methods at the same time. Agents did not find this patronising during 
  the journey. However agents are becoming suspicious to certain elements of the 
  testing in general as they are now aware that we can engineer system responses 
  to contradict what we've told them to do. 
</p>

<br />

<a href="/payment-scheduler/version-15" class="button button-start">Start now</a>
