<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>12 June 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-912</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Clerical to system</h2>
<p>
  Wording around 'have all payments been made up to yesteday'.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Prototype designed to test the clerical to system process again. In this 
  version the question has been changed to 'Have all payments up to and including 
  yesterday been made?'
</p>

<p>
  The validation messages have also been changed. Enter 8 digits into the account 
  number field to activate the error messages.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  The question asking if payments were up to date as of yesterday didn't cause 
  any problems for agents during testing and again the question was audibly read 
  aloud compared to previous versions. 
</p>
<p>
  Agents were aware that any extra information they needed regarding previous 
  payments would be in DRS, CPS or CAMlite as the front sheet would have been 
  uploaded, therefore the payment information displayed on the schedule was 
  enough to initially answer payment queries. Agents were reassured by the 
  planned payments being shown on the schedule as they had confidence that the 
  future payments would go out as planned. 
</p>
<p>
  Bank account validation was recognised by agents as 'hooking in' to another 
  system to verify the account details provided. Some agents asked before 
  setting up the payment schedule if it would validate any bank details so 
  their expectations were met when the error message had been received. 
</p>

<h4 class="bold">
  Standard to Higher
</h4>
<p>  
  Agents were uncertain as to how to change the payment rate from standard to 
  higher, this is as the change button was viewed as only being applicable to 
  bank details rather than the full table it was situated above. Once the change 
  had been applied agents were surprised that the system had worked out the 
  arrears and no manual calculations or payments were required to pay the 
  claimant what they were owed.
</p>

<h4 class="bold">
  Duplication
</h4>
<p>  
  The guidance provided was not used, agents confidently navigated around the 
  prototype to find and view the schedule and from this knew that the claim could 
  be a duplicate or a genuine second claim for a different spouse, but if this 
  was the case the second claim would need to be paid clerically. Agents were 
  curious as to whether the clerical to system option could be used for an 
  individual with two claims to migrate the second to the system once the first 
  had finished the schedule.
</p>

<br />

<a href="/payment-scheduler/version-12" class="button button-start">Start now</a>
