<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>27 March 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-661</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Clerical to system</h2>
<p>
  When do you want to schedule to start?
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  In this prototype switches out the 'which payments have been made 
  manually' screen for a the 'when do you want to start the payment 
  schedule to start' screen. This was to try and reduce the number of 
  choices a user had to make in order to reach the same outcome.
</p>

<p>
  We also added a log entry to make it more obvious it had been moved from 
  a clerical process.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  The agents found the log entry helpful. They understood that previous 
  payments were handled clerically and this prompted them to find the previous 
  payment information from the payment card or DRS.
</p>

<p>
  Agents understood selecting the date they wanted a payment schedule to start 
  and this caused less confusion around due dates of previous payments as they 
  were aware that payments would always be due on the anniversary of the death.
</p>

</p>
  ‘No payments sent’ was confusing as agents are aware that several payments 
  have been made offline. 
</p>

<br />

<a href="/payment-scheduler/version-4" class="button button-start">Start now</a>
