<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>4 May 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-661</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Validation errors</h2>
<p>
  Have all payments upto and including [Month] been made?
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  Changed the content asking the agent if they have made all of the clerical 
  payments to date. Added in the overseas country selector so that it could be 
  tested with IPC.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents were aware that payments were being sent to the Citi sort code and 
  account number and this caused confusion when asking agents to then type in 
  the claimant bank details. This may have been because of the country selector 
  as there was some hesitation here. When viewing a payment schedule, agents 
  found that they needed to be able to see the claimant bank details to help 
  with enquiries as a lot of enquiries are related to payment dates and payment 
  details. They did not see this task as unnecessary duplication. 
</p>
<p>
  There was no hesitation when asking if all payments were up to date, however 
  it became apparent that agents were not reading this information as only 
  providing one option led them to continue regardless. When asked what action 
  they would take if the payments weren't up to date, it was expected that BSP 
  Manager would pay any arrears/ missed payments as agents thought they could 
  select a 'no' option to tell the system what needed to be paid. They were not 
  aware that any missed payments would have to be paid manually.
</p>

<br />

<a href="/payment-scheduler/version-7" class="button button-start">Start now</a>
