<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>24 April 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Payment Scheduler</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd>BPS-661</dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Clerical to system</h2>
<p>
  Declaration type page with one button to confirm upto date.
</p>

<h3 class="heading-small">Changes made</h3>

<p>
  In this prototype switches out the 'when was the last manual payment made' 
  screen, and instead just asks the agent to confirm that they have made the 
  manual payments to date. This was to test a far more simple process, and also 
  to make the build less complex.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents did not understand the significance of 'Have all payments up to and 
  including April 2017 been made?'. This may have caused confusion as agents 
  were not aware that this date was dynamic, and they thought that April was 
  used in reference to the month that the payment went live. 
</p>
<p>
  As they progressed through the prototype the payment schedule was understood, 
  and at this point agents were aware of the relevance of the date used previously. 
  Agents need to be confident that all of the appropriate payments have been made 
  when they commit to creating a payment schedule.
</p>

<br />

<a href="/payment-scheduler/version-6" class="button button-start">Start now</a>
