
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main role="main" id="content" class="guide" lang="en">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
            <h1 class="gem-c-title__text govuk-heading-xl">
               Bereavement Support Payment
            </h1>
         </div>
         <a class="gem-c-skip-link govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>
         <aside class="part-navigation-container" role="complementary">
            <nav class="gem-c-contents-list ">
               <h2 class="gem-c-contents-list__title">
                  Contents
               </h2>
               <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                     Eligibility
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     <a class="gem-c-contents-list__link govuk-link " href="/beta/r3/bereavement-support-payment/what-youll-get">What you'll get</a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     <a class="gem-c-contents-list__link govuk-link " href="/beta/r3/bereavement-support-payment/how-to-claim">How to claim</a>
                  </li>
               </ol>
            </nav>
         </aside>
      </div>
      <div class="govuk-grid-column-two-thirds" id="guide-contents">
         <h1 class="part-title">
            Eligibility
         </h1>
         <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
            <p>You may be able to get Bereavement Support Payment if your husband, wife or civil partner died in the last 21 months.</p>
            <p>You must claim within 3 months of your partner’s death to get the full amount. You can claim up to 21 months after their death but you’ll get fewer monthly payments.</p>
           
            <div role="note" aria-label="Information" class="application-notice info-notice">
            <p>This guide is also available <a href="/beta/r3/bereavement-support-payment/how-to-claim"> in Welsh
            (Cymraeg) </a> </p>
            </div>
               <p>Bereavement Support Payment has replaced Bereavement Allowance (previously Widow’s Pension), Bereavement Payment, and Widowed Parent’s Allowance.</p>
           
               <h2 id="if-your-partner-died-more-than-21-months-ago">Your partner</h2>

               <p>You could be eligible if your partner either:</p>
            <ul>
               <li>paid <a href="/national-insurance/how-much-you-pay">National Insurance contributions</a> for at least 25 weeks in one tax year since 6 April 1975</li>
               <li>died because of an accident at work or a disease caused by work</li>
            </ul>
            <p>When they died you must have been:</p>
            <ul>
               <li>under State Pension age</li>
               <li>living in the UK or a <a href="javascript: void(0);">country that pays bereavement benefits</a></li>
            </ul>
            <p>You cannot claim <abbr title="Bereavement Support Payment">BSP</abbr> if you’re in prison.</p>
            <h3 id="if-your-partner-died-more-than-21-months-ago">If your partner died more than 21 months ago</h3>
            <p>You may still be able to claim <abbr title="Bereavement Support Payment">BSP</abbr> if your husband, wife or civil partner’s cause of death was confirmed more than 21 months after the death. <a href="javascript: void(0);">Call the Bereavement Service helpline</a>.</p>
            <p>If your husband, wife or civil partner died before 6 April 2017, you may be able to get <a href="javascript: void(0);">Widowed Parent’s Allowance</a> instead.</p>
         </div>
         <nav class="gem-c-pagination">
            <ul class="gem-c-pagination__list" data-module="gem-track-click">
               <li class="gem-c-pagination__item gem-c-pagination__item--next">
                  <a href="/beta/r3/bereavement-support-payment/what-youll-get" class="gem-c-pagination__link" rel="next">
                     <span class="gem-c-pagination__link-title">
                        <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                           <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                        </svg>
                        <span class="gem-c-pagination__link-text">
                        Next
                        </span>
                     </span>
                     <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                     <span class="gem-c-pagination__link-label">What you'll get</span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
      <!--
      <div class="govuk-grid-column-one-third">
         <div class="gem-c-contextual-sidebar">
            <div class="gem-c-step-nav-related gem-c-step-nav-related--singular" data-module="gem-track-click">
               <h2 class="gem-c-step-nav-related__heading">
                  <span class="gem-c-step-nav-related__pretitle">Part of</span>
                  <a href="javascript: void(0);" class="gem-c-step-nav-related__link">
                  What to do when someone dies: step by step
                  </a>
               </h2>
            </div>
            <div data-module="gemstepnav" class="gem-c-step-nav gem-c-step-nav--active">
               <div class="gem-c-step-nav__controls">
                  <button aria-expanded="false" class="gem-c-step-nav__button gem-c-step-nav__button--controls js-step-controls-button">
                     <span class="gem-c-step-nav__button-text gem-c-step-nav__button-text--all js-step-controls-button-text">Show all steps</span>
                     <span class="gem-c-step-nav__chevron js-step-controls-button-icon">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                           <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                        </svg>
                     </span>
                  </button>
               </div>
               <ol class="gem-c-step-nav__steps">
                  <li class="gem-c-step-nav__step js-step" id="register-the-death">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 1<span class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Register the death
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-register-the-death-1">
                        <ol class="gem-c-step-nav__list " data-length="1">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Register the death within 5 days </a></li>
                        </ol>
                        <p class="gem-c-step-nav__paragraph">Check what to do if:</p>
                        <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">the death has been reported to a coroner </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">the death happened outside the UK </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">you're registering a stillbirth </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">someone is missing and you think they're dead </a></li>
                        </ul>
                        <p class="gem-c-step-nav__paragraph">To stop or change benefits payments you can tell the Department for Work and Pensions (DWP) about the death straight away.</p>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step" id="arrange-the-funeral">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 2<span class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Arrange the funeral
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-arrange-the-funeral-2">
                        <ol class="gem-c-step-nav__list ">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Arrange the funeral </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Find bereavement services from your local council </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Get help paying for a funeral </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Get help paying for a child's funeral </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Find bereavement help and support </a></li>
                        </ol>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step" id="tell-government-about-the-death">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 3<span class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Tell government about the death
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-tell-government-about-the-death-3">
                        <p class="gem-c-step-nav__paragraph">The Tell Us Once service allows you to inform all the relevant government departments when someone dies.</p>
                        <ol class="gem-c-step-nav__list ">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Use the Tell Us Once service to tell government </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">If you cannot use Tell Us Once, tell government yourself </a></li>
                        </ol>
                        <p class="gem-c-step-nav__paragraph">You'll also need to tell banks, utility companies, and landlords or housing associations yourself.</p>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step gem-c-step-nav__step--active step-is-shown" id="check-if-you-can-get-bereavement-benefits" data-track-count="stepNavSection">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 4<span class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Check if you can get bereavement benefits
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">hide</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499998 10C0.499999 4.7533 4.7533 0.500001 10 0.500002C15.2467 0.500003 19.5 4.7533 19.5 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M6.32617 12.3262L10 8.65234L13.6738 12.3262" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel" id="step-panel-check-if-you-can-get-bereavement-benefits-4">
                        <p class="gem-c-step-nav__paragraph">You might be eligible for financial help. </p>
                        <p class="gem-c-step-nav__paragraph">Check if you can get:</p>
                        <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice">
                           <li class="gem-c-step-nav__list-item js-list-item gem-c-step-nav__list-item--active"><a class="gem-c-step-nav__link js-link" href="#content"><span class="gem-c-step-nav__link-active-context visuallyhidden">You are currently viewing: </span>Bereavement Support Payment if your spouse or civil partner has died </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Guardian's Allowance if you're bringing up a child whose parents have died </a></li>
                        </ul>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step" id="deal-with-your-own-benefits-pension-and-taxes">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--logic">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           and
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" >
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Deal with your own benefits, pension and taxes
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-deal-with-your-own-benefits-pension-and-taxes-5">
                        <p class="gem-c-step-nav__paragraph">Your tax, benefit claims and pension might change depending on your relationship with the person who died.</p>
                        <ol class="gem-c-step-nav__list ">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Manage your tax, pensions and benefits if your spouse has died </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Check how benefits are affected if a child dies </a></li>
                        </ol>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step" id="check-if-you-need-to-apply-to-stay-in-the-uk">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--logic">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           and
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Check if you need to apply to stay in the UK
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-check-if-you-need-to-apply-to-stay-in-the-uk-6">
                        <p class="gem-c-step-nav__paragraph">If your right to live in the UK depends on your relationship with someone who died you might need to apply for a new visa.</p>
                        <p class="gem-c-step-nav__paragraph">Check the rules if:</p>
                        <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">you're in the UK as the partner of a British Citizen or someone with indefinite leave to remain </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">your partner who died served as a member of HM Forces </a></li>
                        </ul>
                        <ol class="gem-c-step-nav__list " data-length="1">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Contact UKVI to check the rules for other visas </a></li>
                        </ol>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step" id="deal-with-their-estate">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 5<span class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Deal with their estate
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-deal-with-their-estate-7">
                        <p class="gem-c-step-nav__paragraph">You might have to deal with the will, money and property of the person who's died if you're a close friend or relative, or the executor of the will.</p>
                        <ol class="gem-c-step-nav__list ">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Check if you need to apply for probate </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Value the estate </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Deal with the estate </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Update property records </a></li>
                        </ol>
                     </div>
                  </li>
               </ol>
            </div>
         </div>
      </div>
      -->
   </div>
</main>

{% endblock %}
