{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 

      <h1 class="govuk-heading-xl">Sorry, a limited number of applications are available on this trail service each day.</h1>

      <p class="govuk-body">To claim you can call the Bereavement Service helpline:      </p>
      <p class="govuk-body">Telephone: 0800 731 0469 <br> Welsh language telephone: 0800 731 0453</p>
      <p class="govuk-body">Textphone: 0800 731 0464 <br> Welsh language telephone: 0800 731 0456</p>

      <p>If you cannot hear or speak on the phone, use <a href="https://www.gov.uk/call-charges">Relay UK (opens in a new tab)</a>: 18001 then 0800 731 0469 </p>

      <p class="govuk-body">Opening times: <br> Monday to Friday: 9.30am to 3.30pm <br> <a href="https://www.gov.uk/call-charges">Find out about call charges (opens in a new tab) </a> </p>
    
      <h3 class="govuk-heading-m">If you’re in Northern Ireland:</h3>
      <p class="govuk-body">Telephone: 0800 085 2463 <br> <a href="https://www.gov.uk/call-charges"> For sign language,use the video relay service (opens in a new tab) </a>
      <br> <br> Monday to Friday: 9am to 5pm <br> <a href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges (opens in a new tab) </a> </p>


    </div>
  </div>
{% endblock %}
