
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="your-ni.html" class="govuk-back-link">Back</a>             
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	{% if checkanswer ==undefined and checkansweraboutyou==undefined %}
	    <form action="your-address" method="post" class="form">
	{% endif %}
	{% if checkanswer=='true' %}
	    <form action="check-answers" method="post" class="form">
	{% endif %}
	{% if checkansweraboutyou =='true' %}
	    <form action="check-answers-about-you" method="post" class="form">
	{% endif %} 
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">What is your home postcode?</h1>
               
                <span class="govuk-hint" id="ClaimantDOB-hint">
                  This is where we will send letters about your application.
               </span>  <br>         
           <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                Postcode
              </label>
            </h1>
            <input class="govuk-input govuk-input--width-10" id="home-postcode" name="postcode" type="text" value="{{ data['postcode'] }}">
          </div>
			{% if checkanswer!='true' %}
              <button class="govuk-button" data-module="govuk-button">Find address</button>
			{% endif %}
			{% if checkanswer=='true' %}
              <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
			{% endif %}
  
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Get help with your application
          </span>
        </summary>
        <div class="govuk-details__text">
          Telephone: 0800 731 0469 <br>
          Welsh language: 0800 731 0453 <br>
          <br>
          Textphone: 0800 731 0464 <br>
          Welsh language: 0800 731 0456 <br>
          <br>
          If you cannot hear or speak on the phone use Relay UK: 18001 then 0800  731 0469 <br>
          <br>
          Monday to Friday, 9.30am to 3.30pm <br>
          Find out about call charges <br>
        </div>
      </details>
  
    </form>      
  </div>            
  </div>
             
</main>
</div>
{% endblock %}
