{% extends "layout.html" %}
{% set t = '_test' | loadDummyData(feature) %}
{% set d = scenario | loadDummyData(feature) %}

{% block page_title %}
  Claimant can't get Bereavement Support Payment
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="grid-row">
      <div class="column-two-thirds">
        
        <h1 class="heading-large">
          <strong class="bold">{{d.claimant.fullName}}</strong> can't get Bereavement Support Payment
        </h1>

        <form method="post" autocomplete="off">
          <div class="form-group">
            <fieldset class="inline">
              <legend>
                Is {{d.claimant.fullName}}'s date of birth <strong class="bold">{{d.claimant.dateOfBirth}}</strong>? 
              </legend>
          
              <div class="multiple-choice" data-target="contact-by-email">
                <input id="dobCorrect-yes" type="radio" name="dobCorrect" value="Yes">
                <label for="dobCorrect-yes">Yes</label>
              </div>
          
              <div class="multiple-choice" data-target="contact-by-phone">
                <input id="dobCorrect-no" type="radio" name="dobCorrect" value="No">
                <label for="dobCorrect-no">No</label>
              </div>
            </fieldset>
          </div>

          <div class="form-group">
            <fieldset class="inline">
              <legend>Did {{d.partner.fullName}} die on <strong class="bold">{{d.partner.dateOfDeath}}</strong>?</legend>
          
              <div class="multiple-choice" data-target="contact-by-email">
                <input id="dobCorrect-yes" type="radio" name="dodCorrect" value="Yes">
                <label for="dobCorrect-yes">Yes</label>
              </div>
          
              <div class="multiple-choice" data-target="contact-by-phone">
                <input id="dobCorrect-no" type="radio" name="dodCorrect" value="No">
                <label for="dobCorrect-no">No</label>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
