{% extends "layout.html" %}

{% block page_title %}
  Partner details
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="column-two-thirds">
      <a href="/{{feature}}/{{sprint}}/task-list/{{scenario}}" class="link-back">Back</a>

      <h1 class="heading-large">
        Partner details
      </h1>

      <form method="post" autocomplete="off">
        <div class="form-group">
          <div class="form-group">
            <label for="full-name">
              <span class="form-label">Full name</span>
            </label>
            <input class="form-control" type="text" name="partner[full-name]" id="full-name" value="{{data.partner['full-name']}}">
          </div>
        
          <div class="form-group">
            <label for="nino">
              <span class="form-label">
                National Insurance number
              </span>
            </label>
            <input class="form-control" type="text" name="partner[nino]" id="nino" value="{{data.partner.nino}}">
          </div>
        </div>

        <fieldset>
          <legend class="heading-small">What date did they die?</legend>

          <div class="form-group">
            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="dateOfDeath-day">
                  Day
                </label>
                <input class="form-control" id="dateOfDeath-day" type="number" name="partner[dateOfdeath][day]" aria-describedby="dateOfDeath-hint" value="{{data.partner.dateOfDeath.day}}">
              </div>

              <div class="form-group form-group-month">
                <label class="form-label" for="dateOfDeath-month">
                  Month
                </label>
                <input class="form-control" id="dateOfDeath-month" type="number" name="partner[dateOfdeath][month]" value="{{data.partner.dateOfdeath.month}}">
              </div>

              <div class="form-group form-group-year">
                <label class="form-label" for="dateOfDeath-year">
                  Year
                </label>
                <input class="form-control" type="number" id="dateOfDeath-year" min="0" name="partner[dateOfdeath][year]" value="{{data.partner.dateOfDeath.year}}">
              </div>
            </div>
          </div>
        </fieldset>
        
        <button type="submit" class="button">
          Continue
        </button>
      </div>
    </form>
  </main>
{% endblock %}
