{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="contact-decision.html" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="infosent" method="post" class="form">
        
      <h1 class="govuk-heading-xl">
        Check your answers before <br> sending your application
      </h1>

      <h2 class="govuk-heading-m">
        Eligibility
      </h2>
      

      <dl class="govuk-summary-list">
       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Your date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['claimantday'] }} / {{ data['claimantmonth'] }} / {{ data['claimantyear'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="spa?checkanswer=true">
              Change
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Date partner died
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['claimantdaydod'] }} / {{ data['claimantmonthdod'] }} / {{ data['claimantyeardod'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="dod?checkanswer=true">
              Change
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Person who's died
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['getcb'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="relationship?checkanswer=true">
              Change
            </a>
          </dd> 
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Where you live
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['getcountrycb'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="country?checkanswer=true">
              Change
            </a>
          </dd> 
        </div>
      </dl>


      <h2 class="govuk-heading-m">
        About you
      </h2>
       
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['claimantfullname'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="your-name?checkanswer=true">
              Change
            </a>
          </dd> 
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['claimantinsurancenumber'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="your-ni?checkanswer=true">
              Change
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['sort'] }}, &nbsp; {{ data['postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="your-postcode?checkanswer=true">
              Change
            </a>
          </dd>
        </div>



      
	   {% if data['getcb'] === 'husband' or data['getcb'] === 'wife' %}
	   <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of marriage
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['claimantdaymd'] }} / {{ data['claimantmonthmd'] }} / {{ data['claimantyearmd'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="marriage-date?checkanswer=true">
              Change
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Marriage in UK
          </dt>
          <dd class="govuk-summary-list__value">
            {% for feature in data['marriage-location'] %}
            {{ feature }}
            {% else %}
            No
            {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="marriage?checkanswer=true">
              Change
            </a>
          </dd>
        </div>


        {% if data['marriage-register'] %} 
		<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Signed marriage register
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['marriage-register'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="marriage-register?checkanswer=true">
              Change
            </a>
          </dd>
        </div>
        {% endif %}



		<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have a marriage certificate
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['marriage-certificate'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="marriage-certificate?checkanswer=true">
              Change
            </a>
          </dd>
        </div>
        


        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Were you married by a registrar
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['marriage-verify'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="marriage-verify.html">
              Change
            </a>
          </dd>
        </div> -->
		{% if data['Married-in-UK'] == 'Religious' %}
		<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Religious
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['ReligiousMarriage'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="marriage-type?checkanswer=true">
              Change 
            </a>
          </dd>
        </div>
		{% endif %}
		
		{% if data['Married-in-UK'] == 'Humanaist' %}
		<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Humanaist
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['Marriage-country-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="marriage-type?checkanswer=true">
              Change 
            </a>
          </dd>
        </div>
		{% endif %}
		
		{% if data['Married-in-UK'] == 'Ceremony' %}
		<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            No, we were married under a different ceremony
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['Marriage-ceremony-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="marriage-type?checkanswer=true">
              Change 
            </a>
          </dd>
        </div>
		{% endif %}
		{% endif %}
		{% if data['cp-location'] %}
		<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Civil partnership registration
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['cp-location'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="cp?checkanswer=true">
              Change 
            </a>
          </dd>
        </div>
		{% endif %}
		
		{% if data['CPdateday'] and data['CPdatemonth'] and data['CPdateyear'] %}
		<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of civil partnership
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['CPdateday'] }} / {{data['CPdatemonth'] }} / {{data['CPdateyear'] }}
			
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="cp-date?checkanswer=true">
              Change 
            </a>
          </dd>
        </div>
		{% endif %}
		{% if data['cpr'] %}
		<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Civil partnership registered in UK
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['cpr'] }}
			
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="cp?checkanswer=true">
              Change 
            </a>
          </dd>
        </div>
		{% endif %}
		{% if data['cpcertificate'] %} 
		<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Have a civil partnership certificate
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['cpcertificate'] }}
			
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="cp-certificate?checkanswer=true">
              Change 
            </a>
          </dd>
        </div>
		{% endif %}
    
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Children and pregnancy
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['16years'] %}
		I have a child under 16 years old<br>
		{% endif %}
		{% if data['16to19'] %}
		I have a child aged between 16 to 19 and in full-time education or training<br>
		{% endif %}
		{% if data['farm1'] %}
		I was pregnant when my partner died<br>
		{% endif %}
		{% if data['farm2'] %}
		None of these apply<br>
		{% endif %}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="about-child?checkanswer=true">
          Change
        </a>
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Get Child Benefit
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['acb'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="about-cb?checkanswer=true">
          Change
        </a>
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Child Benefit claim in your name
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['cbclaim'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="about-cb-claim?checkanswer=true">
          Change
        </a>
      </dd>
    </div>

  </dl>



      <h2 class="govuk-heading-m">
        About your {{data['getcb']}} </h2>
      

      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['deceasedfullname'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deceased-details?checkanswer=true">
              Change
            </a>
          </dd> 
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['deceasedday'] }} / {{ data['deceasedmonth'] }} / {{ data['deceasedyear'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deceased-details?checkanswer=true">
              Change
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['deceasedinsurancenumber'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deceased-details?checkanswer=true">
              Change
            </a>
          </dd> 
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Died because of an accident at work or illness caused by work
          </dt>
		  {% if data['deceaseddeath'] == 'Yes' %}
          <dd class="govuk-summary-list__value">
            Yes <!-- {{ data['deceaseddeathcountry'] }} -->
          </dd>
		  {% endif %}
		  {% if data['deceaseddeath'] != 'Yes' %}
          <dd class="govuk-summary-list__value">
            {{ data['deceaseddeath'] }}
          </dd>
		  {% endif %}
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deceased-death?checkanswer=true">
              Change
            </a>
          </dd> 
        </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Lived or worked outside the UK
          </dt>
		  {% if data['deceasedwork'] == 'Yes' %}
          <dd class="govuk-summary-list__value">
            {{ data['deceasedworkyes'] }}
          </dd>
		  {% endif %}
		  {% if data['deceasedwork'] != 'Yes' %}
          <dd class="govuk-summary-list__value">
            {{ data['deceasedwork'] }}
          </dd>
		  {% endif %}
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deceased-work?checkanswer=true">
              Change
            </a>
          </dd> 
        </div>


        </dl>




        <h2 class="govuk-heading-m">
          Payment details</h2>
        
  
        <dl class="govuk-summary-list">
  

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Name on account
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['name-on-the-account'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="bank-details?checkanswer=true">
                Change
              </a>
            </dd> 
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sort-code'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="bank-details?checkanswer=true">
                Change
              </a>
            </dd> 
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['account-number'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="bank-details?checkanswer=true">
                Change
              </a>
            </dd> 
          </div>
		  {% if data['roll-number'] != '' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Roll number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['roll-number'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="bank-details?checkanswer=true">
                Change
              </a>
            </dd> 
          </div>
			{% endif %}
          </dl>


         
          
          <h2 class="govuk-heading-m">
            Contact details </h2>
          
    
          <dl class="govuk-summary-list">
    
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['telephonenumber'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="contact-details?checkanswer=true">
                  Change
                </a>
              </dd> 
            </div>
  
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Receive confirmation email
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['emailaddress'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="contact-details?checkanswer=true">
                  Change
                </a>
              </dd> 
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                How you want to receive your decision
              </dt>
			  
			  <dd class="govuk-summary-list__value">
			  {% if data['contactemail'] %}
				{{ data['contactemail'] }} <br>
		<!--		{{data['emailaddress']}} -->
			   {% endif %}
			   {% if data['letter'] %}
				{{ data['letter'] }} <br>
			<!--	{{ data['sort'] }} <br> {{ data['postcode'] }} -->
			  {% endif %}
			  </dd>
			  
			  
			  
              
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="contact-decision?checkanswer=true">
                  Change
                </a>
              </dd> 
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Use a different format to contact you
              </dt>
              <dd class="govuk-summary-list__value">
                {% for feature in data['commsNeedsOptions'] %}
            {{ feature }}
            {% else %}
            No
            {% endfor %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="comms-needs?checkanswer=true">
                  Change
                </a>
              </dd> 
            </div>
  
            </dl>



          <h2 class="govuk-heading-m">
            Now send your application </h2>
            <p class="govuk-body">By sending your application, you agree that:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the information is correct and complete as far as you know</li>
              <li>you'll pay back any money you're overpaid if you're asked to</li>
            </ul>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You could be prosecuted or have to pay a financial penalty if <br> you deliberately give the wrong or incomplete information or do <br>not report changes.
              </strong>
            </div>

      <button class="govuk-button" data-module="govuk-button">Agree and send</button>


    </div>

  </div>


</main>
</div> 
{% endblock %}