
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="cp.html" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if checkanswer!='true' %}
	    <form action="about-child" method="post" class="form"> 
	{% endif %}
	{% if checkanswer=='true' %}
	    <form action="check-answers" method="post" class="form">
	{% endif %}
      


            <div class="govuk-form-group">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Do you have a civil partnership certificate?
                  </h1>
                </legend>
                         
                <fieldset class="govuk-fieldset">

                  <p>We may ask to see your certificate as proof you were in a legal civil partnership.</p>

                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input name="cpcertificate" class="govuk-radios__input" id="get-cb-yes4" type="radio"  value="Yes" {{ checked("cpcertificate", "Yes") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-yes4">
                        Yes              
                      </label>
                    </div>
                    
                    <div class="govuk-radios__item">              
                      <input name="cpcertificate" class="govuk-radios__input" id="get-cb-no2" type="radio" value="No" {{ checked("cpcertificate", "No") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-no2">
                        No              
                      </label>
                    </div>


                    <div class="govuk-radios__item">              
                      <input name="cpcertificate" class="govuk-radios__input" id="get-cb-no1" type="radio" value="I don't know" {{ checked("cpcertificate", "I don't know") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-no1">
                        I don't know              
                      </label>
                    </div>
                  </div>

                  </fieldset>
                  
<br>
                
    
              </div>
              {% if checkanswer!='true' %}
              <button class="govuk-button" data-module="govuk-button">Continue
                </button>
			{% endif %}
			{% if checkanswer=='true' %}
              <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
			{% endif %}

      </form>                   
         
    </div>
      </details>
    </div>
  </div>


  </main>
  </div>

{% endblock %}
