
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="your-address.html" class="govuk-back-link">Back</a>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	{% if checkanswer!='true' %}
	    <form action="cp" method="post" class="form">  
	{% endif %}
	{% if checkanswer=='true' %}
	    <form action="check-answers" method="post" class="form">
	{% endif %}
               
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <h1 class="govuk-heading-xl"> When did you register your civil partnership?</h1>
                <span class="govuk-hint" id="CPdate-hint">
                  For example, 23 05 2007
               </span>              
                <div class="govuk-date-input" id="CPdate">              
                  <div class="govuk-date-input__item">
              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="CPdate-Day">              
                        Day              
                      </label>
                      <input name="CPdateday" class="govuk-input govuk-date-input__input govuk-input--width-2 &#10;        &#10;      " id="CPdate-dd" type="number" pattern="[0-9]*" value="{{ data['CPdateday'] }}" >              
                    </div>              
                  </div>
                  <div class="govuk-date-input__item">              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="CPdate-Month">              
                        Month              
                      </label>
                      <input name="CPdatemonth" class="govuk-input govuk-date-input__input govuk-input--width-2 &#10;        &#10;      " id="CPdate-mm" type="number" pattern="[0-9]*" value="{{ data['CPdatemonth'] }}" >              
                    </div>              
                  </div>              
                  <div class="govuk-date-input__item">              
                    <div class="govuk-form-group">              
                      <label class="govuk-label govuk-date-input__label" for="CPdate-Year">              
                        Year              
                      </label>              
                      <input name="CPdateyear" class="govuk-input govuk-date-input__input govuk-input--width-4 &#10;        &#10;      " id="CPdate-yyyy" type="number" pattern="[0-9]*" value="{{ data['CPdateyear'] }}">              
                    </div>              
                  </div>
                </div>
              </fieldset>
             
            </div>
              
 

                {% if checkanswer!='true' %}
              <button class="govuk-button" data-module="govuk-button">Continue
                </button>
			{% endif %}
			{% if checkanswer=='true' %}
              <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
			{% endif %}
    </form>
  </div>
</div>


</main>
</div>

{% endblock %}
