
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="dod.html" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      
        <form action="cohabitationpost" method="post" class="form">

	
      
  
  
            <div class="govuk-form-group">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    When your partner died, were you married or in a registered civil partnership with them?
                  </h1>
                </legend>
                                  
                <fieldset class="govuk-fieldset">


                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input name="getcb" class="govuk-radios__input" id="get-cb-yes1" type="radio"  value="Married" >              
                      <label class="govuk-label govuk-radios__label" for="get-cb-yes1">
                        Yes - we were married              
                      </label>
                    </div>
                   
                   
                    <div class="govuk-radios__item">              
                      <input name="getcb" class="govuk-radios__input" id="get-cb-no3" type="radio" value="Civil partnership">              
                      <label class="govuk-label govuk-radios__label" for="get-cb-no3">
                        Yes - we had a registered civil partnership              
                      </label>
                    </div>

                    <p>Or</p>
                    <div class="govuk-radios__item">              
                      <input name="getcb" class="govuk-radios__input" id="get-cb-Idonotknow" type="radio" value="No" >              
                      <label class="govuk-label govuk-radios__label" for="get-cb-Idonotknow">
                        No             
                      </label>
                    </div>
              </div>
<br>
                
    
              </div>
             

      {% if checkanswer ==undefined and checkanswereligibility==undefined %}
      <button class="govuk-button" data-module="govuk-button">Continue
        {% endif %}
 {% if checkanswer=='true' %}
 <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
 {% endif %}
 {% if checkanswereligibility =='true' %}
 <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
 {% endif %} 


    


      </form>                   
         
    </div>
      </details>
    </div>
  </div>


  </main>
  </div>

{% endblock %}
