
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main role="main" id="content" class="guide" lang="en">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
            <h1 class="gem-c-title__text govuk-heading-xl">
               Bereavement Support Payment
            </h1>
         </div>
         <a class="gem-c-skip-link govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>
         <aside class="part-navigation-container" role="complementary">
            <nav class="gem-c-contents-list ">
               <h2 class="gem-c-contents-list__title">
                  Contents
               </h2>
               <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     <a class="gem-c-contents-list__link govuk-link " href="/beta/r4/bereavement-support-payment">Eligibility</a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
                     What you'll get
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     <a class="gem-c-contents-list__link govuk-link " href="/beta/r4/bereavement-support-payment/how-to-claim">How to claim</a>
                  </li>
               </ol>
            </nav>
         </aside>
      </div>
      <div class="govuk-grid-column-two-thirds" id="guide-contents">
         <h1 class="part-title">
            What you'll get
         </h1>
         <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
            <p>You’ll get a first payment and then up to 18 monthly payments. There are 2 rates.</p>
            <table>
               <thead>
                  <tr>
                     <td></td>
                     <th scope="col">First payment</th>
                     <th scope="col">Monthly payment</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <th scope="row">Higher rate</th>
                     <td>£3,500</td>
                     <td>£350</td>
                  </tr>
                  <tr>
                     <th scope="row">Lower rate</th>
                     <td>£2,500</td>
                     <td>£100</td>
                  </tr>
               </tbody>
            </table>
            <p>If you get Child Benefit (or if you do not get it but are entitled to it), you’ll get the higher rate.</p>
            <p>If you do not get Child Benefit, you’ll get the lower rate unless you were pregnant when your husband, wife or civil partner died.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
               <p>You must claim within 3 months of your partner’s death to get the full amount. If you claim later, you’ll get fewer monthly payments.</p>
            </div>
            <p>Your payments will be paid into your <a href="javascript: void(0);">bank or building society account</a>.</p>
            <h2 id="if-you-get-benefits">If you get benefits</h2>
            <p>Bereavement Support Payment will not affect your benefits for a year after your first payment. After a year, money you have left from your first payment could affect the amount you get if you renew or make a claim for another benefit.</p>
            <p>You must tell your benefits office (for example, your local Jobcentre Plus) when you start getting Bereavement Support Payment.</p>
         </div>
         <nav class="gem-c-pagination">
            <ul class="gem-c-pagination__list">
               <li class="gem-c-pagination__item gem-c-pagination__item--previous">
                  <a href="/beta/r4/bereavement-support-payment" class="gem-c-pagination__link">
                     <span class="gem-c-pagination__link-title">
                        <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                           <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                        </svg>
                        <span class="gem-c-pagination__link-text">
                        Previous
                        </span>
                     </span>
                     <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                     <span class="gem-c-pagination__link-label">Eligibility</span>
                  </a>
               </li>
               <li class="gem-c-pagination__item gem-c-pagination__item--next">
                  <a href="/beta/r4/bereavement-support-payment/how-to-claim" class="gem-c-pagination__link">
                     <span class="gem-c-pagination__link-title">
                        <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                           <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                        </svg>
                        <span class="gem-c-pagination__link-text">
                        Next
                        </span>
                     </span>
                     <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                     <span class="gem-c-pagination__link-label">How to claim</span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
      <!--
      <div class="govuk-grid-column-one-third">
         <div class="gem-c-contextual-sidebar">
            <div class="gem-c-step-nav-related gem-c-step-nav-related--singular">
               <h2 class="gem-c-step-nav-related__heading">
                  <span class="gem-c-step-nav-related__pretitle">Part of</span>
                  <a href="javascript: void(0);" class="gem-c-step-nav-related__link">
                  What to do when someone dies: step by step
                  </a>
               </h2>
            </div>
            <div class="gem-c-step-nav gem-c-step-nav--active">
               <div class="gem-c-step-nav__controls">
                  <button class="gem-c-step-nav__button gem-c-step-nav__button--controls js-step-controls-button">
                     <span class="gem-c-step-nav__button-text gem-c-step-nav__button-text--all js-step-controls-button-text">Show all steps</span>
                     <span class="gem-c-step-nav__chevron js-step-controls-button-icon">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                           <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                        </svg>
                     </span>
                  </button>
               </div>
               <ol class="gem-c-step-nav__steps">
                  <li class="gem-c-step-nav__step js-step" id="register-the-death">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 1<span class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Register the death
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-register-the-death-1">
                        <ol class="gem-c-step-nav__list ">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Register the death within 5 days </a></li>
                        </ol>
                        <p class="gem-c-step-nav__paragraph">Check what to do if:</p>
                        <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">the death has been reported to a coroner </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">the death happened outside the UK </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">you're registering a stillbirth </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">someone is missing and you think they're dead </a></li>
                        </ul>
                        <p class="gem-c-step-nav__paragraph">To stop or change benefits payments you can tell the Department for Work and Pensions (DWP) about the death straight away.</p>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step" id="arrange-the-funeral">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 2<span class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Arrange the funeral
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-arrange-the-funeral-2">
                        <ol class="gem-c-step-nav__list ">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Arrange the funeral </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Find bereavement services from your local council </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Get help paying for a funeral </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Get help paying for a child's funeral </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Find bereavement help and support </a></li>
                        </ol>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step" id="tell-government-about-the-death">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 3<span class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Tell government about the death
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-tell-government-about-the-death-3">
                        <p class="gem-c-step-nav__paragraph">The Tell Us Once service allows you to inform all the relevant government departments when someone dies.</p>
                        <ol class="gem-c-step-nav__list ">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Use the Tell Us Once service to tell government </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">If you cannot use Tell Us Once, tell government yourself </a></li>
                        </ol>
                        <p class="gem-c-step-nav__paragraph">You'll also need to tell banks, utility companies, and landlords or housing associations yourself.</p>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step" id="check-if-you-can-get-bereavement-benefits">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 4<span class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Check if you can get bereavement benefits
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-check-if-you-can-get-bereavement-benefits-4">
                        <p class="gem-c-step-nav__paragraph">You might be eligible for financial help. </p>
                        <p class="gem-c-step-nav__paragraph">Check if you can get:</p>
                        <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Bereavement Support Payment if your spouse or civil partner has died </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Guardian's Allowance if you're bringing up a child whose parents have died </a></li>
                        </ul>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step" id="deal-with-your-own-benefits-pension-and-taxes">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--logic">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           and
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Deal with your own benefits, pension and taxes
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-deal-with-your-own-benefits-pension-and-taxes-5">
                        <p class="gem-c-step-nav__paragraph">Your tax, benefit claims and pension might change depending on your relationship with the person who died.</p>
                        <ol class="gem-c-step-nav__list ">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Manage your tax, pensions and benefits if your spouse has died </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Check how benefits are affected if a child dies </a></li>
                        </ol>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step" id="check-if-you-need-to-apply-to-stay-in-the-uk">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--logic">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           and
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Check if you need to apply to stay in the UK
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-check-if-you-need-to-apply-to-stay-in-the-uk-6">
                        <p class="gem-c-step-nav__paragraph">If your right to live in the UK depends on your relationship with someone who died you might need to apply for a new visa.</p>
                        <p class="gem-c-step-nav__paragraph">Check the rules if:</p>
                        <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">you're in the UK as the partner of a British Citizen or someone with indefinite leave to remain </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">your partner who died served as a member of HM Forces </a></li>
                        </ul>
                        <ol class="gem-c-step-nav__list ">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Contact UKVI to check the rules for other visas </a></li>
                        </ol>
                     </div>
                  </li>
                  <li class="gem-c-step-nav__step js-step" id="deal-with-their-estate">
                     <div class="gem-c-step-nav__header js-toggle-panel">
                        <h3 class="gem-c-step-nav__title">
                           <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                           <span class="gem-c-step-nav__circle-inner">
                           <span class="gem-c-step-nav__circle-background">
                           <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 5<span class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                           </span>
                           </span>
                           </span>
                           <span class="js-step-title">
                              <button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button">
                                 <span class="gem-c-step-nav__title-text js-step-title-text">
                                 Deal with their estate
                                 </span>
                                 <span>
                                    <span class="govuk-visually-hidden">, </span>
                                    <span class="gem-c-step-nav__toggle-link js-toggle-link">
                                       <span class="gem-c-step-nav__button-text js-toggle-link-text">show</span>
                                       <span class="gem-c-step-nav__chevron js-toggle-link-icon">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path class="gem-c-step-nav__chevron-stroke" d="M0.499997 10C0.499998 4.75329 4.75329 0.499999 10 0.499999C15.2467 0.5 19.5 4.75329 19.5 10C19.5 15.2467 15.2467 19.5 10 19.5C4.75329 19.5 0.499997 15.2467 0.499997 10Z" stroke="#1D70B8"></path>
                                             <path class="gem-c-step-nav__chevron-stroke" d="M13.6738 8.67383L10 12.3477L6.32617 8.67383" stroke="#1D70B8" stroke-width="2"></path>
                                          </svg>
                                       </span>
                                    </span>
                                    <span class="govuk-visually-hidden"> this section</span>
                                 </span>
                              </button>
                           </span>
                        </h3>
                     </div>
                     <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-deal-with-their-estate-7">
                        <p class="gem-c-step-nav__paragraph">You might have to deal with the will, money and property of the person who's died if you're a close friend or relative, or the executor of the will.</p>
                        <ol class="gem-c-step-nav__list " data-length="4">
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Check if you need to apply for probate </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Value the estate </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Deal with the estate </a></li>
                           <li class="gem-c-step-nav__list-item js-list-item "><a class="gem-c-step-nav__link js-link" href="javascript: void(0);">Update property records </a></li>
                        </ol>
                     </div>
                  </li>
               </ol>
            </div>
         </div>
      </div>
      -->
   </div>
</main>

{% endblock %}
