{% extends "layout.html" %}

{% block page_title %}
  Confirm claim details
{% endblock %}

{% block customNav %}
  {% include '../../custom-nav.html' %}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/{{feature}}/{{sprint}}/task-list/{{scenario}}" class="link-back">Back</a>

      <h1 class="heading-large">
        Confirm claim details
      </h1>

      <section class="details-wrapper">
        <h2 class="heading-medium th">
          Children details
        </h2>

        <dl class="details-summary">
          <dt class="details-summary-key">
            Dependent children
          </dt>
          <dd class="details-summary-value">
            Yes
          </dd>

          <dt class="details-summary-key">
            Pregnant
          </dt>
          <dd class="details-summary-value">
            No
          </dd>

          <dt class="details-summary-key">
            Child Benefit number
          </dt>
          <dd class="details-summary-value">
            {{data.chb.number}}
          </dd>
        </dl>
      </section>

      <br />

      <form method="post" autocomplete="off">
      <div class="form-group">
        <input type="hidden" value="Yes" name="uprated" />
        <button type="submit" class="button">Confirm and submit claim</button>
      </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
