{% extends "layout.html" %}

{% block page_title %}
  Claimant name
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    {% if scenario !== '1' and scenario !== '2' %}
      {% include '../common/_notification-banner.html' %}
    {% endif %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <a href="/{{feature}}/{{sprint}}/task-list/{{scenario}}" class="link-back">Back</a>

        <form method="post" autocomplete="off">
          <div class="form-group" id="claimant-name">
            
            <div id="claimant-name-fullname">
              <h1 class="heading-large"> Claimant's full name </h1>
              <label class="form-label" for="claimant-full-name"> Do not include title</label>
              
              <!-- <input class="form-control" id="claimant-full-name" name="claimants[fullname]" type="text" value="{{data.claimants['fullname']}}"> -->
				{% if data.claimant['fullName'] %}
				<input class="form-control" type="text" name="claimant[fullName]" id="claimant-full-name" value="{{data.claimant['fullName']}}">
				 {% else %}
				 <input class="form-control" type="text" name="claimant[fullName]" id="claimant-full-name" value="{{d.claimant['fullName']}}">
				 {% endif %}
            </div>
          </div>

          <button class="button" type="submit">Continue</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
