<section class="details-wrapper">
  <h2 class="heading-medium th">
    Marriage or civil partnership
    <p class="verified-badge verified">
      Verified
    </p>
  </h2>

  <dl class="details-summary">
    <dt class="details-summary-key">
      Evidence
    </dt>
    <dd class="details-summary-value">
      Certificate
    </dd>
    <dt class="details-summary-key">
      Date
    </dt>
    <dd class="details-summary-value">
      {{d.marriage.dateOfMarriage}}
    </dd>
  </dl>
</section>

<section class="details-wrapper">
  <h2 class="heading-medium th">
    Death
    <p class="verified-badge verified">
      Verified
    </p>
  </h2>

  <dl class="details-summary">
    <dt class="details-summary-key">
      Evidence
    </dt>
    <dd class="details-summary-value">
      CIS<br />
    </dd>
    <dt class="details-summary-key">
      Date
    </dt>
    <dd class="details-summary-value">
      {{d.partner.dateOfDeath}}
    </dd>
  </dl>
</section>

<section class="details-wrapper">
  <h2 class="heading-medium th">
    National Insurance contributions
    <p class="verified-badge verified">
      Verified
    </p>
  </h2>

  <dl class="details-summary">
    <dt class="details-summary-key">
      Year
    </dt>
    <dd class="details-summary-value">
      {{data.conts.year or '2015'}}
    </dd>
  </dl>
</section>

<section class="details-wrapper">
  <h2 class="heading-medium th">
    Child Benefit
    {% if data.chb.answer === 'Yes' %}
      <p class="verified-badge verified">
        Verified
      </p>
    {% else %}
      <p class="verified-badge">
        Not verified
      </p>
    {% endif %}
  </h2>

  <dl class="details-summary">
    <dt class="details-summary-key">
      Child Benefit number
    </dt>
    <dd class="details-summary-value">
      {% if data.chb.answer === 'Yes' %}
        {{data.chb.answer}}
      {% else %}
        Missing
      {% endif %}
    </dd>
  </dl>

  {% if not data.stopReason %}
    <a class="change-link" href="/{{feature}}/{{sprint}}/capture/change-rate/{{scenario}}">
      Change <span class="visually-hidden"> evidence for Child Benefit</span>
    </a>
  {% endif %}
</section>
