<h2 class="heading-medium">Claim history</h2>
<ul class="log">
  {% if data.resumed %}
    <li>
      <span class="line"></span>
      <h3 class="bold">Payment schedule resumed</h3>
      <span class="paused-until-date">by John Doe</span><br />
      <span class="paused-until-date">26 July 2018</span>
      <p>
        {% if scenario === '1' %}
          The claimant was released on<br />1 July 2018.
        {% endif %}
      </p>
    </li>
  {% endif %}
  {% if data.payment %}
    <li>
      <span class="line"></span>
      <h3 class="bold">Payment details changed</h3>
      <span class="paused-until-date">by John Doe</span><br />
      <span class="paused-until-date">26 July 2018</span>
    </li>
  {% endif %}
  <li>
    <span class="line"></span>
    <h3 class="bold">Payment schedule paused</h3>
    <span class="paused-until-date">by John Doe</span><br />
    <span class="paused-until-date">26 June 2018</span>
    <p>
      {% if scenario === '1' %}
        The claimant was imprisoned on<br />1 August 2017.
      {% else %}
        The payments are being rejected.
      {% endif %}
    </p>
  </li>
  <li>
  <span class="line"></span>
  <h3 class="bold">Claim allowed</h3>
  <span class="paused-until-date">by John Doe</span><br />
  <span class="paused-until-date">12 June 2018</span>
  <p>
    Payment schedule created at Standard rate.
  </p>
</li>
<li>
  <span class="line"></span>
  <h3 class="bold">Claim details confirmed</h3>
  <span class="paused-until-date">by John Doe</span><br />
  <span class="paused-until-date">12 June 2018</span>
</li>
<li>
  <span class="line"></span>
  <h3 class="bold">Contributions verified</h3>
  <span class="paused-until-date">by John Doe</span><br />
  <span class="paused-until-date">12 June 2018</span>
</li>
{% if page !== 'schedule' %}
  <li>
    <span class="line"></span>
    <h3 class="bold">Relationship verified</h3>
    <span class="paused-until-date">by John Doe</span><br />
    <span class="paused-until-date">12 June 2018</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Child Benefit checked</h3>
    <span class="paused-until-date">by John Doe</span><br />
    <span class="paused-until-date">12 June 2018</span>
    <p>
      Child Benefit number missing.
    </p>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Payment details entered</h3>
    <span class="paused-until-date">by John Doe</span><br />
    <span class="paused-until-date">12 June 2018</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Children details entered</h3>
    <span class="paused-until-date">by John Doe</span><br />
    <span class="paused-until-date">12 June 2018</span>
    <p>
      Has dependent children.
    </p>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Death verified</h3>
    <span class="paused-until-date">by CIS</span><br />
    <span class="paused-until-date">12 June 2018</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Deceased details verified</h3>
    <span class="paused-until-date">by CIS</span><br />
    <span class="paused-until-date">12 June 2018</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Claimant details verified</h3>
    <span class="paused-until-date">by CIS</span><br />
    <span class="paused-until-date">12 June 2018</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Claim details entered</h3>
    <span class="paused-until-date">by John Doe</span><br />
    <span class="paused-until-date">12 June 2018</span>
  </li>
{% endif %}

</ul>
{% if page === 'schedule' %}
  <div class="panel panel-colour-timeline">
    <a href="/{{feature}}/{{sprint}}/claim/{{scenario}}/allowed/">View full claim history</a>
  </div>
{% endif %}