<div class="column-one-half">
  <h2 class="heading-small th">
    Payments issued
  </h2>

  <ul class="schedule">
    {% if data.resumed %}
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 July 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Paid manually
        </span>
      </li>
      <li class="payment payment-suspended">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 June 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Prevented
        </span>
      </li>
      <li class="payment payment-suspended">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 May 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Prevented
        </span>
      </li>
      <li class="payment payment-suspended">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 April 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Prevented
        </span>
      </li>
      <li class="payment payment-suspended">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 March 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Prevented
        </span>
      </li>
      <li class="payment payment-suspended">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 February 2019
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Prevented
        </span>
      </li>
      <li class="payment payment-suspended">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 January 2019
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Prevented
        </span>
      </li>
      <li class="payment payment-suspended">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 December 2017
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Prevented
        </span>
      </li>
      <li class="payment payment-suspended">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 November 2017
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Prevented
        </span>
      </li>
      <li class="payment payment-suspended">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 October 2017
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Prevented
        </span>
      </li>
      <li class="payment payment-suspended">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 September 2017
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Prevented
        </span>
      </li>
      <li class="payment payment-suspended">
        <time datetime="2017-12-03T00:00:00.000Z">
          9 August 2017
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
        <span class="type">
          Prevented
        </span>
      </li>
    {% endif %}

    <li class="payment">
      <time datetime="2017-12-03T00:00:00.000Z">
        9 June 2017
      </time>
      <strong class="amount">
        £100
      </strong>
    </li>
    <li class="payment">
      <time datetime="2017-12-03T00:00:00.000Z">
        9 May 2017
      </time>
      <strong class="amount">
        £100
      </strong>
    </li>
    <li class="payment">
      <time>
        9 April 2017
      </time>
      <strong class="amount">
        £2,500
      </strong>
      <span class="type">
        Initial payment
      </span>
    </li>
  </ul>
</div>

<div class="column-one-half">
  <h2 class="heading-small th">
    {% if data.resumed %}
      Planned payments
      <p class="payment-link">
        <a href="#">
          Prevent payments
        </a>
      </p>
    {% else %}
      Paused payments
      <p class="payment-link">
        <a href="/{{feature}}/{{sprint}}/schedule/{{scenario}}/resume-payments-prison">
          Resume payments
        </a>
      </p>
    {% endif %}
  </h2>

  <ul class="schedule">
    {% if not data.resumed %}
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 August 2017
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 September 2017
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 October 2017
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 November 2017
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 December 2017
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 January 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 February 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 March 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 April 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 May 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 June 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
      <li class="payment">
        <time datetime="2017-12-03T00:00:00.000Z">
          Due 9 July 2018
        </time>
        <strong class="amount">
          {{'£350' if data.chb.answer === 'Yes' else '£100'}}
        </strong>
      </li>
    {% endif %}
    <li class="payment">
      <time datetime="2017-12-03T00:00:00.000Z">
        Due 9 August 2018
      </time>
      <strong class="amount">
        {{'£350' if data.chb.answer === 'Yes' else '£100'}}
      </strong>
    </li>
    <li class="payment">
      <time datetime="2017-12-03T00:00:00.000Z">
        Due 9 September 2018
      </time>
      <strong class="amount">
        {{'£350' if data.chb.answer === 'Yes' else '£100'}}
      </strong>
    </li>
  </ul>
</div>