
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="about-cb.html" class="govuk-back-link">Back</a>             


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	{% if checkanswer ==undefined and checkansweraboutyou==undefined %}
	    <form action="check-answers-about-you" method="post" class="form">
	{% endif %}
	{% if checkanswer=='true' %}
	    <form action="check-answers" method="post" class="form">
	{% endif %}
	{% if checkansweraboutyou =='true' %}
	    <form action="check-answers-about-you" method="post" class="form">
	{% endif %}
      
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Is the claim in your name?
              </h1>
             
            </legend>

            <span class="govuk-caption-m">To get the higher rate of Bereavement Support Payment, the Child Benefit claim must be in your name, not your {{data['getcb']}}'s.
            </span>
            <br>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="cbclaim" type="radio" value="Yes" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="cbclaim" type="radio" value="No" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                <div class="govuk-form-group">
                   <p>You need to make a new claim for Child Benefit if your {{data['getcb']}} claimed it for your family.</p>
                   <p> You can claim by going to <a href="#" class="govuk-body govuk-!-font-size-19"> www.gov.uk/child-benefit </a>or calling <b>0300 200 3100</b> .</p> 
                    <p> When you get Child Benefit, we will pay you the higher rate of Bereavement Support Payment.</p>
                  </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-3" name="cbclaim" type="radio" value="Don't know" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-radios__label" for="contact-3">
                I don't know
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
              <div class="govuk-form-group">
                  <p>Contact Child Benefit on <b>0300 200 3100 </b>to check if the claim is in your name. You'll need to make a new claim if your {{data['getcb']}} claimed it for your family.

                  </p>
                  <p>We can pay you the higher rate of Bereavement Support Payment when the claim is in your name.
                  </p> 
            </div>
          </div>
        
          </fieldset>
        </div>
                <br>
                <!--
               {% if checkanswer!='true' %}
              <button class="govuk-button" data-module="govuk-button">Continue
                </button>
			{% endif %}
			{% if checkanswer=='true' %}
              <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
			{% endif %}  
 -->

      {% if checkanswer ==undefined and checkansweraboutyou==undefined %}
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      {% endif %}
	{% if checkanswer=='true' %}
  <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
	{% endif %}
	{% if checkansweraboutyou =='true' %}
  <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
	{% endif %}


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Get help with your application
          </span>
        </summary>
        <div class="govuk-details__text">
          Telephone: 0800 731 0469 <br>
          Welsh language: 0800 731 0453 <br>
          <br>
          Textphone: 0800 731 0464 <br>
          Welsh language: 0800 731 0456 <br>
          <br>
          If you cannot hear or speak on the phone use Relay UK: 18001 then 0800  731 0469 <br>
          <br>
          Monday to Friday, 9.30am to 3.30pm <br>
          Find out about call charges <br>
        </div>
      </details>

    </form>      
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
