<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>10 August 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Duplicate claim</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Duplicate claim</h2>

<h3 class="heading-small">Hard stop</h3>

<p>
  In this iteration we are looking at a hard stop for any claim where there is 
  already an existing claim (that is allowed or unfinished) against that deceased 
  nino.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents were much more confident about drawing a conclusion as to what was 
  going on with the two claims. They reached the conclusion that there were two 
  spouses making a claim quite quickly in general without prompting. When asked 
  what action they would take if they investigated and found the one in payment 
  shouldn't be, they would refer the case to the over payment team and or fraud. 
  The second claim wouldn't be recorded on the system and agents would need to 
  pay it manually should it be the rightful claim. 
</p>

<br />

<a href="/integration/version-12" class="button button-start">Start now</a>
