<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>10 July 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Late claim</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Late claim</h2>

<h3 class="heading-small">First attempt</h3>

<p>
  In this iteration we are looking at warning agents a claim is late, and amending 
  the payment schedule accordingly.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Some agents had already noticed that this was a late claim before entering the 
  claim details. There wasn’t any resistance from agents about entering this onto 
  the system whereas in the early stages of claim management agents weren’t keen 
  to enter any details about a claim they knew would be disallowed. In terms of 
  the information captured and displayed agents were confident that they would 
  have all necessary information to deal with enquiries and wouldn’t be required 
  to add any other verification that may have been provided (marriage certs etc). 
</p>

<br />

<a href="/integration/version-7" class="button button-start">Start now</a>
