<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Changing name and confirmation</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Claims Auto-populate from CIAaD</h2>


<p>
  Change claimant name, Change deceased name, Higher rate confirmation pages, Standard rate confirmation page
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/integration/version-31" class="button button-start">Start now</a>
