<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>September 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>IG Dependent children</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">IG Dependent children (happy path)</h2>

<p>
  In this iteration we are looking at adding a way to verify dependent children 
  on international claims.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  The verification section for the IG feature was listed as ‘dependent children’ 
  and agents didn’t react to this content being the same as the capture section. 
  In the final scenario where agents had received an IPC 361 they were focusing 
  on the fact that they would always receive a birth certificate with this to 
  allow it. Because of this we added a birth cert to this scenario to gain more 
  valuable insights. Agents stated that it’s unlikely for a claimant to have a 
  CHB no. but the process for selecting it was fine. Birth certs are the most 
  likely means of verification, this will always be required with a 361 so that 
  they can be confident of the age of the child. When combining these forms of 
  verification agents were confident to continue and verify the dependent children 
  on the claim. 
</p>

<br />

<a href="/integration/version-13" class="button button-start">Start now</a>
