<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>18 June 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Change Rate</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Change Rate</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>First attempt at changing the rate on a claim</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents could change the rate from the claim details tab or the payment 
  schedule tab, in this instance 2 agents changed in the claim details tab and 
  3 in the payment schedule tab. Although agents were quite confident with 
  how to change the rate, they weren’t sure if the change had been actioned 
  from their actions. Agents were using the payment schedule to confirm if 
  their actions had caused a change as this was the only option available to 
  them as they felt like there may have been something else to do to complete 
  their interaction. 
</p>

<br />

<a href="/integration/version-5" class="button button-start">Start now</a>
