<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Short Schedule</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Short Schedule (no summary)</h2>

<p>
  In the last round of research agents were once again stating the value of the 
  blue banner but weren't seeing it intially.
</p>

<p>
  In this iteration we have changed the look and style of the banner, making it 
  grey and moving it closer to the payments so that they can both be seen at 
  the same time.
</p>

<p>
  A payment summary has also been added to see if calling out the number of payments 
  makes it more obvious that some are missing.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/integration/version-27" class="button button-start">Start now</a>
