<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>10 July 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Change rate</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Change rate</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Added scenario for adding Child Benefit number</li>
  <li>Added scenario for pregnant without children</li>
  <li>Added scenario for pregnant with children</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  A banner was used to confirm that the change of rate had been actioned, a 
  confirmation page to confirm details was also added. There were now also 
  more potential questions and routes that agents could follow depending on the 
  claimant circumstances (no/yes dependent children, no/yes to pregnancy) 
  already captured as part of the claim. In this round of testing agents changed 
  the rate via the claim details and were confident navigating through the 
  questions presented and were happy that they had completed the journey. The 
  banner used worked well but would impact upon other stories that involve 
  displaying a claim history. 
</p>

<br />

<a href="/integration/version-8" class="button button-start">Start now</a>
