<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>18 June 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Change Payment Details</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Change Payment Details</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Moved back to a single change link for sections</li>
  <li>Added claim histroy to payment schedule</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  4/5 agents changed the payment details from the claim details tab and 1/5 
  changed them from the payment schedule tab. Agents were more inclined to use 
  the claim details section than during the previous round of testing. Agents 
  recognised that the change history was a new addition to the payment schedule 
  and they appreciated that this could show the most recent actions. Especially 
  as once a claim is in payment actions are usually related to a change of 
  circumstances and would therefore affect the payments. Agents understood how 
  to change the payment details on an unfinished claim and were confident finding 
  the appropriate way to do this. 
</p>

<br />

<a href="/integration/version-4" class="button button-start">Start now</a>
