<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>5 December 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Delete button</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Delete button</h2>

<p>
  In this iteration we are looking at how an agent can delete a claim that they 
  have made a mistake on, as this is not possible at the moment and is causing 
  a lot of anxiety.
</p>

<p>
  We tested a simple wireframe prototype. You can download the screens below.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<h3 class="heading-small">Wireframes</h3>
<ul class="list list-bullet">
  <li>
    <a href="/integration/version-19/pdf/delete-button.pdf">Download delete button PDF</a>
  </li>
</ul>
