<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>17 July 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Change rate</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Change rate</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Added claim history back to payment schedule.</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  1 agent changed the rate via the payment schedule and 16 agents did so via the 
  claim details tab. All agents added a pregnancy to the claim via the children 
  details section and most agents added the child benefit number via the child 
  benefit task although some chose to do this via the children details. These 
  scenarios worked well, agents could quickly understand where and how to change 
  the rate on the schedule and were happy that no other information would be 
  required in order to make the change or to understand what had happened to a 
  claim if viewing from an enquiry point of view. Taking agents to the payment 
  schedule once the change had been confirmed gave them further confidence that 
  the rate had changed as they still check the payments to see that the correct 
  backdating and uprating has taken place. 
</p>

<p>
  View payment schedule only - 10/17 agents understood the message shown to 
  them without the need for explanation or prompting, this is the most 
  positive response we’ve had when testing this feature. We stated that the 
  claim was processed using an older version of the system and during the 
  feedback session there were concerns from team members that the word ‘claim’ 
  is used too many times so this can be changed for future testing. However most 
  agents have seen this message through previous iterations so we may not get 
  accurate feedback unless fresh eyes see the message. 
</p>

<br />

<a href="/integration/version-9" class="button button-start">Start now</a>
