<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>1 November 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>RVU Referral</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">RVU Referral</h2>

<p>
  In this iteration we are looking at changing the design for capturing what the 
  outcome was in an RVU referral.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  CHB backdating - claim being paid at the standard rate, CHB has been backdated 
  but not enough to cover the initial payment and two of the first monthly payments. 
</p>

<p>
  GB agents won’t refer a case to the RVU until they have received a marriage 
  cert and a 194/195 to gather enough information for the RVU investigation. 
  This was an oversight within the current process. We need to look to test this 
  example in the next round of research. 
</p>

<p>
  This design worked much better for agents, there were no doubts about the 
  outcome of the RVU decision and how to record this. 
</p>

<br />

<a href="/integration/version-16" class="button button-start">Start now</a>
