<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>26 July 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Restart claim</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Restart claim</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Restart a claim when a claimant is released from prison</li>
  <li>Restart a claim when a payment details have been amended</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  When resuming a schedule agents were more confident with the imprisonment 
  scenario. Agents understood that there may be some payments outstanding due 
  to the anniversary date and the date that the claimant had been released from 
  prison. The payments labelled as prevented were new but agents understood that 
  these were the payments that they were not entitled to. When presenting agents 
  with the resume scenario for rejected payments they were not primed as to what 
  to do with the claim. They were told that someone had been asked to provide 
  new bank details and they had done so. Agents went straight to change payment 
  details and updated those confidently. Agents then needed prompting to check 
  if this claimant was currently receiving any payments. Once they had been 
  through the steps to resume payments it was unclear who, or what was paying 
  the manual payments whereas we didn’t see this response in the prison scenario. 
  For future testing we need to explore a scenario where more payments have been 
  issued previously to see if agents can understand which payments will need to 
  be reissued and how we can best show that. 
</p>

<br />

<a href="/integration/version-11" class="button button-start">Start now</a>
