<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>12 October 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>RVU Referral</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">RVU Referral</h2>

<p>
  In this iteration we are looking at what happens when you cant verify a marriage 
  and need to refer it to the RVU.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  It was hypothesised that agents would know that if a marriage was not 
  validated by the RVU they would know to select ‘no’ to whether they have seen 
  evidence to disallow the claim at this point. This was not the case. 
  The decision sent back from the RVU is considered evidence regardless of the 
  outcome of that evidence. When agents were referring a case to the RVU they 
  seemed to be comfortable saying that they haven't seen evidence as they were 
  unable to make a decision based on the information the claimant or the type of 
  information the claimant provided. The valid decision from the RVU seemed to 
  be straightforward for agents to work through as they take this as being their 
  evidence so they could happily say they had seen evidence. In the case where 
  the evidence from the RVU proved that the marriage was not valid agents 
  struggled. 
</p>

<p>
  Agents went on to allow this claim as they believed that they could select 
  that they have seen evidence as they have the RVU evidence even though that 
  shows they aren’t married. They knew that they would disallow this claim, but 
  they weren’t able to find the correct route on the system to do this. Some 
  agents selected the wrong options, some selected the wrong options and managed 
  to still disallow for the wrong reason, and some allowed the claim and tried 
  to change their answers but still allowed it for a second time. This did not 
  work well. 
</p>

<p>
  It’s extremely rare for the RVU to give an unknown decision, so we didn’t test 
  this scenario as it would have added extra confusion similar to the 
  disallowance route. 
</p>

<p>
  One thing that agents raised is that some international claimants won’t have 
  a NINO, they also won’t allocate them one unless they are going to be paid. 
  We need to consider how this would work alongside MI for the future. 
</p>

<br />

<a href="/integration/version-15" class="button button-start">Start now</a>
