<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>9 January 2019</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Refer to RVU</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Refer to RVU</h2>

<p>
  In the last iteration we found that a step was missing as the agents would 
  gather more info before referring the case.
</p>
<p>
  In this iteration we have added a way to gather more information AND refer to 
  the RVU. This should hopefully make the claim reflect a more truthful account 
  of where the case is up to.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/integration/version-21" class="button button-start">Start now</a>
