<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Management Information (MI)</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Management Information (MI)</h2>

<p>
  In this iteration, off the back of the last round of research, we have removed 
  the oldest outstanding claims and have replaced it with 'claims cleared'. This 
  was deemed more important by the people we tested with.
</p>

<p>
  In this iteration we have also added two date inputs so agents can enter a date 
  range to see information, as we found they need a breakdown to be more granular 
  than just monthly.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/integration/version-22" class="button button-start">Start now</a>
