<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>13 June 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Change Payment Details</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Change Payment Details</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Exploring how the payment details are changed on a claim</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents managed to change the payment details without issues. However, it was 
  around a 60/40 split as to where they changed them from. 3/7 changed them from 
  the claim details page and 4/7 changed them from the payment schedule.
</p>
<p>
  There was some confusion as to why there was 3 change links when they all went 
  to the same place, so we should look at reducing these to a single link once 
  again.
</p>
<p>
  Agents were a bit confused as to why they changed the details from the payment 
  schedule page but ended up back on the claim details page.
</p>
<p>
  Agents were frustrated that they couldn't see that the details had been updated 
  in the claim history without goin back onto the claim details tab. May have to 
  look at a way to show this on both the claim details and the payment schedule.
</p>

<br />

<a href="/integration/version-3" class="button button-start">Start now</a>
