<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>September 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>IG Dependent children</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">IG Dependent children (sad path)</h2>

<p>
  In this iteration we are looking at what happens when you can't verify the 
  dependent children on an international claim.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents were comfortable allowing a claim at the standard rate if sufficient 
  evidence hadn't been provided. There were some questions and concerns around 
  whether to select yes or no to whether evidence had been seen if enough 
  evidence had not been provided. This is because the IPC 361 is not a stand 
  alone piece of evidence, it should always be accompanied by the birth 
  certificate to warrant the higher rate being paid. This will likely need 
  more work to ensure that agents select the right answer to the initial 
  question and don’t allow a claim accidentally. 
</p>

<br />

<a href="/integration/version-14" class="button button-start">Start now</a>
