<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Cohabitee journey</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Living together journey</h2>


<p>
  Auto populate cohabitee journey and Claim from PDF journey 
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/integration/version-37/start-a-new-claim/2" class="button button-start">Start now v1</a>
<a href="/integration/version-39/start-a-new-claim/2" class="button button-start">Start now v2</a>

