<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>16 May 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>CIS Integration</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">CIS Integration</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Simulated checking data against CIS</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  The prototype tested well. Agents understood that the system was talking to CIS 
  and retriving verified information.
</p>
<p>
  Agents also understood the scenarios where CIS couldnt find a match and explained 
  how they would progress in those instances.
</p>

<br />

<a href="/integration/version-1" class="button button-start">Start now</a>
