<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>29 May 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>CIS Integration</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">CIS Integration</h2>

<h3 class="heading-small">Changes</h3>
<ul class="list list-bullet">
  <li>Changed cannot match scenario from claimant to deceased</li>
  <li>Added scenario to simulate date of death not matching CIS</li>
</ul>

<h3 class="heading-small">Claim forms</h3>
<ul class="list list-bullet">
  <li><a href="/integration/version-2/load-pdf/1.pdf" target="_blank">Scenario 1</a></li>
  <li><a href="/integration/version-2/load-pdf/2.pdf" target="_blank">Scenario 2</a></li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Again the prototype tested well. Agents understood why the system was not letting 
  them progress if it could not match data from CIS.
</p>

<br />

<a href="/integration/version-2" class="button button-start">Start now</a>
