<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>1 November 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Child Benefit backdating</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Child Benefit backdating</h2>

<p>
  In this iteration we are looking at backdating a claim for Child Benefit. A date 
  field has been added so this information will be collected along side the Child 
  Benefit number.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  The partial backdating worked well, however not all agents checked the payment 
  schedule before uprating the payments. The ones that did check the payment 
  schedule had already worked out what the claimant should be entitled to based 
  on the backdating rules. Agents were surprised but pleased that the effective 
  date was being used to calculate the backdated payments so that manual 
  intervention was not required. There were some comments around knowing which 
  payments had been uprated for the purposes of creating the decision letter. 
  This should be included in the next round of testing so that agents can work 
  through the end to end process. 
</p>

<br />

<a href="/integration/version-17" class="button button-start">Start now</a>
