<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Auto disallowance journey</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Auto disallow journey</h2>


<p>
  Online claim disallowance journey
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/integration/version-34/start-a-new-claim/2" class="button button-start">Start now v1</a>
<a href="/integration/version-35/start-a-new-claim/2" class="button button-start">Start now v2</a> <br><br>
<a href="/integration/version-36/start-a-new-claim/2" class="button button-start">Start now v3</a>

