<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>CIS Integration</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Date of death CIS</h2>

<p>
  In this version we removed the note that reads the death was verified from the 
  history if CIS automatically verified the death. We also removed the author 
  from the claim history when it was automatic. For example in previous versions 
  it read 'by: CIS'.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/integration/version-23" class="button button-start">Start now</a>
