<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Short Schedule</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Short Schedule (with summary)</h2>

<p>
  Same as version 27 with the inclusion of an experimental 'payment summary' 
  feature.
</p>

<p>
  The summary is to give agents an overview of how many payments have been made 
  and how many payments there are in total at a glance, rather than them having 
  to count the payments in the columns etc.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/integration/version-28" class="button button-start">Start now</a>
