<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>26 July 2018</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Suspend claim</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Suspend claim</h2>

<h3 class="heading-small">Changes</h3>

<ul class="list list-bullet">
  <li>Idicate a claimant has been imprisoned</li>
  <li>Idicate payments are being rejected</li>
</ul>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents noticed that the returned payments option was new in order to suspend 
  (previously prevent) payments. Agents were comfortable navigating through this 
  scenario despite it being completely new. They often enquired as to whether 
  we had any new payment details from the claimant before continuing as this is 
  their current business as usual approach. Agents were confident suspending the 
  payments for the imprisonment scenario as this follows the same steps as 
  preventing the payment. 
</p>

<br />

<a href="/integration/version-10" class="button button-start">Start now</a>
