{% extends "layout.html" %}

{% block page_title %}
  Settings
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Settings</h1>
      <form method="post">
        <div class="form-group">
          <label class="form-label" for="currentUser">Agent name</label>
          <input class="form-control" id="currentUser" name="currentUser" type="text">
        </div>

        <div class="form-group">
          <fieldset class="inline">
            <legend class="heading-small">Activate paused claims?</legend>
            <div class="multiple-choice">
              <input id="paused-claims-yes" type="radio" name="pausedClaims" value="Yes">
              <label for="paused-claims-yes">Yes</label>
            </div>
        
            <div class="multiple-choice">
              <input id="paused-claims-no" type="radio" name="pausedClaims" value="No">
              <label for="paused-claims-no">No</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <legend class="heading-small">Scenario</legend>
            <div class="multiple-choice">
              <input id="allowed" type="radio" name="scenario" value=1>
              <label for="allowed">Allowed</label>
            </div>
        
            <div class="multiple-choice">
              <input id="disallowed" type="radio" name="scenario" value=2>
              <label for="disallowed">Disallowed (too old)</label>
            </div>

            <div class="multiple-choice">
              <input id="paused-payment-details" type="radio" name="scenario" value=5>
              <label for="paused-payment-details">Pause (no payment details)</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>
      </form>
    </div>
  </main>
{% endblock %}
