{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="p60-question-1.html" class="govuk-back-link">Back</a>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"></div>
<!--
	{% if checkanswer!='true' %}
	    <form action="check-answers-identity-proof" method="post" class="form">
	{% endif %}
	{% if checkanswer=='true' %}
	    <form action="check-answers" method="post" class="form">
	{% endif %}
-->

  {% if checkanswer ==undefined and checkansweridentity==undefined %}
  <form action="check-answers-identity-proof" method="post" class="form">
{% endif %}
{% if checkanswer=='true' %}
  <form action="check-answers" method="post" class="form">
{% endif %}

{% if checkansweridentity =='true' %}
  <form action="check-answers-identity-proof" method="post" class="form">
{% endif %} 


              <input name="p60question2" value="true" type="hidden"/>
                <h1 class="govuk-heading-xl">
                    How much National Insurance did you pay last year?
                </h1>

                <div id="benefit-amount-hint" class="govuk-hint">
                    <p>You can find the amount on the right-hand side under the header 'Employee's contributions due
                        on all earnings above the PT (Primary Threshold)'.</p>
                    <p>Enter the exact amount, including pence. For example 836.16</p>
                </div>
                
                <div class="govuk-form-group">
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-5" id="p60-amount2" name="p60-amount2" type="text" spellcheck="false" value="{{data['p60-amount2']}}">
                    </div>
                  </div>

                </fieldset>
            <br>
            <!--
                {% if checkanswer!='true' %}
                <button class="govuk-button" data-module="govuk-button">Continue
                  </button>
              {% endif %}
              {% if checkanswer=='true' %}
                <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
              {% endif %} 
-->


              {% if checkanswer ==undefined and checkansweridentity==undefined %}
              <button class="govuk-button" data-module="govuk-button">Continue</button>
          {% endif %}
          {% if checkanswer=='true' %}
          <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
          {% endif %}
          
          {% if checkansweridentity =='true' %}
          <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
          {% endif %} 
           
              <p class="body-text"><a href="check-answers-identity-proof.html?p60question2=false">I don't have that information</a></p>
    
            </form>
           
        </div>            
    
            
    </div>            
      </div>
            
    </main>
    </div>
    
    </main>
    </div>
{% endblock %}