
{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<main role="main" id="content" class="guide" lang="en">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
            <h1 class="govuk-heading-xl">Bereavement Support Payment</h1>
         </div>
         <a class="gem-c-skip-link govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>
         <aside class="part-navigation-container" role="complementary">
            <nav class="govuk-list" aria-label="Pages in this guide" role="navigation" data-module="gem-track-click" data-gem-track-click-module-started="true">
               <p class+="govuk-body">Contents</p>
               <ol class="govuk-list govuk-list--number">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--dashed" aria-current="true">
                     <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/bereavement-support-payment/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="govuk-overview.html">How it works</a>
           
                   </li>
                   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                     Eligibility
           
                   </li>
                   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/bereavement-support-payment/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="govuk-whatyoullget.html">What you'll get</a>
           
                   </li>
                   <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/bereavement-support-payment/how-to-claim" data-track-options="{&quot;dimension29&quot;:&quot;How to claim&quot;}" href="govuk-howtoclaim.html">How to claim</a>
           
                   </li>
               </ol>
               <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
           </nav>
         </aside>
      </div>
      <div class="govuk-grid-column-two-thirds" id="guide-contents">
         <h1 class="govuk-heading-l">Eligibility</h1>
         <p class="govuk-body">When your partner died you must have been:</p>
         <ul class="govuk-list govuk-list--bullet">
           <li>under <a class="govuk-link" href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
           <li>living in the UK or a <a class="govuk-link" href="https://www.gov.uk/claim-benefits-abroad/bereavement-benefits">country that pays bereavement benefits</a></li>
         </ul>
         <p class="govuk-body">When your partner must have either:</p>
         <ul class="govuk-list govuk-list--bullet">
            <li>paid a certain amount of <a class="govuk-link" href="https://www.gov.uk/national-insurance/how-much-you-pay">National Insurance contributions</a> in any one tax year since 6 April 1975</li>
            <li>died because of an accident at work or a disease caused by work</li>
         </ul>
         <p class="govuk-body">You cannot claim Bereavement Support Payment if you’re in prison.</p>

         <div class="govuk-inset-text">
          You must claim within 3 months of your partner’s death to get the full amount. You can claim up to 21 months after their death but you might get less than the usual 18 monthly payments.
        </div>

            <h2 class="govuk-heading-m">Your relationship to your partner</h2>
            <p class="govuk-body">When your partner died you must have been one of the following:</p>
            <ul class="govuk-list govuk-list--bullet">
               <li>married or in a registered civil partnership</li>
               <li>living together as though you were married</li>
             </ul>
             <h3 class="govuk-heading-s">If you were married or in a civil partnership with the person who died</h3>
             <p class="govuk-body">You may be able to get Bereavement Support Payment if your partner died in the last 21 months.</p>
             <p class="govuk-body">You may still be able to claim Bereavement Support Payment if your partner’s cause of death was confirmed more than 21 months after the death. <a class="govuk-link" href="https://www.gov.uk/bereavement-support-payment/how-to-claim">Call the Bereavement Service helpline.</a></p>
             <p class="govuk-body">If your partner died before 6 April 2017, you may be able to get <a class="govuk-link" href="https://www.gov.uk/widowed-parents-allowance">Widowed Parent's Allowance</a> instead.</p>
             
             <h3 class="govuk-heading-s">If you were living together as though you were married with the person who died</h3>
             <p class="govuk-body">You may be able to get Bereavement Support Payment if your partner died on or after 6 April 2017.</p>
             <p class="govuk-body">You must have been:</p>
         <ul class="govuk-list govuk-list--bullet">
           <li>under <a class="govuk-link" href="https://www.gov.uk/state-pension-age">State Pension age</a> when your partner died</li>
           <li>under state pension age 30 August 2018</li>
         </ul>
         <p class="govuk-body">When your partner died, you must have been either:</p>
         <ul class="govuk-list govuk-list--bullet">
            <li>getting or entitled to <a class="govuk-link" href="https://www.gov.uk/child-benefit">Child Benefit</a></li>
            <li>pregnant</li>
          </ul>
          <div class="govuk-inset-text">
            You must meet the eligibility rules for Child Benefit but you do not need to have made a claim for it.
          </div>
          <p class="govuk-body">If your partner died before 6 April 2017, you may be able to get <a class="govuk-link" href="https://www.gov.uk/widowed-parents-allowance">Widowed Parent's Allowance</a> instead.</p>
          <br>
          <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
            <div class="govuk-pagination__prev">
              <a class="govuk-link govuk-pagination__link" href="govuk-overview.html" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">How it works</span></a>
            </div>
            <div class="govuk-pagination__next">
              <a class="govuk-link govuk-pagination__link" href="govuk-whatyoullget.html" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">What you'll get</span></a>
            </div>
          </nav>

   </div>
</main>

{% endblock %}
