{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
      <h1 class="govuk-heading-l">Sorry, there is a problem with this service</h1>

      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">We have not saved your answers. When this service is available, you will have to start again.</p>
      <p class="govuk-body">You can still apply by phone or post.</p>

      <h3 class="govuk-heading-m">Apply by phone</h3>

      <p class="govuk-body">Bereavement Service helpline <br> Telephone: 0800 151 2012 <br> Welsh language: 0800 731 0453</p>
      <p class="govuk-body">Textphone: 0800 731 0464 <br> Welsh language: 0800 731 0456</p>

      <p><a href="https://www.relayuk.bt.com">Relay UK</a> (if you cannot hear on the phone): 18001 then 0800 151 2021</p>
      <p>British Sign Language (BSL) <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">video relay service</a> if you're on a computer - find out how to <a href="https://www.youtube.com/watch?v=oELNMfAvDxw">use the service on mobile or tablet</a></p>

      <p class="govuk-body">Monday to Friday, 8am to 6pm<br> <a href="https://www.gov.uk/call-charges">Find out about call charges</a> </p>

      <h3 class="govuk-heading-m">Apply by post</h3>

      <p class="govuk-body">To get a claim form, you can either:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>download a <a href="https://www.gov.uk/government/publications/bereavement-support-payment-claim-form">Bereavement Support Payment form (BSP1)</a></li>
      <li><a href="https://find-your-nearest-jobcentre.dwp.gov.uk/search.php">contact your nearest Jobcentre Plus</a> to get one through the post</li>
      </ul>
      <p class="govuk-body">Send it to the address on the form.</p>

      <h3 class="govuk-heading-m">If you’re in Northern Ireland:</h3>

      <h3 class="govuk-heading-s">Apply by phone</h3>
      <p class="govuk-body">Bereavement Service helpline<br>Telephone: 0800 085 2463</p>
      <p class="govuk-body"><a href="https://www.nidirect.gov.uk/contacts/bereavement-service">Use the video relay service</a> to contact us using British Sign Language (BSL) or Irish Sign Language (ISL)</p>
      <p class="govuk-body">Monday to Friday, 9am to 5pm<br><a href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a></p>

      <h3 class="govuk-heading-s">Apply by post</h3>
      <p class="govuk-body"><a href="https://www.nidirect.gov.uk/publications/bereavement-support-payment-application-form">Download a Bereavement Support Payment form</a></p>
      <p class="govuk-body">Send it to the address on the form.</p>

    </div>
  </div>
{% endblock %}
