
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back</a>         
            


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="marriage-date" method="post" class="form">
                         
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your address?
            </h1>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-1">
              Address line 1
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-2">
              Address line 2 (optional)
            </label>
            <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-town">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-county">
              County (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
          </div>
        </fieldset>
            
			<input name="getcb" class="govuk-radios__input" id="get-cb-no3" type="hidden" value="{{ data['getcb'] }}" >
              <button class="govuk-button" data-module="govuk-button">Continue
              </button>   
    </form>      
  
  <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Get help with your application
                  </span>
                </summary>
                <div class="govuk-details__text">
                  Telephone: 0800 731 0469 <br>
                  Welsh language: 0800 731 0453 <br>
                  <br>
                  Textphone: 0800 731 0464 <br>
                  Welsh language: 0800 731 0456 <br>
                  <br>
                  If you cannot hear or speak on the phone use Relay UK: 18001 then 0800  731 0469 <br>
                  <br>
                  Monday to Friday, 9.30am to 3.30pm <br>
                  Find out about call charges <br>
                </div>
              </details>
  
  
  
  </div>            
  </div>
             
</main>
</div>
{% endblock %}
