
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="your-name.html" class="govuk-back-link">Back</a>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if checkanswer ==undefined and checkansweraboutyou==undefined %}
	    <form action="your-postcode" method="post" class="form">
	{% endif %}
	{% if checkanswer=='true' %}
	    <form action="declaration" method="post" class="form">
	{% endif %}
	{% if checkansweraboutyou =='true' %}
	    <form action="check-answers-about-you" method="post" class="form">
	{% endif %} 
      


            <div class="govuk-form-group">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    What is your National Insurance number?
                  </h1>
                </legend>
                         
                <div id="national-insurance-number-hint" class="govuk-hint">
                  It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
                </div>
                <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint">
              </div>
                
              <!--
              {% if checkanswer!='true' %}
              <button class="govuk-button" data-module="govuk-button">Continue
                </button>
			{% endif %}
			{% if checkanswer=='true' %}
              <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
			{% endif %}
-->

{% if checkanswer ==undefined and checkansweraboutyou==undefined %}
<button class="govuk-button" data-module="govuk-button">Continue</button> 
{% endif %}
{% if checkanswer=='true' %}
<button class="govuk-button" data-module="govuk-button">Save and Continue</button>
{% endif %}
{% if checkansweraboutyou =='true' %}
<button class="govuk-button" data-module="govuk-button">Save and Continue</button>
{% endif %} 

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Get help with your application
          </span>
        </summary>
        <div class="govuk-details__text">
          Telephone: 0800 731 0469 <br>
          Welsh language: 0800 731 0453 <br>
          <br>
          Textphone: 0800 731 0464 <br>
          Welsh language: 0800 731 0456 <br>
          <br>
          If you cannot hear or speak on the phone use Relay UK: 18001 then 0800  731 0469 <br>
          <br>
          Monday to Friday, 9.30am to 3.30pm <br>
          Find out about call charges <br>
        </div>
      </details>

      </form>                   
         
    </div>
      </details>
    </div>
  </div>


  </main>
  </div>

{% endblock %}
