{% extends "layouts/main.html" %}

{% set serviceName %}
  
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block pageTitle %}
How much of your loan do you pay back every month? - GOV.UK One Login
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="date-account-opened" method="post">
  
  <div class="govuk-form-group">
  
    <fieldset class="govuk-fieldset" aria-describedby="Q00042-hint" id="Q00042-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    
      <h1 class="govuk-fieldset__heading">
        How much of your loan do you pay back every month?
      </h1>
    
    </legend>
    

    <div id="Q00042-hint" class="govuk-hint">
      <p>Think about the amount you're meant to pay back every month on a personal loan. This does not include hire purchase agreements, second mortgages, home credit loans or student loans.</p><p>You can find this amount on your loan agreement.</p>
    </div>
  
  
    <div class="govuk-radios" data-module="govuk-radios">
      
      
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Q00042" name="Q00042" type="radio" value="UP TO £500">
            <label class="govuk-label govuk-radios__label" id="Q00042-UPTO500-label" for="Q00042">
          UP TO £500 
        </label>
            
          </div>
          
     
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Q00042-OVER500UPTO550" name="Q00042" type="radio" value="OVER £500 UP TO £550">
            <label class="govuk-label govuk-radios__label" id="Q00042-OVER500UPTO550-label" for="Q00042-OVER500UPTO550">
          OVER £500 UP TO £550
        </label>
            
          </div>
          

          
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Q00042-OVER550UPTO600" name="Q00042" type="radio" value="OVER £550 UP TO £600">
            <label class="govuk-label govuk-radios__label" id="Q00042-OVER550UPTO600-label" for="Q00042-OVER550UPTO600">
          OVER £550 UP TO £600
        </label>
            
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Q00042-OVER600UPTO650" name="Q00042" type="radio" value="OVER £600 UP TO £650">
            <label class="govuk-label govuk-radios__label" id="Q00042-OVER600UPTO650-label" for="Q00042-OVER600UPTO650">
          OVER £600 UP TO £650
        </label>
            
          </div>
          

          
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Q00042-NONEOFTHEABOVEDOESNOTAPPLY" name="Q00042" type="radio" value="NONE OF THE ABOVE / DOES NOT APPLY">
            <label class="govuk-label govuk-radios__label" id="Q00042-NONEOFTHEABOVEDOESNOTAPPLY-label" for="Q00042-NONEOFTHEABOVEDOESNOTAPPLY">
              NONE OF THE ABOVE / DOES NOT APPLY
        </label>
            
          </div>
          
          
        
      
    </div>
    
  
  </fieldset>
  
  
  </div>
  

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p><a class="govuk-link govuk-link--no-visited-state" href="/page-index/ipv-core/kbv-abandon">I cannot answer this question</a></p>

    </form>
    </div>
  </div>


{% endblock %}

