{% extends "layouts/main.html" %}

{% set serviceName %}
  
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block pageTitle %}
When did you take out your mobile phone contract? - GOV.UK One Login
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/private-beta/idv/proved-identity" method="post">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "phone-contract",
          fieldset: {
            legend: {
              text: "When did you take out your mobile phone contract?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Think about when you took out your personal phone contract instead of your work phone, if you have one."
          },
          items: [
            {
              value: "04/2017",
              text: "04/2017"
            },
            {
              value: "10/2017",
              text: "10/2017"
            },
            {
              value: "03/2021",
              text: "03/2021"
            },
            {
              value: "01/2021",
              text: "01/2021"
            },
            { 
              value: "NONE OF THE ABOVE / DOES NOT APPLY",
              text: "NONE OF THE ABOVE / DOES NOT APPLY"
            }
          ]
        }) }}

      
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p><a class="govuk-link govuk-link--no-visited-state" href="/page-index/ipv-core/kbv-abandon">I cannot answer this question</a></p>

    </div>
  </div>


{% endblock %}

