{% set bfAgentName = 'Jackie Moore' %}
{% if scenario === '6' %}
  {% set bfDate = '25 January 2017' %}
{% else %}
  {% set bfDate = '22 January 2017' %}
{% endif %}

{% if bf %}
  {% if scenario === '4' %}
    <li>
      <span class="line"></span>
      <h3 class="bold">Relationship status checked</h3>
      <p>Proof of marriage or civil partnership needed</p>
      <span class="paused-until-date">by Chris Jones</span><br>
      <span class="paused-until-date">28 January 2018</span>
    </li>
  {% endif %}
  <li>
    <span class="line"></span>
    <h3 class="bold">Contributions verified</h3>
    <span class="paused-until-date">by {{bfAgentName}}</span><br>
    <span class="paused-until-date">{{bfDate}}</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Children details verified</h3>
    <span class="paused-until-date">by {{bfAgentName}}</span><br>
    <span class="paused-until-date">{{bfDate}}</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Death verified</h3>
    <span class="paused-until-date">by {{bfAgentName}}</span><br>
    <span class="paused-until-date">{{bfDate}}</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Relationship status checked</h3>
    <p>Proof of marriage or civil partnership needed</p>
    <span class="paused-until-date">by {{bfAgentName}}</span><br>
    <span class="paused-until-date">{{bfDate}}</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Payment details entered</h3>
    <span class="paused-until-date">by {{bfAgentName}}</span><br>
    <span class="paused-until-date">{{bfDate}}</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Contact details entered</h3>
    <span class="paused-until-date">by {{bfAgentName}}</span><br>
    <span class="paused-until-date">{{bfDate}}</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Date of claim entered</h3>
    <span class="paused-until-date">by {{bfAgentName}}</span><br>
    <span class="paused-until-date">{{bfDate}}</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Partner details entered</h3>
    <span class="paused-until-date">by {{bfAgentName}}</span><br>
    <span class="paused-until-date">{{bfDate}}</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Claimant details entered</h3>
    <span class="paused-until-date">by {{bfAgentName}}</span><br>
    <span class="paused-until-date">{{bfDate}}</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Claim started</h3>
    <span class="paused-until-date">by {{bfAgentName}}</span><br>
    <span class="paused-until-date">{{bfDate}}</span>
  </li>
{% endif %}