<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>2 November 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim capture</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Linear journey</h2>
<p>
  
</p>

<h3 class="heading-small">Scenarios (claim date)</h3>
<ul class="list list-bullet">
  <li>Successful: 01 10 2017</li>
  <li>Ineligible, too old: 02 10 2017</li>
  <li>Can't verify marriage: 03 10 2017</li>
</ul>

<h3 class="heading-small">First iteration</h3>

<p>
  In this prototype, we were looking at how agents might handle capturing a new
  claim.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents arriving on the find a claim landing page automatically used the find 
  feature rather than looking at the other options available to them. This caused 
  confusion as the claim is pre-populated for testing purposes.
</p>
<p>
  The paused claim banner was missed by some agents and some did not notice it 
  until they were a few pages into setting up the new claim. This lead some 
  agents to believe that this banner was in relation to the current claim and a 
  way of informing them that they shouldn't progress any further with this claim 
  as it would be disallowed.
</p>
<p>
  The international agents that we tested with were unsure as to why a disallowed 
  claim would be built in the system as claimants are discouraged from applying 
  if they do not meet the eligibility criteria. This behaviour is expected to be 
  slightly different at Dover as the team work in a different way.
</p>
<p>
  The form asks if the claimant address is the address that they lived at when 
  their partner died, as a response to this agents were looking at the partner 
  details on the form and then presuming it was the same address.
</p>
<p>
  In the scenario where the claimant had stated that they were married on the 
  claim form but hadn't provided a certificate the agents were unsure about how 
  to answer, some were dubious about taking the word of the claimant, especially 
  as their name is listed next to the verification/pause action. 
</p>
<p>
  There was also confusion around whether or not the claimant had dependant 
  children when they stated they were pregnant on the claim form. This is a rare 
  scenario compared to the general claim volumes so this may be causing some of 
  the uncertainty. 
</p>

<br />

<a href="/claim-capture/version-1" class="button button-start">Start now</a>
