<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>14 November 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim capture</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">Changes</h3>

<p>
  In this version, the paused claim banner has been redesigned to be a page.
</p>

<p>
  The verification questions have been reworded to make it more obvious that it 
  wants you to refer to the claim form. We've also added fields so that the 
  verification can be recorded. Eg: Date of marriage and Child Benefit number.
</p>

<p>
  Changed the routing, so that payment details are not captured if the system 
  knows they are ineligible. Also, the date of claim has now been moved to the 
  end of the capture, so that it matches the claim form.
</p>

<p>
  Added the ability to pause a claim for the payment details being missing.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  The paused claim banner didn't test well when removed from the capture pages. 
  Agents still didn't notice that it was there and if it was noticed it tended 
  to be at the end of the claim with agents presuming that it was in relation to 
  the disallowed claim they were currently working on.
</p>
<p>
  Agents were still confused about the relevance of asking if the current address 
  is the same as the address they were living at when their partner died. The 
  behaviour was similar to that displayed by IG whereby they were checking where 
  the deceased lived on the claim form.
</p>
<p>
  The child benefit question prompted agents to expect to enter the child benefit 
  number as proof of verification. This is currently recorded on the front sheets 
  and we need to understand which of these dates/ref numbers are audited currently 
  to understand if the system would need to capture these.
</p>
<p> 
  Date of marriage was referred to during testing, as with the child benefit 
  number it is currently recorded on the front sheet and the date is checked in 
  an alternative system if no certificate has been received. The date can be 
  used if there are discrepancies in circumstances where the deceased may have 
  had polygamous marriages.
</p>
<p>
  Agents understood the value of recording disallowed claims on the system so 
  that they had a comprehensive record of the previous actions taken against 
  that claim, however there were discrepancies between how much information 
  should be collected against these claims, the payment details were not seen to 
  be necessary as this claimant was unlikely to be paid but the amount of 
  verification to be recorded differed between agents. 
</p>

<br />

<a href="/claim-capture/version-3" class="button button-start">Start now</a>
