<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>16 November 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim capture</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">Changes</h3>

<p>
  Added payment details onto the paused claim view.
</p>

<p>
  Added a way to edit the information on a paused claim before it's put into 
  payments.
</p>

<p>
  Added 'sex' to the claimant details, to be able to accurately determine the 
  State Pension age.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Agents were still unsure where to find the information relating to where the 
  claimant lived at the time of death, this is a theme that has continued to be 
  seen throughout testing.
</p>
<p>
  For the disallowed claim scenario agents didn't think that they needed to 
  record all of the other eligibility criteria as being verified. They found the 
  personal details helpful as they could use this for security questions but 
  found everything else to be irrelevant. They also thought that as this claimant 
  was over state pension age it would be flagged to them before they progressed 
  with the claim so that they would know not to request additional information 
  from the claimant. 
</p>
<p>
  Agents thought that the paused claim screen was indicating that they had not 
  finished the claim they had just been working on. When they viewed the claim 
  they could work out that this was a different claim and that it had an 
  outstanding task to complete but it was still viewed as someone else's work 
  appearing on 'their BSP Manager'
</p>


<br />

<a href="/claim-capture/version-4" class="button button-start">Start now</a>
