<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>26 October 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim capture</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h3 class="heading-small">Changes</h3>

<p>
  In this version, the landing page has been switched from Find a claim to Start 
  a new claim.
</p>
<p>
  The paused claim notification banner has been configured to only show if the 
  agent isn't already in the middle of another task. This is due to confusion 
  around what the banner was actually for, and to stop them losing the information 
  they had entered.
</p>
<p>
  The content has been tweaked slightly on the validation questions to make it 
  more obvious that we're looking for what the claimant actually wrote on their 
  claim form.
</p>
<p>
  Some bugs have been tweaked in the dummy data as the wrong payment details were 
  showing on one of the schedules.
</p>
<p>
  Moved the scenarios onto the settings page to make it easier to work with.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Research notes to follow.
</p>

<br />

<a href="/claim-capture/version-2" class="button button-start">Start now</a>
