{% extends "layout.html" %}

{% block page_title %}
  Claim disallowed
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          Claim disallowed
        </h1>

        <h2 class="heading-medium">
          Reason
        </h2>
        {% if scenario === '5' %}
          <p>
            The claimant was not married to the deceased at the time of death.
         </p>
        {% else %}
         <p>
            The claimant didn't send proof of their marriage or civil partnership.
         </p>
        {% endif %}
        <a href="/{{feature}}/{{sprint}}/claim/{{scenario}}/disallowed">View claim</a>
      </div>
    </div>
  </main>
{% endblock %}
