{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Which payment details do you wish to change?
        </h1>

        <form method="post">
          <div class="form-group">
            <fieldset>
              <div class="multiple-choice">
                <input id="bankDetails" type="radio" name="which-details-do-you-want-to-change" value="bank-details">
                <label for="bankDetails">Bank account details</label>
              </div>
          
              <div class="multiple-choice">
                <input id="rate" type="radio" name="which-details-do-you-want-to-change" value="rate">
                <label for="rate">Rate</label>
              </div>
            </fieldset>
          </div>

          <button class="button" type="submit">Continue</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
