{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="about-cb-claim.html" class="govuk-back-link">Back</a>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="task-list" method="post" class="form">
        
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        About your children
      </h2>
      

      <dl class="govuk-summary-list">
       
        
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Get Child Benefit
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['acb'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="about-cb?checkanswer=true">
          Change
        </a>
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Child Benefit claim in your name
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['cbclaim'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="about-cb-claim?checkanswer=true">
          Change
        </a>
      </dd>
    </div>
  
  </dl>
		<input name="appcount" class="govuk-radios__input" id="get-cb-no2" type="text" value="5" /> 
      <button class="govuk-button" data-module="govuk-button">Continue</button>


    </div>

  </div>


</main>
</div> 
{% endblock %}