
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="/version-2/bereavement-support-payment/how-to-claim.html" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="spa" method="post" class="form">


          <article>

              <h1 class="govuk-heading-xl">Bereavement Support Payment</h1>
          
           
              <p class="govuk-body-m">We'll ask you some eligibility questions first. 
                If you're eligible to apply, we'll ask for the rest of the information we need.
  
              </p>
            
              <div class="govuk-inset-text">
               
                It takes about 15 minutes to apply. <br> You cannot save your application and come back later. Make sure you have everything you need before you start.
              </div>
                  
          
            
                  <button class="govuk-button" data-module="govuk-button">Start claim</button>
        
       
          </form>

  </div>
</div>

</main>
</div>
{% endblock %}
