
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="task-list.html" class="govuk-back-link">Back</a>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if checkanswer!='true' %}
	     <form action="your-ni" method="post" class="form">
	{% endif %}
	{% if checkanswer=='true' %}
	    <form action="check-answers-about-you" method="post" class="form">
	{% endif %}
      


            <div class="govuk-form-group">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    What is your full name?
                  </h1>
                </legend>
                         
                <fieldset class="govuk-fieldset">

                    <div class="govuk-form-group">              
                      <input class="govuk-input govuk-!-width-three-quarters" id="Claimant-fullname" name="claimantfullname" type="text" value="{{ data['claimantfullname'] }}">
                    </div>
                  </fieldset> <br>
                
    
              </div>
              {% if checkanswer!='true' %}
              <button class="govuk-button" data-module="govuk-button">Continue
                </button>
			{% endif %}
			{% if checkanswer=='true' %}
              <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
			{% endif %}

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Get help with your application
                  </span>
                </summary>
                <div class="govuk-details__text">
                  We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
                </div>
              </details>
      </form>                   
         
    </div>
      </details>
    </div>
  </div>


  </main>
  </div>

{% endblock %}
