
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="id-type" method="post" class="form">
         
        
      <h1 class="govuk-heading-l">
        You’ve created your GOV.UK One Login
      </h1>

      <p>Now continue to use the service.</p>

   
        <button class="govuk-button" data-module="govuk-button">Continue</button>
          
      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
