
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">        
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="create-pw" method="post" class="form">
        
        
      <h1 class="govuk-heading-l">Check your email</h1>

      <div class="govuk-inset-text">We have sent an email to: <span class="govuk-body govuk-!-font-weight-bold permit-reflow">email@address.com</span></div>

      <p class="govuk-body">The email contains a 6 digit security code.</p>

      <p class="govuk-body">Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>

      <p class="govuk-body">The code will expire after one hour.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="code">
            Enter the 6 digit security code
        </label>
        <input class="govuk-input govuk-input--width-10" id="code" name="code" type="text" spellcheck="false" autocomplete="one-time-code" inputmode="numeric">
    </div>
 
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Problems with the code?
        </span>
      </summary>
      <div class="govuk-details__text">
        
        <p class="govuk-body">
          We can 
          <a href="/page-index/authentication/create-account/resend-code" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">send the code again</a>
           or you can 
          <a href="/page-index/authentication/create-account/enter-email" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">use a different email address</a>.
        </p>
        
      </div>
    </details>
        


      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
