
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="account-created" method="post" class="form">
         
        <h1 class="govuk-heading-l">Check your phone</h1>

        <div class="govuk-inset-text">We have sent a code to your phone number ending with <b>7137</b></div>
  
        <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>
  
        <div class="govuk-form-group">
          <label class="govuk-label" for="code">
              Enter the 6 digit security code
          </label>
          <input class="govuk-input govuk-input--width-10" id="code" name="code" type="text" spellcheck="false" autocomplete="one-time-code" inputmode="numeric">
      </div>
  
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
  
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Problems with the code?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              We can 
              <a href="/page-index/authentication/create-account/resend-code-sms" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">send the code again</a>
               or you can 
              <a href="enter-phone-number" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">use a different phone number</a>.
            </p>
              <p class="govuk-body">
                <a href="get-security-code" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">Get a code another way</a>.
              </p>
          </div>
        </details>
        
          
      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
