
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="confirm-details" method="post" class="form">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Choose your address</h1>
          </legend>
          <p>
            <span class="govuk-!-margin-bottom-1 govuk-!-display-block">Postcode</span>
            <strong>AB12 3CD</strong>
            <a href="/page-index/address-cri/app/find-current-address" class="govuk-!-margin-left-5 govuk-link--no-visited-state">Change<span class="govuk-visually-hidden">your postcode</span></a>
          </p>
          <div class="govuk-form-group">
            <label class="govuk-label" for="delivery-address">Choose your current home address from the list</label>
            <select class="govuk-select" id="delivery-address" name="current-address">
              <option value="">3 addresses found</option>
              <option value="address1">1 Main Street, Newcastle, AB12 3CD</option>
              <option value="address2">2 Main Street, Newcastle, AB12 3CD</option>
              <option value="address3">3 Main Street, Newcastle, AB12 3CD</option>
            </select>
          </div>
        </fieldset>
        <p class="govuk-body">
          <a href="/page-index/address-cri/app/check-current-address">I cannot find my address in the list</a>
        </p>
        <button class="govuk-button" type="submit" data-module="govuk-button">Choose address</button>

      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
