
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="valid-passport" method="post" class="form">
          
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="smartphone-choice-hint">
              <legend class="govuk-fieldset__legend govuk-!-margin-bottom-2">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Do you have a smartphone you can use?</h1>
              </legend>
       
              <div id="smartphone-choice-hint" class="govuk-hint govuk-!-margin-top-0">
                
              <p class="govuk-hint">You need a smartphone with working front (selfie) and rear cameras for some ways of confirming your identity.</p>
              <p class="govuk-hint">If you can use a smartphone to confirm your identity, we will guide you to switch devices later.</p>
              
              </div>

              <div class="govuk-form-group">

                <fieldset class="govuk-fieldset" aria-describedby="have-a-smartphone-hint">
                
                
                <div id="have-a-smartphone-hint" class="govuk-hint">
                
                </div>
                
                
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="have-a-smartphone" name="have-a-smartphone" type="radio" value="iPhone">
                    <label class="govuk-label govuk-radios__label" for="have-a-smartphone">
                      Yes, I have an iPhone
                    </label>
                    
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="have-a-smartphone-2" name="have-a-smartphone" type="radio" value="android">
                    <label class="govuk-label govuk-radios__label" for="have-a-smartphone-2">
                      Yes, I have an Android phone (for example, Samsung, Google Pixel, OPPO)
                    </label>
                    
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="have-a-smartphone-3" name="have-a-smartphone" type="radio" value="I don't have either of these">
                    <label class="govuk-label govuk-radios__label" for="have-a-smartphone-3">
                      I don't have either of these
                    </label>
                    
                  </div>

                </div>

              </fieldset>
              
              </div>
              
              
              </fieldset>
              </div>
              
                <button class="govuk-button" data-module="govuk-button">
                 Continue
                </button>
                        
      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
