
{% extends "layout.html" %}

{% block pageTitle %}
Download or open the GOV.UK ID Check app - GOV.UK One Login
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post" class="form">
        
        <h1 class="govuk-heading-l">Download or open the GOV.UK ID Check app</h1>
        <p class="govuk-body govuk-!-margin-bottom-3">We’ll give you step by step instructions on how to use the app when you open it.</p>

        <a href="/journey-transition/entering-app-passport" role="button" draggable="false" class="govuk-button gov-app-button" data-module="govuk-button">
          Download or open GOV.UK ID Check
        </a>
        <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Help with downloading the app
        </span>
        </summary>
        <div class="govuk-details__text">
        
        <ol class="govuk-list govuk-list--number">
        <li>
        Tap the 'Download GOV.UK ID Check' button to open the App Store.
        </li>
        <li>
        In the app store, tap the 'Get' button next to the GOV.UK ID Check app icon.
        </li>
        <li>
        When the app has been downloaded, tap 'Open' to use the app.
        </li>
        </ol>
        
        </div>
        </details>
        
        <details id="prefer-not-to-use-app" class="govuk-details govuk-!-margin-top-0 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I’d prefer not to use the app
            </span>
          </summary>
          <div class="govuk-details__text">
            
        <p class="govuk-body">
          If you’d prefer not to use the app, you may still be able to <a href="/page-index/app-cri/ineligible" class="govuk-link govuk-link--no-visited-state" data-pw="download-app-prefer-not-to-use-app-confirm-another-way">confirm your identity another way</a>.
        </p>
        <p class="govuk-body">You’ll still need photo ID and other ways of confirming your identity may not provide an instant result.</p>
        
          </div>
        </details>
        
        
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-m">Link GOV.UK ID Check</h2>
        <p class="govuk-!-margin-bottom-6">Tap the button below if you were asked to come back to this window.</p>
        
        
        <a href="#" role="button" draggable="false" class="govuk-button gov-app-button govuk-!-margin-bottom-2 govuk-!-margin-top-0" data-module="govuk-button" data-pw="download-app-link-app-button-iphone" id="link-app-button">
        Link GOV.UK ID Check
        </a>
        
        <div class="govuk-inset-text">
          
          <div>
            
            <!-- Links based on choose-journey value -->
        
        
          Problems using the app? You can 
          <a href="/page-index/app-cri/ineligible" class="govuk-link govuk-link--no-visited-state" data-pw="confirm-another-way">confirm your identity another way</a>.
        
            
              <div class="govuk-!-padding-top-5">
            
            
              For additional help, 
              <a href="#" class="govuk-link govuk-link--no-visited-state" data-pw="support-form-link">contact the GOV.UK ID Check support team</a>.
            
          </div>
        
        
              </form>  
          </div>            
          </div>
                
        </main>
        </div>
        
{% endblock %}
