
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Valid UK photocard driving licence - GOV.UK One Login
{% endblock %}

{% set serviceName %}
  Confirm your identity
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/driving-licence-answer" method="post" class="form">
         
        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" aria-describedby="driving-licence-hint">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
              <h1 class="govuk-fieldset__heading">
                Do you have a valid UK photocard driving licence?
              </h1>
            
            </legend>
            
          
            <div id="driving-licence-hint" class="govuk-hint">
              You cannot use an expired licence or a photocopy or digital copy of your licence.
            </div>
          
          
            <div class="govuk-radios" data-module="govuk-radios">
                          
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="driving-licence" name="driving-licence" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="driving-licence">
                  Yes
                </label>
                
              </div>
             
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="driving-licence-2" name="driving-licence" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="driving-licence-2">
                  No
                </label>
                
              </div>
              
            
              
              
            </div>
          
          </fieldset>
        
        </div>
        
            
        
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      How do I know my driving licence is valid?
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Your full or provisional licence is valid until the expiry date printed in section 4b on your licence card.
                  </div>
                </details>
                
                <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>

      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
