
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">        
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="sign-in" method="post" class="form">
                
                <div class="govuk-form-group">          

                  <h1 class="govuk-heading-l">Sign in with GOV.UK One Login</h1>

                  <p class="govuk-body">You need to sign in with your GOV.UK One Login. If you do not have GOV.UK One Login, you'll need to create one.</p>
                  
                  <p class="govuk-body">To help keep your information safe, you may be asked to prove your identity.</p>
                  
                  <p class="govuk-body">You'll need:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>a valid photo ID, such as your passport or driving licence</li>
                    <li>your current home address (you'll need to provide your previous address if you've moved within the last 3 months)</li>
                  </ul>

                  <h2 class="govuk-heading-m">If you already have a GOV.UK One Login</h2>

                  <p>Sign into GOV.UK One Login with the details you've previously set up.</p>
                
              <button class="govuk-button" data-module="govuk-button">Continue</button>   

            </div>
    </form>      
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
