{% extends "layouts/main.html" %}

{% set serviceName %}
  
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block pageTitle %}
Find another way to prove your identity - GOV.UK One Login
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="return-to-service-unsuccessful" method="post">


        {% if showErrorSummary %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                    text: "Select yes if you have any of these types of photo ID",
                    href: "#another-way"
                }
            ]
        }) }}
        {% endif %}

      <h1 class="govuk-heading-l">Find another way to prove your identity</h1>

      {% if showErrorSummary %}
      {{ govukRadios({
        name: "another-way",
        fieldset: {
          legend: {
            text: "What would you like to do?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "another way",
            text: "Continue to the service you were trying to use to look for other ways to prove your identity"
          },
          {
            value: "try again",
            text: "Try proving your identity with GOV.UK One Login again"
          }
          ],
          errorMessage: {
              text: "Select yes if you have any of these types of photo ID"
          }
      }) }}
      {% else %}
      {{ govukRadios({
        name: "another-way",
        fieldset: {
          legend: {
            text: "What would you like to do?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "another way",
            text: "Continue to the service you were trying to use to look for other ways to prove your identity"
          },
          {
            value: "try again",
            text: "Try proving your identity with GOV.UK One Login again"
          }
          ]
      }) }}
      {% endif %}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

        <p class="govuk-body">
        <a href="#" class="govuk-link">Contact the GOV.UK One Login team (opens in new tab)</a>
        </p>
        
    </form>

    </div>
  </div>

{% endblock %}
