
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="app-version-dynamic" method="post" class="form">
         
        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset" aria-describedby="flashing-colours-hint">
              
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              
                <h1 class="govuk-fieldset__heading">
                  The app uses flashing colours. Do you want to continue?
                </h1>
              
              </legend>
              
            
              <div id="flashing-colours-hint" class="govuk-hint">
                A unique pattern of flashing colours is used during the face scan to confirm your identity.
              </div>
            
            
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="flashing-colours" name="flashing-colours" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="flashing-colours">
                    Yes
                  </label>    
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="flashing-colours-2" name="flashing-colours" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="flashing-colours-2">
                    No
                  </label>     
                </div>
                
              
                
                
              </div>
            
            </fieldset>
          
          </div>
          
              
          
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        What if I am sensitive to flashing colours?
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      The technology we use is tested to make sure it meets the regulations on safe flash rates for photosensitive epilepsy.
                    </div>
                  </details>
          
                  <button class="govuk-button" data-module="govuk-button">
                    Continue
                  </button>
    
      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
