{% extends "layouts/main.html" %}

{% set serviceName %}
  
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block pageTitle %}
Prove your identity at a Post Office with one of the following types of photo ID - GOV.UK One Login
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">

    <form class="form" action="find-another-way" method="post">

      {% if showErrorSummary %}
      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
              {
                  text: "Select what you would like to do",
                  href: "#post-office-id"
              }
          ]
      }) }}
      {% endif %}

<h1 class="govuk-heading-l" id="header" data-page="pageIpvIdentityPostofficeStart" xmlns="http://www.w3.org/1999/html">Prove your identity at a Post Office with one of the following types of photo ID</h1>
<p class="govuk-body">Based on what you told us, you cannot prove your identity online.</p>
<p class="govuk-body">If you have any of the following types of photo ID, you can prove your identity at a Post Office instead.</p>

<ul class="govuk-list" role="list">
<li>
<h2 class="govuk-heading-m">European Union (EU) photocard driving licence</h2>
<p class="govuk-body">You can use an EU driving licence if:</p>
<ul class="govuk-list govuk-list--bullet">
<li>it is a plastic photocard, not a paper or handwritten licence</li>
<li>it has not expired</li>
<li>the address on it is the same as your current address (if it has an address)</li>
</ul>
</li>
<li>
<h2 class="govuk-heading-m">Non-UK passport</h2>
<p class="govuk-body">You can use a non-UK passport as long as it has not expired.</p></li>
<li>
<h2 class="govuk-heading-m">National identity card from a European Economic Area country</h2>
<p class="govuk-body">You can use a national identity card from a European Economic Area (EEA) country if:</p>
<ul class="govuk-list  govuk-list--bullet">
<li>it is a plastic photocard, not a paper or handwritten card</li>
<li>it has not expired</li>
<li>the address on it is the same as your current address (if it has an address)</li>
</ul>
<p class="govuk-body">The EEA includes EU countries, Norway, Iceland and Liechtenstein.</p>
</li>
</ul>

{% if showErrorSummary %}
{{ govukRadios({
  name: "post-office-id",
  fieldset: {
    legend: {
      text: "Do you have any of these types of photo ID?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
    ],
    errorMessage: {
        text: "Select what you would like to do"
    }
}) }}
{% else %}
{{ govukRadios({
  name: "post-office-id",
  fieldset: {
    legend: {
      text: "Do you have any of these types of photo ID?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
    ]
}) }}
{% endif %}

<button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
Continue
</button>
</form>

  </div>
</div>


{% endblock %}
