
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="computer-or-tablet" method="post" class="form">
         
        <h1 class="govuk-heading-l">Tell us if you have one of the following types of photo ID</h1>

<p class="govuk-body">This will help us find the best way for you to prove your identity.</p>

<ul class="govuk-list" role="list">
<li>
  <h2 class="govuk-heading-m govuk-!-margin-top-7">UK photocard driving licence</h2>
  <p class="govuk-body govuk-!-margin-bottom-2">You can use a full or provisional UK driving licence if it:</p>
  <ul class="govuk-list govuk-list--bullet ">
    <li>is a plastic photocard, not a paper licence</li>
    <li>has not expired</li>
  </ul>
</li>
<li>
  <h2 class="govuk-heading-m govuk-!-margin-top-7">UK passport</h2>
  <p class="govuk-body">You can use any UK passport if it has not expired.</p>
</li>
<li>
  <h2 class="govuk-heading-m govuk-!-margin-top-7">Non-UK passport with a biometric chip</h2>
  <p class="govuk-body govuk-!-margin-bottom-2">You can use a non-UK passport if it:</p>
  <ul class="govuk-list  govuk-list--bullet">
    <li>has a biometric chip</li>
    <li>has not expired</li>
  </ul>
  <p class="govuk-body">To check if your passport has a biometric chip, look for the rectangular biometric chip symbol on the front cover.</p>
  <picture>
    <source srcset="https://assets.integration.account.gov.uk/core-front/public/images/passport-icon.svg">
    <img width="174" height="121" loading="lazy" src="https://assets.integration.account.gov.uk/core-front/public/images/passport-icon-1x.png" srcset="https://assets.integration.account.gov.uk/core-front/public/images/passport-icon-2x.png 2x" alt="The front cover of a passport with the biometric chip symbol. The symbol is rectangular with a circle in the middle.">
  </picture>
</li>
<li>
  <h2 class="govuk-heading-m govuk-!-margin-top-7">UK biometric residence permit (BRP)</h2>
  <p class="govuk-body">You can use a UK biometric resident permit (BRP) that has not expired. You might have a BRP if you have a visa for longer than 6 months or indefinite leave to remain.</p>
</li>
<li>
  <h2 class="govuk-heading-m govuk-!-margin-top-7">UK biometric residence card (BRC)</h2>
  <p class="govuk-body">This is also called a UK residence card. You can use a BRC that has not expired. You might have a BRC if you’re in the UK as a family member of a citizen from a European Economic Area (EEA) country.</p>
</li>
<li>
  <h2 class="govuk-heading-m govuk-!-margin-top-7">UK Frontier Worker permit (FWP)</h2>
  <p class="govuk-body">You can use an FWP that has not expired. You might have an FWP if you work in the UK but live in another country.</p>
</li>
</ul>







<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    
      Do you have one of these types of photo ID?
    
    </legend>
    
  
    <div class="govuk-radios" data-module="govuk-radios">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="have-photo-id" name="have-photo-id" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="have-photo-id">
          Yes
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="have-photo-id-2" name="have-photo-id" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="have-photo-id-2">
          No
        </label>
        
      </div>
      
    
      
      
    </div>
  
  </fieldset>

</div>
                <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>
                
          
      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
