
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="check-phone" method="post" class="form">
         
        <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">Enter your mobile phone number</h1>

        <p class="govuk-body">We will send a 6 digit security code to the number you give us.</p>
  
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="phoneNumber"> UK mobile phone number </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="phoneNumber" name="phoneNumber" type="tel" autocomplete="tel">
          </div>
          <div class="govuk-form-group">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="hasInternationalPhoneNumber" name="hasInternationalPhoneNumber" type="checkbox" value="true" aria-controls="conditional-hasInternationalPhoneNumber" aria-expanded="false">
                <label class="govuk-label govuk-checkboxes__label" for="hasInternationalPhoneNumber"> I do not have a UK mobile number </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-hasInternationalPhoneNumber">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="internationalPhoneNumber">Mobile phone number</label>
                  <div id="internationalPhoneNumber-hint" class="govuk-hint"> Include the country code, for example +33 for France </div>
                  <input class="govuk-input govuk-!-width-two-thirds" id="internationalPhoneNumber" name="internationalPhoneNumber" type="tel" aria-describedby="internationalPhoneNumber-hint" autocomplete="tel">
                </div>
              </div>
            </div>
          </div>
  
          <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
        
          
      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
