{% extends "layouts/main.html" %}

{% block pageTitle %}
  Returning to Bereavement Support Payment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
  Apply for Bereavement Support Payment
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<meta http-equiv="refresh" content="5;URL=/private-beta/v7/bereavement-support-payment/idv-failed-application-complete">

<main class="govuk-main-wrapper" id="main-content">

      <div class="govuk-grid-row">
        <!-- <div class="govuk-!-padding-bottom-9"></div> -->
        <div class="govuk-!-padding-bottom-9"></div>
        <div class="loading" style="margin-left:auto; margin-right: auto" aria-live="polite" role="status">
      </div>
  
      <div class="govuk-!-padding-bottom-7"></div>
  
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-l" style="text-align: center">Returning to Bereavment Support Payment</h1>
        <!-- <p class="govuk-body" style="text-align: center">This may take up to 30 seconds. Do not close or refresh this page.</p>  -->
      <!-- <div class="govuk-!-padding-bottom-9"></div> -->
      <div class="govuk-!-padding-bottom-9"></div>
      </div>


</main>

{% endblock %}
