
{% extends "layout.html" %}

{% block pageTitle %}
  Return to service
{% endblock %}

{% block content %}

<meta http-equiv="refresh" content="5;URL=/private-beta/v7/bereavement-support-payment/idv-failed-application-complete">

<main class="govuk-main-wrapper" id="main-content">

      <div class="govuk-grid-row">
        <!-- <div class="govuk-!-padding-bottom-9"></div> -->
        <div class="govuk-!-padding-bottom-9"></div>
        <div class="loading" style="margin-left:auto; margin-right: auto" aria-live="polite" role="status">
      </div>
  
      <div class="govuk-!-padding-bottom-7"></div>
  
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-l" style="text-align: center">Returning to Bereavment Support Payment</h1>
        <!-- <p class="govuk-body" style="text-align: center">This may take up to 30 seconds. Do not close or refresh this page.</p>  -->
      <!-- <div class="govuk-!-padding-bottom-9"></div> -->
      <div class="govuk-!-padding-bottom-9"></div>
      </div>


</main>

{% endblock %}
