
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<meta http-equiv="refresh" content="5;URL=/private-beta/v7/bereavement-support-payment/bsp-decision">

<main class="govuk-main-wrapper" id="main-content">

      <!-- <h1 class="govuk-heading-l">
        Returning you to [service]
      </h1> -->

      <div class="hods-loading-spinner">
        <div
          class="hods-loading-spinner__spinner"
          aria-live="polite"
          role="status"
        ></div>
        <div class="hods-loading-spinner__content">
          <h1 class="govuk-heading-m">
            Returning to Bereavement Support Payment
          </h1>
        </div>
      </div>


</main>

{% endblock %}
