
{% extends "layouts/main.html" %}

{% set serviceName %}
  Confirm your identity
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-width-container">        


  <div class="govuk-grid-row">
      <form action="working-camera" method="post" class="form">

        {% if (data['valid-passport'] == "No") %}

        <div class="govuk-panel govuk-panel--interruption"> 
          <div aria-hidden="true" class="govuk-!-text-align-left">
            <img class="govuk-!-text-align-left" id="gov-uk-logo" src="/public/images/crown-logo.png" alt="">
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l govuk-!-text-align-left govuk-!-margin-top-3 govuk-!-margin-bottom-3 white-text" data-pw="intro-app-heading-passport">
                Use your UK photocard driving licence and a GOV.UK app to confirm your identity
              </h1>
            </div>
          </div>
          <p class="govuk-body govuk-!-text-align-left white-text">
            Based on what you’ve told us, the GOV.UK ID Check app is the best way to confirm your identity.
          </p>
          <h2 class="govuk-body govuk-!-text-align-left white-text govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-0">
            Next, you’ll be guided step by step to:
          </h2>
          <div class="govuk-!-margin-left-2">
            <ul class="govuk-list govuk-list--number govuk-!-text-align-left white-text govuk-!-margin-bottom-4">
              <li>Download the app.</li>
              <li>Take a photo of your UK photocard driving licence.</li>
              <li>Scan your face with your selfie camera.</li>
            </ul>
          </div>
          <br>
          <div class="app-button--inverted govuk-!-text-align-left .govuk-button">
            
              <button class="govuk-button govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-weight-bold" data-module="govuk-button" data-pw="continue" data-nav="navigation" data-link="/dca/oauth2/workingCamera" ga4-trackers="navigation-tracker" ga4-data-navigation="{ &quot;text&quot;: &quot;Continue&quot;, &quot;type&quot;: &quot;generic button&quot;, &quot;external&quot;: &quot;false&quot; }">
                Continue
              </button>
          </div>
        </div>

        {% endif %}

        {% if (data['valid-passport'] == "Yes") %}

        <div class="govuk-panel govuk-panel--interruption"> 
          <div aria-hidden="true" class="govuk-!-text-align-left">
            <img class="govuk-!-text-align-left" id="gov-uk-logo" src="/public/images/crown-logo.png" alt="">
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l govuk-!-text-align-left govuk-!-margin-top-3 govuk-!-margin-bottom-3 white-text" data-pw="intro-app-heading-passport">
                Use your passport and a GOV.UK app to confirm your identity
              </h1>
            </div>
          </div>
          <p class="govuk-body govuk-!-text-align-left white-text">
            Based on what you’ve told us, the GOV.UK ID Check app is the best way to confirm your identity.
          </p>
          <h2 class="govuk-body govuk-!-text-align-left white-text govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-0">
            Next, you’ll be guided step by step to:
          </h2>
          <div class="govuk-!-margin-left-2">
            <ul class="govuk-list govuk-list--number govuk-!-text-align-left white-text govuk-!-margin-bottom-4">
              <li>Download the app.</li>
              <li>Take a photo of your passport photo page.</li>
              <li>Scan the biometric chip on your passport.</li>
              <li>Scan your face with your selfie camera.</li>
            </ul>
          </div>
          <br>
          <div class="app-button--inverted govuk-!-text-align-left .govuk-button">
            
              <button class="govuk-button govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-weight-bold" data-module="govuk-button" data-pw="continue" data-nav="navigation" data-link="/dca/oauth2/workingCamera" ga4-trackers="navigation-tracker" ga4-data-navigation="{ &quot;text&quot;: &quot;Continue&quot;, &quot;type&quot;: &quot;generic button&quot;, &quot;external&quot;: &quot;false&quot; }">
                Continue
              </button>
          </div>
        </div>

        {% endif %}
          
          <details class="govuk-details govuk-body govuk-!-margin-top-2 govuk-body govuk-!-margin-bottom-4" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                This app verifies your face with coloured light
              </span>
            </summary>
            <div class="govuk-details__text">
              
            <p class="govuk-body govuk-!-margin-bottom-1">The app face scan uses a randomly generated sequence of colours to check you are a real person. The colours in the brief sequence change less than 3 times per second.</p>
            <br>
            <p class="govuk-body govuk-!-margin-bottom-1">If you think you might be sensitive to the sequence of colours, you can 
              <a href="/page-index/app-cri/ineligible" class="govuk-link govuk-link--no-visited-state" data-pw="confirm-another-way">confirm your identity another way</a>.
            </p>
          
            </div>
          </details>
          
            <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0 govuk-!-margin-bottom-7">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                How we use your data
              </h2>
              <p class="govuk-!-margin-bottom-2">
                We collect your data securely and delete it when it’s no longer needed. Read our full 
                <a href="#" class="govuk-link govuk-link--no-visited-state">
                  privacy notice</a>.
              </p>
              <h2 class="govuk-heading-m govuk-!-padding-top-2 govuk-!-margin-bottom-2">
                Accessibility
              </h2>
              <p class="govuk-!-padding-bottom-0">
                Read our
                <a href="#" class="govuk-link govuk-link--no-visited-state">
                  accessibility statement</a>.
              </p>
              <h2 class="govuk-heading-m govuk-!-padding-top-0 govuk-!-margin-bottom-2">
                Other ways to confirm your identity
              </h2>
              <p class="govuk-!-padding-bottom-1">
                Not sure you can use the app? You’ll be able to try other ways to confirm your identity when you continue.
              </p>
            </div>
        
      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
