
{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you have a valid passport
{% endblock %}

{% set serviceName %}
  Confirm your identity
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/valid-passport-answer" method="post" class="form">
         
        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" aria-describedby="valid-passport-hint">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
              <h1 class="govuk-fieldset__heading">
                Do you have a valid passport?
              </h1>
            
            </legend>
            
          
            <div id="valid-passport-hint" class="govuk-hint">
              If you have a passport, you can use it to confirm your identity.
            </div>
          
          
            <div class="govuk-radios" data-module="govuk-radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="valid-passport" name="valid-passport" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="valid-passport">
                  Yes
                </label>
                
              </div>
              

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="valid-passport-2" name="valid-passport" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="valid-passport-2">
                  No
                </label>
                
              </div>

            </div>
          
          </fieldset>
        
        </div>
        
                <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>
          
      </form>  

  </div>            
  </div>
        
</main>
</div>
{% endblock %}
