
{% extends "layouts/main.html" %}

{% block pageTitle %}
Does your smartphone have a working camera
{% endblock %}

{% set serviceName %}
  Confirm your identity
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/working-camera-answer" method="post" class="form">
         
        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" aria-describedby="working-camera-hint">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
              <h1 class="govuk-fieldset__heading">
                Does your smartphone have a working camera?
              </h1>
            
            </legend>
            
          
            <div id="working-camera-hint" class="govuk-hint">
              You will be asked to take a photo of your identity document and to scan your face. You will need to use both the front (selfie) and back camera.
            </div>
          
          
            <div class="govuk-radios" data-module="govuk-radios">
              
              
                
            
              
              
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="working-camera" name="working-camera" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="working-camera">
                  Yes
                </label>
                
              </div>
              
            
              
                
            
              
              
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="working-camera-2" name="working-camera" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="working-camera-2">
                  No
                </label>
                
              </div>
              
            
              
              
            </div>
          
          </fieldset>
        
        </div>
        
            
                
                <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>
    
      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
