{% extends "layout.html" %}

{% block page_title %}
  Settings
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="column-two-thirds">
      <h1 class="heading-large">Settings</h1>
      <form method="post">
        <div class="form-group">
          <label class="form-label" for="currentUser">Agent name</label>
          <input class="form-control" id="currentUser" name="currentUser" type="text">
        </div>

        <div class="form-group">
          <fieldset>
            <legend class="heading-small">Scenario</legend>
            <div class="multiple-choice">
              <input id="1" type="radio" name="scenario" value='1'>
              <label for="1">1. New claim, marrige cert in DRS - Allow</label>
            </div>

            <div class="multiple-choice">
              <input id="2" type="radio" name="scenario" value='2'>
              <label for="2">2. New claim, marrige cert missing - Wait</label>
            </div>

            <div class="multiple-choice">
              <input id="3" type="radio" name="scenario" value='3'>
              <label for="3">3. BF date reached in CAM, marrige cert still missing - Wait again</label>
            </div>

            <div class="multiple-choice">
              <input id="4" type="radio" name="scenario" value='4'>
              <label for="4">4. BF date reached in CAM twice, marrige cert missing - Disallow</label>
            </div>
            
            <div class="multiple-choice">
              <input id="5" type="radio" name="scenario" value='5'>
              <label for="5">5. New claim, claimant not married - Disallow</label>
            </div>

            <div class="multiple-choice">
              <input id="6" type="radio" name="scenario" value='6'>
              <label for="6">6. BF date not reached in CAM, marriage cert comes in early - Allow</label>
            </div>

            <div class="multiple-choice">
              <input id="7" type="radio" name="scenario" value='7'>
              <label for="7">7. Claimant over State Pension age - Disallow</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>
      </form>
    </div>
  </main>
{% endblock %}
