{% extends 'layout_email.html' %}

{% block pageTitle %}
    Email decision
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% set emailContentHTML %}

                <h2 class="govuk-heading-m">How long it will take to get a decision</h2>

                <p>You should get a decision by {{ "today" | duration(3, "weeks") | govukDate }}. We will contact you if we need more information.</p>

                <p>If your claim is successful, we will make a payment into your account as soon as possible.</p>

                <h2 class="govuk-heading-m">Get help with your application</h2>

                <p>If you have any questions about your claim you can contact the Bereavement Support Payment team.</p>

                <p>When you call we will ask for your National Insurance number.</p>

                <p>Telephone: 0800 151 2012<br>
                  Welsh language: 0800 731 0453</p>

                <p>Textphone: 0800 731 0464<br>
                    Welsh language: 0800 731 0456</p>

                <p>If you cannot hear or speak on the phone use Relay UK: 18001 then 0800 151 2012</p>

                <p>Opening times:<br>
                  Monday to Friday, 8am to 6pm</p>



                <p>Find out about call charges at https://www.gov.uk/call-charges</p>

                <p class="govuk-body govuk-!-margin-bottom-8"></p>
                <hr>
                <p class="govuk-body govuk-!-margin-bottom-4"></p>

                <p>Do not reply to this email. Replies to this email address will be automatically deleted without being read.</p>

            {% endset %}


            {{ prototypeEmailPreview({
                headers: [
                    {
                        key: {
                            text: 'From'
                        },
                        value: {
                            text: '	Bereavement Support Payment'
                        }
                    },
                    {
                        key: {
                            text: 'To'
                        },
                        value: {
                            text: 'johnsmith@test.com'
                        }
                    },
                    {
                        key: {
                            text: 'Subject'
                        },
                        value: {
                            text: 'Processing your application for Bereavement Support Payment'
                        }
                    }
                ],
                content: {
                    html: emailContentHTML




                }
            }) }}

            <a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back to application</a>
        </div>

</div>

{% endblock %}
