<h2 class="heading-medium">Claim history</h2>
<ul class="log">
  {% if decision === 'disallowed' %}
    <li>
      <span class="line"></span>
      <h3 class="bold">Claim disallowed</h3>
      <span class="paused-until-date">{{t.date}}</span>
      <p>Claimant over state pension age.</p>
    </li>
  {% endif %}
  {% if decision === 'allowed' %}
    <li>
      <span class="line"></span>
      <h3 class="bold">Claim allowed</h3>
      <span class="paused-until-date">{{t.date}}</span>
      <p>Payment schedule created at {{d.schedule.rate}} rate.</p>
    </li>
  {% endif %}
  {% if decision === 'allowed' or decision === 'disallowed' %}
    <li>
      <span class="line"></span>
      <h3 class="bold">Claim details confirmed</h3>
      <span class="paused-until-date">by {{data.currentUser or 'John Doe'}}</span><br />
      <span class="paused-until-date">{{t.date}}</span>
    </li>
  {% endif %}
  {% for entry in data.log | reverse %}
    <li>
      <span class="line"></span>
      <h3 class="bold">{{entry}}</h3>
      <span class="paused-until-date">by {{data.currentUser or 'John Doe'}}</span><br />
      <span class="paused-until-date">{{t.date}}</span>
    </li>
  {% endfor %}
  <li>
    <span class="line"></span>
    <h3 class="bold">Claim started</h3>
    <span class="paused-until-date">by {{data.currentUser or 'John Doe'}}</span><br />
    <span class="paused-until-date">{{t.date}}</span>
  </li>
</ul>