
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back</a>         


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="about-cb" method="post" class="form">
              
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                When your partner died, did any of these apply to you?
              </h1>
            </legend>
            <div id="countries-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                <label class="govuk-label govuk-checkboxes__label" for="countries">
                  I was responsible for a child under 16 years old
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="portugal">
                <label class="govuk-label govuk-checkboxes__label" for="countries-2">
                  I was responsible for a child aged 16 to 19 in full-time education or training
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-3" name="countries" type="checkbox" value="spain">
                <label class="govuk-label govuk-checkboxes__label" for="countries-3">
                  I was pregnant
                </label>
              </div>
              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive">
                <label class="govuk-label govuk-checkboxes__label" for="countries-5">
                  None of these apply
                </label>
              </div>
            </div>
          </fieldset>
        </div>

              <button class="govuk-button" data-module="govuk-button">Continue
              </button>   
   
            
            </form>      
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
