
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="check-answers-eligibility.html" class="govuk-back-link">Back</a>             
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="your-name" method="post" class="form">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">About you</h1>
           <br>
                <div class="govuk-form-group">          
                  <h2 class="govuk-heading-m">We’ll ask:
                  </h2>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>your name</li>
                    <li>your address</li>
                    <li>and your National Insurance number</li>

                  </ul>
                </div>
              <button class="govuk-button" data-module="govuk-button">Continue
              </button>   
    </form>      
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
