
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">

    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" class="form" action="/about-children-answer">

              {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "children",
          values: data["children"],
          fieldset: {
            legend: {
              text: "When your partner died, did any of these apply to you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "I was responsible for a child under 16",
              text: "I was responsible for a child under 16"
            },
            {
              value: "I was responsible for a child aged 16 to 19 in full-time education or training",
              text: "I was responsible for a child aged 16 to 19 in full-time education or training"
            },
            {
              value: "I was pregnant",
              text: "I was pregnant"
            },
            {
              divider: "or"
            },
            {
              value: "None of these apply",
              text: "None of these apply",
              behaviour: "exclusive"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}        

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Get help with your application
          </span>
        </summary>
        <div class="govuk-details__text">
          Telephone: 0800 731 0469 <br>
          Welsh language: 0800 731 0453 <br>
          <br>
          Textphone: 0800 731 0464 <br>
          Welsh language: 0800 731 0456 <br>
          <br>
          If you cannot hear or speak on the phone use Relay UK: 18001 then 0800  731 0469 <br>
          <br>
          Monday to Friday, 9.30am to 3.30pm <br>
          Find out about call charges <br>
        </div>
      </details>

     
  </div>            
  </div>
        
</main>
</div>


{% endblock %}
