
{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/private-beta/v8/bereavement-support-payment/contact-info" method="post" class="form">
      
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        About your partner </h2>
      

      <dl class="govuk-summary-list">

        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['Deceasedfirstname'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deceased-details?checkanswerdeceased=true">
              Change
            </a>
          </dd> 
        </div>
        
        

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['deceasedday'] }} / {{ data['deceasedmonth'] }} / {{ data['deceasedyear'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deceased-details?checkanswerdeceased=true">
              Change
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['deceasedinsurancenumber'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deceased-details?checkanswerdeceased=true">
              Change
            </a>
          </dd> 
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Died because of an accident at work or illness caused by work
          </dt>
		  {% if data['deceaseddeath'] == 'Yes' %}
          <dd class="govuk-summary-list__value">
            Yes <!-- {{ data['deceaseddeathcountry'] }} -->
          </dd>
		  {% endif %}
		  {% if data['deceaseddeath'] != 'Yes' %}
          <dd class="govuk-summary-list__value">
            {{ data['deceaseddeath'] }}
          </dd>
		  {% endif %}
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deceased-death?checkanswerdeceased=true">
              Change
            </a>
          </dd> 
        </div>


        {% if (data['workedabroad'] == 'No' or data['workedabroad'] == "I don't know") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Lived or worked outside the UK
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['workedabroad'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deceased-work?checkanswerdeceased=true">
              Change
            </a>
          </dd> 
        </div>
        {% endif %}

        {% if data['workedabroad'] == "Yes" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Lived or worked outside the UK
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, {{ data['countryworked'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deceased-work?checkanswerdeceased=true">
              Change
            </a>
          </dd> 
        </div>
        {% endif %}


        </dl>
        <br>

        <p class="govuk-body-m">You have completed section 3 of 4</p><br>


      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </div>
  </div>


</main>
</div> 
{% endblock %}