{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="live-in-uk" class="govuk-back-link">Back</a>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="about-you" method="post" class="form">
      
      
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Eligibility
      </h2>
      

      <dl class="govuk-summary-list">
       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Your date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dob-day'] }} / {{ data['dob-month'] }} / {{ data['dob-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="spa?checkanswereligibility=true">
              Change
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Date partner died
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dod-day'] }} / {{ data['dod-month'] }} / {{ data['dod-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="dod?checkanswereligibility=true">
              Change
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Relationship
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['relationship'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="relationship?checkanswereligibility=true">
              Change
            </a>
          </dd> 
        </div>

        {% if data['getcb'] != 'Married' and data['getcb'] != 'Civil partnership' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Children and pregnancy
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['children'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-child?checkansweraboutyou=true">
              Change
            </a>
          </dd>
        </div>
        {% endif %}

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Child Benefit
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['childb'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="country?checkanswereligibility=true">
              Change
            </a>
          </dd> 
        </div>    -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Where you live
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['getcountrycb'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="country?checkanswereligibility=true">
              Change
            </a>
          </dd> 
        </div>      
  

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-third">
        Lived in UK at time of death
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['uklocation'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="live-in-uk?checkanswereligibility=true">
          Change
        </a>
      </dd> 
    </div>  

  </dl>
<br>
  <p class="govuk-body-m">You have completed section 1 of 4</p>
  <input class="govuk-checkboxes__input" id="getcb-hidden1" name="aboutyou" type="hiddden" value="{{data['getcb']}}"/>
		<input name="appcount" class="govuk-radios__input" id="get-cb-no2" type="text" value="1" /> 
    <br> 
    <button class="govuk-button" data-module="govuk-button">Continue</button>

</form>
    </div>

  </div>


</main>
</div> 
{% endblock %}