{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-answers-deceased" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set textHtml %}
{{ govukInput({
  label: {
    text: "Countries they lived or worked in"
  },
  hint: {
    text: "For example, France, Spain"
  },
  classes: "govuk-!-width-two-thirds",
  id: "countryworked",
  name: "countryworked",
  autocomplete: "address-level2"
}) }}
{% endset -%}

<h1 class="govuk-heading-l">Did your partner ever live or work outside the UK?</h1>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why are we asking this?
    </span>
  </summary>
  <div class="govuk-details__text">
    We can check if you could be eligible for bereavement benefits from another country as well as the UK.
    <br><br>
    <p class="govuk-body">It will depend on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the country they lived or worked in (only some pay bereavement benefits)</li>
      <li>whether they paid National Insurance contributions there</li>
    </ul>
</div>
</details>

<div class="govuk-inset-text">
  Do not include any time they served in the British armed forces.
</div>

{{ govukRadios({
  name: "workedabroad",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
  {
    value: "Yes",
    text: "Yes",
    conditional: {
      html: textHtml
    }
  },
    {
      value: "No",
      text: "No"
    },
    {
      divider: "or"
    },
    {
      value: "I don't know",
      text: "I don't know"
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Get help with your application
            </span>
          </summary>
          <div class="govuk-details__text">
            Telephone: 0800 731 0469 <br>
            Welsh language: 0800 731 0453 <br>
            <br>
            Textphone: 0800 731 0464 <br>
            Welsh language: 0800 731 0456 <br>
            <br>
            If you cannot hear or speak on the phone use Relay UK: 18001 then 0800  731 0469 <br>
            <br>
            Monday to Friday, 9.30am to 3.30pm <br>
            Find out about call charges <br>
          </div>
        </details>

      </form>

    </div>
  </div>

{% endblock %}
