<h2 class="heading-medium">Claim history</h2>
<ul class="log">
  {% if data.stopReason %}
    <li>
      <span class="line"></span>
      <h3 class="bold">Payment schedule stopped</h3>
      <span class="paused-until-date">by John Doe</span><br />
      <span class="paused-until-date">26 June 2018</span>
      <p>
        {% if data.stopReason === '1' %}
          The claimant died.
        {% elif data.stopReason === '2' %}
          The claimant has been imprisoned.
        {% elif data.stopReason === '3' %}
          The claim was set up in error.
        {% elif data.stopReason === '4' %}
          The claim is fraudulent.
        {% else %}
          The claim needs to be paid manually.
        {% endif %}

      </p>
    </li>
  {% endif %}
  <li>
  <span class="line"></span>
  <h3 class="bold">Claim allowed</h3>
  <span class="paused-until-date">by John Doe</span><br />
  <span class="paused-until-date">12 June 2018</span>
  <p>
    Payment schedule created at Standard rate.
  </p>
</li>
<li>
  <span class="line"></span>
  <h3 class="bold">Claim details confirmed</h3>
  <span class="paused-until-date">by John Doe</span><br />
  <span class="paused-until-date">12 June 2018</span>
</li>
<li>
  <span class="line"></span>
  <h3 class="bold">Contributions verified</h3>
  <span class="paused-until-date">by John Doe</span><br />
  <span class="paused-until-date">12 June 2018</span>
</li>
  {% if page === 'schedule' and not data.chb.answer === 'Yes' %}
    <li>
      <span class="line"></span>
      <h3 class="bold">Relationship verified</h3>
      <span class="paused-until-date">by John Doe</span><br />
      <span class="paused-until-date">12 June 2018</span>
    </li>
  {% endif %}
{% if page !== 'schedule' %}
  <li>
    <span class="line"></span>
    <h3 class="bold">Child Benefit checked</h3>
    <span class="paused-until-date">by John Doe</span><br />
    <span class="paused-until-date">12 June 2018</span>
    <p>
      Child Benefit number missing.
    </p>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Payment details entered</h3>
    <span class="paused-until-date">by John Doe</span><br />
    <span class="paused-until-date">12 June 2018</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Children details entered</h3>
    <span class="paused-until-date">by John Doe</span><br />
    <span class="paused-until-date">12 June 2018</span>
    <p>
      Has dependent children.
    </p>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Death verified</h3>
    <span class="paused-until-date">by CIS</span><br />
    <span class="paused-until-date">12 June 2018</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Deceased details verified</h3>
    <span class="paused-until-date">by CIS</span><br />
    <span class="paused-until-date">12 June 2018</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Claimant details verified</h3>
    <span class="paused-until-date">by CIS</span><br />
    <span class="paused-until-date">12 June 2018</span>
  </li>
  <li>
    <span class="line"></span>
    <h3 class="bold">Claim details entered</h3>
    <span class="paused-until-date">by John Doe</span><br />
    <span class="paused-until-date">12 June 2018</span>
  </li>
{% endif %}

</ul>
{% if page === 'schedule' %}
  <div class="panel panel-colour-timeline">
    <a href="/{{feature}}/{{sprint}}/claim/{{scenario}}/allowed/">View full claim history</a>
  </div>
{% endif %}