{% extends "layouts/main.html" %}

{% block pageTitle %}
  About the marriage – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
  Capture Information About a Death
{% endset%}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <h1 class="govuk-heading-l">About the civil partnership</h1>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set dateyes %}
{{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "Date of civil partnership",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, 31 3 1980"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "Do you know the date you registered your civil partnership?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "email",
      text: "Yes",
      conditional: {
        html: dateyes
      }
    },
    {
      value: "text",
      text: "No",
      conditional: {
        html: dateno
      }
    }
  ]
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set outside %}
{{ govukInput({
  label: {
    text: "What country did you register your civil partnership in?",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  id: "event-name",
  name: "eventName"
}) }}
{% endset -%}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Did you register your civil partnership in England, Scotland, Wales or Northern Ireland?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "england",
      text: "England"
    },
    {
      value: "scotland",
      text: "Scotland"
    },
    {
      value: "wales",
      text: "Wales"
    },
    {
      value: "northern-ireland",
      text: "Northern Ireland"
    },
    {
      divider: "or"
    },
    {
      value: "abroad",
      text: "Outside the UK",
      conditional: {
        html: outside
      }
    }
  ]
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "What religion or law was the ceremony conducted under?",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  id: "event-name",
  name: "eventName"
}) }}



      </form>

    </div>
  </div>

{% endblock %}
