{% extends "layouts/main.html" %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

     
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>


      

      <dl class="govuk-summary-list">

        <h2 class="govuk-heading-m">
          Payment details</h2>
        
  
        <dl class="govuk-summary-list">
  
  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Name on account
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['name-on-the-account'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="bank-details?checkanswerbank=true">
                Change
              </a>
            </dd> 
          </div>
  
  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sort-code'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="bank-details?checkanswerbank=true">
                Change
              </a>
            </dd> 
          </div>
  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['account-number'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="bank-details?checkanswerbank=true">
                Change
              </a>
            </dd> 
          </div>
      {% if data['roll-number'] != '' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Roll number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['roll-number'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="bank-details?checkanswerbank=true">
                Change
              </a>
            </dd> 
          </div>
      {% endif %}
          </dl>
  
  
            <h2 class="govuk-heading-m">
              Contact details </h2>

              <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['telephonenumber'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="contact-details?checkanswercontact=true">
                    Change
                  </a>
                </dd> 
              </div>
  
              {% if (data['emailanswer'] == "no") %}
  
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Confirmation email
                </dt>
                <dd class="govuk-summary-list__value">
              No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="comms-needs?checkanswercontact=true">
                    Change
                  </a>
                </dd> 
              </div>
  
              {% endif %}
  
              {% if (data['emailanswer'] == "yes") %}
    
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['emailaddress'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="email-confirm?checkanswercontact=true">
                    Change
                  </a>
                </dd> 
              </div>
  
              {% endif %}
              </dl>

              <h2 class="govuk-heading-m">
                How we'll contact you
              </h2>
      
            <dl class="govuk-summary-list">
          
          {% for letterFormat in data["altFormatsV2Journey1"]["letters"] %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When we write to you 
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{ letterFormat.format | altFormatsV2Journey1Label }}</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for value in letterFormat | altFormatsV2Journey1ListFormats %}
                    <li>{{ value }}</li>
                  {% endfor %}
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="./amend/letter/{{ letterFormat.id }}">
                  Change<span class="govuk-visually-hidden"> {{ letterFormat.format | altFormatsV2Journey1Label }}</span>
                </a>
              </dd>
            </div>
            
          {% endfor %}

          {% for phoneCallFormat in data["altFormatsV2Journey1"]["phoneCalls"] %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When we speak to you
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{ phoneCallFormat.format | altFormatsV2Journey1Label }}</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for value in phoneCallFormat | altFormatsV2Journey1ListFormats %}
                    <li>{{ value }}</li>
                  {% endfor %}
                </ul>
              </dd>

              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="./amend/phoneCall/{{ phoneCallFormat.id }}">
                  Change<span class="govuk-visually-hidden"> {{ phoneCallFormat.format | altFormatsV2Journey1Label }}</span>
                </a>
              </dd>
            </div>
            
          {% endfor %}
          
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do you need any other help?
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{ data["altFormatsV2Journey1"]["feedback"]["foundFormat"] | title }}</p>
                
                {% if data["altFormatsV2Journey1"]["feedback"]["foundFormat"] == "yes" %}
                  <ul class="govuk-list govuk-list--bullet">
                    <li>{{ data["altFormatsV2Journey1"]["feedback"]["preferredAltFormats"] }}</li>
                  </ul>
                {% endif %}
              </dd>
               <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="feedback-found-format.html">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
            </div>
           </dl>

        <p>You have completed section 4 of 4.</p><br>

        <div class="govuk-button-group">
          {{ govukButton({
            href: data.alternative_formats_exit_url | d("/"),
            text: "Continue"
          }) }}
        </div>
      
    </div>
  </div>
{% endblock %}
