
{% extends "layouts/main.html" %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="sending-application" method="post" class="form">           
            
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  Important
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                  You can check all your answers again. 
                  <a class="govuk-notification-banner__link" href="">Check answers</a>.
                </p>
              </div>
            </div>
            
            <h1 class="govuk-heading-xl">Declaration</h1>

                <p>By sending the application you agree that the information you've given is complete and correct.
                  If you deliberately give the wrong or incomplete information, or you do not report any changes, you may:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>be prosecuted</li>
                  <li>need to pay a financial penalty</li>
                  <li>need to pay back any money you're overpaid if you're asked to</li>
                </ul>
                <br>

                <div class="govuk-button-group">
                  <button class="govuk-button" data-module="govuk-button">
                    I agree - send my application
                  </button>  
                </div>
          

               
          </article>     
      </form>
    </div>
</div>

{% endblock %}
