{% extends "layouts/main.html" %}

{% block pageTitle %}
  Bereavement Support Payment - What you'll get
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Benefits",
        href: "#"
      },
      {
        text: "Benefits and financial support when someone dies",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
     Bereavement Support Payment
    </h1>

    <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
      <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
        <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
          Contents
        </h2>
        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
          <a href="govuk-overview.html">
            How it works
          </a>
        </li>
        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
          <a href="govuk-eligibility.html">
           Eligibility
          </a>
        </li>
        <ol class="govuk-prototype-kit-common-templates-contents-list__list">
          <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
           <a href="govuk-whatyoullget.html">
             What you'll get
           </a>
         </li>
         <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
         How to claim
         </li>
        </ol>
      </nav>
    </aside>

  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
    
    <h1 class="govuk-heading-l">
      How to claim
    </h1>

    <p class="govuk-body">You can apply for Bereavement Support Payment online, by telephone or by post.</p>
          <p class="govuk-body"> To apply, you’ll need:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>your National Insurance number</li>
              <li>your bank or building society account details</li>
              <li>the date your partner died</li>
              <li>your partner’s National Insurance number</li>
          </ul>

          <!-- New content around identity below for testing -->

       <p class="govuk-body">You may need to prove your identity. You can choose how to do this after you apply.</p>

          <h2 class="govuk-heading-m">Apply online</h2>
        <a href="/private-beta/v8/bereavement-support-payment/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>
        <div class="govuk-!-padding-bottom-4"></div>

        <h2 class="govuk-heading-m">Apply by phone</h2>
        <div class="contact">
          <p>
              Bereavement Service helpline
              <br>

              Telephone: 0800 151 2012
              <br>

              Welsh language: 0800 731 0453
          </p>

          <p>
              Textphone: 0800 731 0464  
              <br>

              Welsh language: 0800 731 0456
          </p>

          <p>
              <a href="https://www.relayuk.bt.com">Relay UK</a>
               (if you cannot hear or speak on the phone): 18001 then 0800 151 2012
          </p>

          <p>
              British Sign Language (BSL) 
              <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">video relay service</a>
               if you’re on a computer - find out how to 
              <a href="https://www.youtube.com/watch?v=oELNMfAvDxw">use the service on mobile or tablet</a>
          </p>

          <p>
              Monday to Friday, 8am to 6pm
              <br>
              <a href="/call-charges">Find out about call charges</a>
          </p>
      </div>

      <div class="govuk-inset-text">
        If you’re in Northern Ireland, there's a <a rel="external" href="https://www.nidirect.gov.uk/articles/bereavement-support-payment">different way to apply</a> by phone.
      </div>

      <div class="govuk-!-padding-bottom-4"></div>

      <h2 class="govuk-heading-m">Apply by post</h2>
      <p>To get a claim form, you can either:</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>
              download a 
              <a href="/government/publications/bereavement-support-payment-claim-form">Bereavement Support Payment form (BSP1)</a>
          </li>
          <li>
              <a rel="external" href="https://find-your-nearest-jobcentre.dwp.gov.uk/search.php">contact your nearest Jobcentre Plus</a>
               to get one through the post
          </li>
      </ul>

      <p>Send it to the address on the form.</p>

      <div class="govuk-inset-text">
        If you’re in Northern Ireland, there's a <a rel="external" href="https://www.nidirect.gov.uk/articles/bereavement-support-payment">different way to apply</a> by post.
      </div>

      <div class="govuk-!-padding-bottom-4"></div>
      
      <h2 class="govuk-heading-m">If you're abroad</h2>
      <p>Call the international Pension Centre to apply.</p>
      <div class="contact">
        <p>
            International Pension Centre
            <br>

            Telephone: +44 (0) 191 206 9390
            <br>

            Monday to Friday, 8am to 6pm
            <br>
            <a href="/call-charges">Find out about call charges</a>
        </p>
    </div>
    <div class="govuk-!-padding-bottom-4"></div>


    
   

    <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "What you'll get",
          href: "govuk-whatyoullget.html"
        }
      }) }}

    <p>
      <a href="#">
        View a printable version of the whole guide
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Get help with funeral costs (Funeral Expenses Payment)
            </a>
          </li>
          <li>
            <a href="#">
              Your benefits, tax and pension after the death of a partner
            </a>
          </li>
          <li>
            <a href="#">
              What to do after someone dies
            </a>
          </li>
          <li>
           <a href="#">
              What to do when someone dies: step by step
           </a>
         </li>
         <li>
           <a href="#">
              Applying for probate
           </a>
         </li>
        </ul>
      </nav>
    </aside>

  </div>

</main>
</div>
</div>
  
   
</div>

{% endblock %}
