{% extends "layouts/main.html" %}

{% block pageTitle %}
  Bereavement Support Payment - Eligibility
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Benefits",
        href: "#"
      },
      {
        text: "Benefits and financial support when someone dies",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
     Bereavement Support Payment
    </h1>

    <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
      <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
        <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
          Contents
        </h2>
        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
          <a href="govuk-overview.html">
            How it works
          </a>
        </li>
        <ol class="govuk-prototype-kit-common-templates-contents-list__list">
          <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
           Eligibility
          </li>
          <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
            <a href="govuk-whatyoullget.html">
             What you'll get
            </a>
          </li>
          <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
           <a href="govuk-howtoclaim.html">
             How to claim
           </a>
         </li>
        </ol>
      </nav>
    </aside>

  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
    
    <h1 class="govuk-heading-l">
      Eligibility
    </h1>
    
    <p class="govuk-body">Bereavement Support Payment is not means-tested. This means what you earn or how much you have in savings will not affect what you get.</p>
    <p class="govuk-body">When your partner died, you must have been:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>under <a class="govuk-link" href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
      <li>living in the UK or a <a class="govuk-link" href="https://www.gov.uk/claim-benefits-abroad/bereavement-benefits">country that pays bereavement benefits</a></li>
      <li>married to your partner, in a civil partnership with them, or living with them as if you were married</li>
    </ul>
    <p class="govuk-body">Your partner must have either:</p>
    <ul class="govuk-list govuk-list--bullet">
       <li>paid a certain amount of <a class="govuk-link" href="https://www.gov.uk/national-insurance/how-much-you-pay">Class 1 or Class 2 National Insurance contributions</a> in any one tax year since 6 April 1975</li>
       <li>died because of an accident at work or a disease caused by work</li>
    </ul>
    <div class="govuk-inset-text">
     You can still make a claim if you’re not sure whether your partner paid enough National Insurance contributions. The Bereavement Service will let you know.
   </div>
    <p class="govuk-body">You cannot claim Bereavement Support Payment if you’re in prison.</p>

       <h2 class="govuk-heading-m">When you need to make your claim</h2>
       <p class="govuk-body">You usually need to make a claim within 21 months of your partner’s death.</p>
       <p class="govuk-body">If it’s been over 21 months since your partner’s death, you may still be able to make a claim if their cause of death was only recently confirmed. <a class="govuk-link" href="https://www.gov.uk/bereavement-support-payment/how-to-claim">Call the Bereavement Service helpline</a> for help.</p>
       <p class="govuk-body">How soon you make your claim can also affect <a class="govuk-link" href="https://www.gov.uk/bereavement-support-payment/how-to-claim">how much money you’ll get</a>. You usually need to make a claim within 3 months of your partner’s death to get the full amount of payments.</p>


       <div class="govuk-inset-text">
        <p>If your partner died before 6 April 2017, you may be able to get <a href="/widowed-parents-allowance">Widowed Parent’s Allowance</a> instead.</p>
      </div>

       <h2 class="govuk-heading-m">If you were living with your partner as if you were married</h2>
       <p class="govuk-body">Unless you’re applying for a backdated payment, one of the following must have applied when your partner died:</p>
       <ul class="govuk-list govuk-list--bullet">
         <li>you were getting <a class="govuk-link" href="https://www.gov.uk/child-benefit">Child Benefit</a> for a child that lived with you</li>
         <li>you were told by the Child Benefit Office that you were entitled to Child Benefit for a child that lived with you, even if you chose not to get it</li>
         <li>you were pregnant</li>
       </ul>

       <p class="govuk-body">If your partner was getting or entitled to Child Benefit instead, you’ll need to make a new claim for Child Benefit in your name before you can apply for Bereavement Support Payment.</p>


    <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "How it works",
          href: "govuk-overview.html"
        },
        next: {
          labelText: "What you'll get",
          href: "govuk-whatyoullget.html"
        }
      }) }}

    <p>
      <a href="#">
        View a printable version of the whole guide
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Get help with funeral costs (Funeral Expenses Payment)
            </a>
          </li>
          <li>
            <a href="#">
              Your benefits, tax and pension after the death of a partner
            </a>
          </li>
          <li>
            <a href="#">
              What to do after someone dies
            </a>
          </li>
          <li>
           <a href="#">
              What to do when someone dies: step by step
           </a>
         </li>
         <li>
           <a href="#">
              Applying for probate
           </a>
         </li>
        </ul>
      </nav>
    </aside>

  </div>

</main>
</div>
</div>
  
   
</div>

{% endblock %}
