{% extends "layouts/main.html" %}

{% block pageTitle %}
  Bereavement Support Payment - How it works
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Benefits",
        href: "#"
      },
      {
        text: "Benefits and financial support when someone dies",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-xl">
      Bereavement Support Payment
     </h1>

     <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
       <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
         <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
           Contents
         </h2>
         <ol class="govuk-prototype-kit-common-templates-contents-list__list">
           <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
             How it works
           </li>
           <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
            <a href="govuk-eligibility.html">
              Eligibility
            </a>
          </li>
           <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
             <a href="govuk-whatyoullget.html">
              What you'll get
             </a>
           </li>
           <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
            <a href="govuk-howtoclaim.html">
              How to claim
            </a>
          </li>
         </ol>
       </nav>
     </aside>

   </div>

 </div>

 <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
     
     <h1 class="govuk-heading-l">
       How it works
     </h1>
     
     <p class="govuk-body">You may be able to get Bereavement Support Payment if your partner has died. It has replaced the following benefits:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>Widowed Parent’s Allowance - if you already get this, your payments will continue until you’re no longer eligible</li>
            <li>Bereavement Allowance (previously Widow’s Pension)</li>
            <li>Bereavement Payment</li>
            </ul>
            
            <div class="govuk-inset-text">
               This guide is also available <a href="/beta/r5/bereavement-support-payment/how-to-claim"> in Welsh
                  (Cymraeg) </a>
             </div>

     <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

     {{ govukPagination({
       next: {
         labelText: "Eligibility",
         href: "govuk-eligibility.html"
       }
     }) }}

     <p>
       <a href="#">
         View a printable version of the whole guide
       </a>
     </p>

   </div>

   <div class="govuk-grid-column-one-third">

     <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
       <h2 class="govuk-heading-m" id="subsection-title">
         Related content
       </h2>
       <nav role="navigation" aria-labelledby="subsection-title">
         <ul class="govuk-list govuk-!-font-size-16">
           <li>
             <a href="#">
               Get help with funeral costs (Funeral Expenses Payment)
             </a>
           </li>
           <li>
             <a href="#">
               Your benefits, tax and pension after the death of a partner
             </a>
           </li>
           <li>
             <a href="#">
               What to do after someone dies
             </a>
           </li>
           <li>
            <a href="#">
               What to do when someone dies: step by step
            </a>
          </li>
          <li>
            <a href="#">
               Applying for probate
            </a>
          </li>
         </ul>
       </nav>
     </aside>

   </div>

 </main>
</div>
 </div>
   
    
 </div>


{% endblock %}
