
{% extends "layout.html" %}

{% block pageTitle %}
  Do you want to prove your identity? - Bereavement Suppport Payment - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    
      <form class="form" action="/identity-answer" method="post">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you want to prove your identity so we can process your application faster?
                  </h1>
                </legend>
                <div id="signIn-hint" class="govuk-hint">
                  This means we can start your payments sooner if your application is successful.
                </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="identitycheck" name="identitycheck" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Yes, prove identity after sending application
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    Payment can be sent within [3 working days].
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="identitycheck" name="identitycheck" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    No, send application without proving identity
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    It may take up to [15 working days] before payment is sent.
                  </div>
                </div>
              </fieldset>
            </div>

  
      <button class="govuk-button" data-module="govuk-button">Continue</button>
     

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Get help with your application
          </span>
        </summary>
        <div class="govuk-details__text">
          Telephone: 0800 731 0469 <br>
          Welsh language: 0800 731 0453 <br>
          <br>
          Textphone: 0800 731 0464 <br>
          Welsh language: 0800 731 0456 <br>
          <br>
          If you cannot hear or speak on the phone use Relay UK: 18001 then 0800  731 0469 <br>
          <br>
          Monday to Friday, 9.30am to 3.30pm <br>
          Find out about call charges <br>
        </div>
      </details>


    </form>
  </div>
  </div>


{% endblock %}
