
{% extends "layout.html" %}

{% block pageTitle %}
Continue to the service you want to use - GOV.UK One Login
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/private-beta/v8/bereavement-support-payment/return-to-service" method="post" class="form">

        <h1 class="govuk-heading-l">
          Continue to the service you want to use
        </h1>
  
        <p>You've successfully proved your identity. You can now continue to the service you want to use.</p>
  
        <p>Some of the information you shared when you proved your identity might be used to automatically fill in forms within the service.</p>
  
     
          <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>  
  </div>            
  </div>
        
</main>
</div>
{% endblock %}
