
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back</a>           


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="https://www.gov.uk/after-a-death/bereavement-help-and-support" method="post" class="form">
        <h1 class="govuk-heading-l">You cannot get Bereavement Support Payment</h1>
                <div class="govuk-form-group">          
                  <p class="govuk-body govuk-!-font-size-19">This is because you were not married to, in a civil partnership with, or living with your partner when they died.
                  </p>
                  <p class="govuk-body govuk-!-font-size-19">To be able to get Bereavement Support Payment, when your partner died you must have been:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>married or in a registered civil partnership</li>
                    <li>living together as though you were married</li>
                  </ul>

                  <div class="govuk-inset-text">
                    If you live in Northern Ireland you may be able to <a rel="external" href="https://www.nidirect.gov.uk/articles/financial-help-bereaved">apply for other benefits</a>.
                  </div>
                
                    <a href="https://www.gov.uk/browse/benefits/bereavement" role="button" class="govuk-button" data-module="govuk-button">
                      Find other support
                    </a>
                
                    <p class="govuk-body govuk-!-font-size-19">If you need emotional help you can contact <a href="https://www.cruse.org.uk">Cruse Bereavement Support (opens in new tab)</a>.
                    </p>

                  <p class="govuk-body govuk-!-font-size-19">If you want this decision in writing you can finish your application even though you cannot get Bereavement Support Payment.
                  </p>

                  <p class="govuk-body govuk-!-font-size-19"><a href="relationship1">Get a decision in writing</a> </p>
                    </fieldset>
              
    </form>      
  </div>            
  </div>        
</main>
</div>

{% endblock %}
