
{% extends "layout.html" %}

{% block pageTitle %}
  Confirm you details - GOV.UK One Login
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">        


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/private-beta/idv/online/checking-details" method="post" class="form">

        <h1 class="govuk-heading-l">Confirm your details</h1>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            Make sure your details are correct before you continue. You will not be able to change them later
          </strong>
        </div>
  
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Current address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Main Street<br>Newcastle<br>AB12 3CD
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/page-index/address-cri/app/check-current-address">
                Change<span class="govuk-visually-hidden">name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Year you started living at this address
            </dt>
            <dd class="govuk-summary-list__value">
              2010
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/page-index/address-cri/app/check-current-address">
                Change<span class="govuk-visually-hidden">date of birth</span>
              </a>
            </dd>
          </div>
        </dl>
   
          <button class="govuk-button" data-module="govuk-button">I confirm my details are correct</button>

      </form>  
  </div>            
  </div>
        
</main>
</div>

{% endblock %}
