{% extends "layouts/main.html" %}

{% set serviceName %}
  
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block pageTitle %}
Continue proving your identity online - GOV.UK One Login
{% endblock %}

{% block content %}
 

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/ineligible-next-steps/answer" method="post">

        {% if showErrorSummary %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                    text: "Select if you want to use your UK photocard driving licence or UK passport to prove your identity",
                    href: "#ineligible-next-steps"
                }
            ]
        }) }}
        {% endif %}

      <h1 class="govuk-heading-l">
        Continue proving your identity online
      </h1>

      <p>You can continue proving your identity online if you:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>have a UK driving licence (full or provisional) or a UK passport</li>
        <li>can answer some security questions</li>
      </ul>

      <p class="govuk-body">We use security questions to stop anyone who might have your details from pretending to be you</p>

      <p class="govuk-body">It takes about 10 minutes to prove your identity this way.</p><br>


      {% if showErrorSummary %}
      {{ govukRadios({
        name: "ineligible-next-steps",
        fieldset: {
          legend: {
            text: "Do you want to use your UK photocard driving licence or UK passport to prove your identity?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "security-questions-driving-licence",
            text: "UK photocard driving licence"
          },
          {
            value: "security-questions-passport",
            text: "UK passport"
          },
          {
            divider: "or"
          },
          {
            value: "another-way",
            text: "I do not have either of these types of photo ID",
            hint: {
              text: "There may be other ways to prove your identity if you have another type of photo ID."
            }
          }
          ],
          errorMessage: {
              text: "Select if you want to use your UK photocard driving licence or UK passport to prove your identity"
          }
      }) }}
      {% else %}
      {{ govukRadios({
        name: "ineligible-next-steps",
        fieldset: {
          legend: {
            text: "Do you want to use your UK photocard driving licence or UK passport to prove your identity?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "security-questions-driving-licence",
            text: "UK photocard driving licence"
          },
          {
            value: "security-questions-passport",
            text: "UK passport"
          },
          {
            divider: "or"
          },
          {
            value: "another-way",
            text: "I do not have either of these types of photo ID",
            hint: {
              text: "There may be other ways to prove your identity if you have another type of photo ID."
            }
          }
        ]
      }) }}
  {% endif %}
      
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}