{% extends "layouts/main.html" %}

{% set serviceName %}
  
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block pageTitle %}
Prove your identity at a Post Office - GOV.UK One Login
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">

    <form class="form" action="" method="post">

      {% if showErrorSummary %}
      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
              {
                  text: "Select yes if you have photo ID you can use at a Post Office",
                  href: "#at-post-office"
              }
          ]
      }) }}
      {% endif %}
                
<h1 class="govuk-heading-l">Prove your identity at a Post Office</h1>
<p class="govuk-body">You can prove your identity at a Post Office instead.</p>
<p class="govuk-body">You’ll be asked to:</p>
<ul class="govuk-list govuk-list--bullet">
<li>enter details from your photo ID on GOV.UK</li>
<li>go to a Post Office where they’ll scan your ID and take a photo of you</li>
</ul>
<p class="govuk-body">You’ll usually get a result within a day of going to the Post Office.</p>

<ul class="govuk-list" role="list">
<li>
  <h2 class="govuk-heading-m">Types of photo ID you can use at a Post Office</h2>
  <p class="govuk-body">You’ll need one of the following:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>a UK photocard driving licence (full or provisional)</li>
    <li>a UK passport</li>
    <li>a non-UK passport</li>
    <li>a UK biometric residence permit (BRP)</li>
    <li>a European Union (EU) photocard driving licence</li>
    <li>a national identity card from a European Economic Area (EEA) country</li>
  </ul>
</li>
</ul>
<div class="govuk-inset-text">
You cannot prove your identity at a Post Office with a Frontier Worker permit (FWP) or a UK biometric residence card (BRC), also called a UK residence card.
</div>

{% if showErrorSummary %}
{{ govukRadios({
  name: "at-post-office",
  fieldset: {
    legend: {
      text: "Do you have photo ID you can use at a Post Office?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
    ],
    errorMessage: {
        text: "Select yes if you have photo ID you can use at a Post Office"
    }
}) }}
{% else %}
{{ govukRadios({
  name: "at-post-office",
  fieldset: {
    legend: {
      text: "Do you have photo ID you can use at a Post Office?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
    ]
}) }}
{% endif %}

<button name="submitButton" class="govuk-button" data-module="govuk-button">
Continue
</button>

</form>
  </div>
</div>
{% endblock %}
