{% extends "layouts/main.html" %}

{% set serviceName %}
  
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block pageTitle %}
Who was your UK driving licence issued by - GOV.UK One Login
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/who-issued-licence/answer" method="post">

        {% if showErrorSummary %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                    text: "You must choose an option to continue",
                    href: "#issuerName"
                }
            ]
        }) }}
        {{ govukRadios({
          name: "issuerName",
          fieldset: {
            legend: {
              text: " Who was your UK driving licence issued by?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "dvla",
              text: "DVLA"
            },
            {
              value: "dva",
              text: " DVA"
            },
            {
              divider: "or"
            },
            {
              value: "no-uk-licence",
              text: "I do not have a UK driving licence"
            }
            ],
            errorMessage: {
                text: "You must choose an option to continue"
            }
        }) }}
        {% else %}
        {{ govukRadios({
          name: "issuerName",
          fieldset: {
            legend: {
              text: " Who was your UK driving licence issued by?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "dvla",
              text: "DVLA"
            },
            {
              value: "dva",
              text: " DVA"
            },
            {
              divider: "or"
            },
            {
              value: "no-uk-licence",
              text: "I do not have a UK driving licence"
            }
            ]
        }) }}
    {% endif %}





              <button class="govuk-button" data-module="govuk-button">Continue</button>

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Why we need to know this
                  </span>
                </summary>
                <div class="govuk-details__text">
                  We need to make sure we check your driving licence details with the right organisation. DVLA issues driving licences in England, Scotland and Wales. DVA issues driving licences in Northern Ireland.
                </div>
              </details>

            </form>
          </div>
        </div>
{% endblock %}
