{% extends "layout.html" %}

{% block page_title %}
  Claim disallowed
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          Claim disallowed
        </h1>
        
        <h2 class="heading-small">This claim was disallowed because:</h2>
        <ul class="list list-bullet">
          <li>
            the claim was more than 21 months late
          </li>
        </ul>
        
        <a href="/{{feature}}/{{sprint}}/claim/{{scenario}}/disallowed">View claim</a>
      </div>
    </div>
  </main>
{% endblock %}
