<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>Not released yet.</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Citizen facing journey</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Citizen facing journey</h2>
<p>
  First attempt.
</p>

<h3 class="heading-small">First iteration</h3>

<p>
  This is a reworked prototype from the original bereavement work done in 2016. 
  The user journey remains relatively unchanged but the styles have been updated.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  Not researched yet.
</p>

<br />

<a href="/citizen-facing/version-1" class="button button-start">Start now</a>
