
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back</a>           


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

	    <form action="email-details2" method="post" class="form">
      
                <h1 class="govuk-heading-l govuk-!-margin-bottom-2">What is your telephone number?</h1>
                
               <div id="telephone-number-hint" class="govuk-hint">
                We'll use this if we need to contact you about your application.
              </div>


                 <div class="govuk-form-group">
                  
                  <input class="govuk-input govuk-input--width-20" id="width-10" name="telephonenumber" value="{{data['telephonenumber']}}" type="text"></div>
                  
      <button class="govuk-button" data-module="govuk-button">Continue</button>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Get help with your application
          </span>
        </summary>
        <div class="govuk-details__text">
          Telephone: 0800 731 0469 <br>
          Welsh language: 0800 731 0453 <br>
          <br>
          Textphone: 0800 731 0464 <br>
          Welsh language: 0800 731 0456 <br>
          <br>
          If you cannot hear or speak on the phone use Relay UK: 18001 then 0800  731 0469 <br>
          <br>
          Monday to Friday, 9.30am to 3.30pm <br>
          Find out about call charges <br>
        </div>
      </details>


    </form>      
  </div>            
  </div>

  </main>
  </div>

{% endblock %}
