
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back</a>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
      <form class="form" action="/relationship-answer" method="post">

        {{ govukRadios({
          name: "relationship",
          value: data['relationship'],
          fieldset: {
            legend: {
              text: "When your partner died, were you:",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Married",
              text: "Married"
            },
            {
              value: "Civil partnership",
              text: "In a civil partnership"
            },
            {
              value: "Living together",
              text: "Living together"
            },
            {
              divider: "or"
            },        
            {
              value: "None",
              text: "None of these apply"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form>
         
    </div>
  </div>


  </main>
  </div>

{% endblock %}
