{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 

      <h1 class="govuk-heading-xl">Your answers have been deleted</h1>

      <p class="govuk-body">We have deleted your answers because you did not do anything for 30 minutes. This is to protect your information.</p>
      <p class="govuk-body">You will need to start again.</p>

      <button class="govuk-button" data-module="govuk-button">Start again</button>

     
    </div>
  </div>
{% endblock %}
