<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Date of release</dt>
      <dd>24 April 2017</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Feature</dt>
      <dd>Claim management</dd>
    </dl>
  </div>

  <div class="column-one-third">
    <dl>
      <dt class="heading-small">Related stories</dt>
      <dd></dd>
    </dl>
  </div>
</div>

<h2 class="heading-medium">Task list</h2>
<p>
  First attempt.
</p>

<h3 class="heading-small">First iteration</h3>

<p>
  In this prototype, we were looking at how agents might handle the processing 
  of claims. The prototype looks at pulling a claim from a queue and trying 
  to verify the evidence to put the claim into payment.
</p>

<h3 class="heading-small">Research notes</h3>
<p>
  This sparked a lot of positive feedback from users regarding the simplicity 
  and ease of use of the feature as a whole.
</p>
<p>
  The terms 'capture' and 'process' caused some confusion as this is unfamiliar 
  terminology. Bereavement Service claims don't require verification for date 
  of death so agents weren't sure what they would do under those circumstances 
  but agents did raise that they would need to see a date of death to know what 
  they are verifying, especially if they had not been responsible for inputting 
  the claim.
</p>
<p>
  It was presumed that the claimant did have dependent children as agents were 
  asked if they could verify the Child Benefit, however agents do not pause 
  cases under these circumstances, they would pay the standard rate until the 
  claimant informed them of a change of circumstances.
</p>
<p>
  Agents were not sure what they would do if a claimant was not married or 
  didn't have enough National Insurance contributions as the only option 
  presented was to pause these claims on a loop rather than disallow. The pause 
  options provided were appreciated by agents as they were the more common time 
  periods used during processing, however, if a case needed to be referred to 
  the Relationship Verification Unit or a text message had been sent the time 
  periods could vary hugely and agents need this to be accounted for.
</p>
<p>
  When viewing a case that had been previously paused the log was useful as 
  agents could be sure who had verified certain pieces of information and when. 
</p>
<p>
  When processing a claim agents weren't always aware that they had started 
  working on a different claim, they expected to be able to see the previous one 
  again. 
</p>

<br />

<a href="/claim-management/version-1" class="button button-start">Start now</a>
