{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your application for Bereavement Support Payment has been successful</h1>    
        
      <p class="govuk-body">We will make payments into your account as soon as possible.</p> 

      <p class="govuk-body">We will send you a letter in the post with:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>what you will get</li>
        <li>when we will pay you</li>
      </ul> 

      <h3 class="govuk-heading-m">If your circumstances change</h3>
      <p>Contact us if you change your bank details, address or name.</p>
      <p>
        Telephone: 0800 151 2012 <br>
        Welsh language: 0800 731 0453 <br>
        <br>
        Textphone: 0800 731 0464 <br>
        Welsh language: 0800 731 0456 <br>
        <br>
        If you cannot hear or speak on the phone use, use<a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Relay UK (opens in a new tab):</a> 18001 then 0800  731 0469 <br>
        <br>
        Monday to Friday, 8am to 5pm<br>
        <div class="govuk-!-padding-bottom-2"></div>
        <a href="https://www.gov.uk/call-charges" class="govuk-body govuk-!-font-size-19"> Find out about call charges (opens in new tab).</a> <br>
      </p>
      <!-- <h2 class="govuk-heading-m">If you get other benefits</h2>
      <p>Tell the office that deals with your benefits that you get Bereavement Support Payment. They will make sure it does not affect your benefits.</p>
      <p>After 12 months, the benefit office may include any money left over from Bereavement Support Payments as savings.</p> --> 

      <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p>You might be eligible for help with funeral costs. <a href="https://www.gov.uk/funeral-payments" class="govuk-body govuk-!-font-size-19">Check if you can get help to pay for the funeral</a>.</p> -->
	
      <!--
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      {% if data['acb'] == 'Yes' %}
      <h3 class="govuk-heading-m">Child Benefit entitlement</h3>
      <p>Make sure your Child Benefit claim is in your name, not your partner's.</p>
      <p>If your partner claimed it for your family, you will need to make a new claim.</p>
      <p>You can <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/child-benefit" class="govuk-body govuk-!-font-size-19">contact Child Benefit</a>&nbsp to check.</p>
	  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
     {% endif %}

        {% if data['acb'] == "I don't know" %}
      <h3 class="govuk-heading-m">Child Benefit entitlement</h3>
     <p><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/child-benefit">Contact Child Benefit </a>to check if you're entitled. They can tell you if you need to make a claim.</p>

      <p>You can get the higher rate of Bereavement Support Payment when you get Child Benefit.</p>

	  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
     {% endif %}

      <h2 class="govuk-heading-m">Financial help and emotional support</h2>
      <p>Check the help and support available.


        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with living costs and Council Tax
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>You might be eligible for benefits or help towards your Council Tax.</p>
            <p class="govuk-body">Check by:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>using a <a href="www.gov.uk/benefits-calculator" class="govuk-body govuk-!-font-size-19">benefits calculator</a></li>
                <li>contacting your local jobcentre for advice</li>
                <li>asking your local council about help to pay Council Tax</li>
              </ul>

            <p>Citizens Advice can also give you support and guidance.</p>
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Emotional support
            </span>
          </summary>
          <div class="govuk-details__text">
            <p><a href=" https://www.cruse.org.uk/" class="govuk-body govuk-!-font-size-19">Cruse Bereavement Care</a> is a voluntary organisation you can contact for emotional help and support during a bereavement.</p>
            <p>You can call them for free on <b>0808 808 1677</b>.</p>
            <p>You can also <a href="https://www.gov.uk/after-a-death/bereavement-help-and-support">find other organisations who offer bereavement support, help and information</a>.
            </p>
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



        <!-- <h3 class="govuk-heading-m">Feedback</h3> -->
        <!-- <p><a target="_blank" href="/beta/r2/bereavement-support-payment/feedback" class="govuk-body govuk-!-font-size-19">What did you think of this service? (opens in new tab)</a></p> -->

</div>



{% endblock %}
