
{% extends "layout.html" %}

{% block pageTitle %}
  Do you want to prove your identity? - Bereavement Suppport Payment - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    <form action="" method="POST" class="form">

        <a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back</a>

        <div class="govuk-!-padding-bottom-5"></div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Prove your identity so we can process your application faster
                  </h1>
                </legend>
                <p class="govuk-body-m">
                  If you prove you identity, we can start your payments sooner if your application is successful.
                </p>
                  <div class="govuk-inset-text">
                    We can still process your application if you cannot prove your identity.
                  </div>
                <h2 class="govuk-heading-m">Do you want to prove your identity after you submit your application?</h2>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="comms-needs" name="next-page" type="radio" value="comms-type">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="comms-need-2" name="next-page" type="radio" value="check-answers-contact-no-comm">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    No
                  </label>
                </div>



              </fieldset>
            </div>
            <input name="getcountrycb" class="govuk-radios__input" id="get-cb-no1" type="hidden" value="{{ data['getcountrycb'] }}" >
<!--
              {% if checkanswer!='true' %}
              <button class="govuk-button" data-module="govuk-button">Continue
                </button>
			{% endif %}
			{% if checkanswer=='true' %}
              <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
			{% endif %}
   -->

      {% if checkanswer ==undefined and checkanswercontact==undefined %}
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      {% endif %}
	{% if checkanswer=='true' %}
  <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
	{% endif %}
	{% if checkanswercontact =='true' %}
  <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
	{% endif %}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Get help with your application
          </span>
        </summary>
        <div class="govuk-details__text">
          Telephone: 0800 731 0469 <br>
          Welsh language: 0800 731 0453 <br>
          <br>
          Textphone: 0800 731 0464 <br>
          Welsh language: 0800 731 0456 <br>
          <br>
          If you cannot hear or speak on the phone use Relay UK: 18001 then 0800  731 0469 <br>
          <br>
          Monday to Friday, 9.30am to 3.30pm <br>
          Find out about call charges <br>
        </div>
      </details>


    </form>
  </div>
  </div>


{% endblock %}
