{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
<style>li .schedule-status {margin-bottom: 0;}</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class=heading-xlarge>
        Have any payments been made manually?
      </h1>

      <form method="post">
        <div class="form-group">
          <fieldset class="inline">
            <div class="multiple-choice">
              <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
              <label for="radio-inline-1">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
              <label for="radio-inline-2">No</label>
            </div>
          </fieldset>
        </div>

        <button class="button" type="submit">Continue</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}


