{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="about-you-married" method="post" class="form">
      
      
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Eligibility
      </h2>
      

      <dl class="govuk-summary-list">
       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Your date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dob-day'] }} / {{ data['dob-month'] }} / {{ data['dob-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="spa?checkanswereligibility=true">
              Change
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Date partner died
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dod-day'] }} / {{ data['dod-month'] }} / {{ data['dod-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="dod?checkanswereligibility=true">
              Change
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Relationship
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['relationship'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="relationship?checkanswereligibility=true">
              Change
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Where you live
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['getcountrycb'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="country?checkanswereligibility=true">
              Change
            </a>
          </dd> 
        </div>      
  

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-third">
        Lived in UK at time of death
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['uklocation'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="live-in-uk?checkanswereligibility=true">
          Change
        </a>
      </dd> 
    </div>  

  </dl>
<br>
  <p class="govuk-body-m">You have completed section 1 of 4</p>
  <br> 
    <button class="govuk-button" data-module="govuk-button">Continue</button>

</form>
    </div>

  </div>


</main>
</div> 
{% endblock %}