
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">           



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	{% if checkanswer ==undefined and checkansweraboutyou==undefined %}
	     <form action="marriage-certificate" method="post" class="form">  
	{% endif %}
	{% if checkanswer=='true' %}
	    <form action="declaration" method="post" class="form">
	{% endif %}
	{% if checkansweraboutyou =='true' %}
	    <form action="check-answers-about-you" method="post" class="form">
	{% endif %}
                
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="marriage-location-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Did you get married in the UK?
                  </h1>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="marriage-location" name="marriage-location" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="marriage-location">
                      Yes
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="marriage-location-2" name="marriage-location" type="radio" value="No" data-aria-controls="conditional-marriage-location-2">
                    <label class="govuk-label govuk-radios__label" for="marriage-location-2">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-marriage-location-2">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="marriage-location-country">
                        Which country did you get married in?
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="marriage-location-country" name="marriage-location-country" type="tel" value="{{ data['marriage-location-country'] }}"> </div>            
                  </div>
                </div>
            
              </fieldset>
            </div>

            
            <!--
              {% if checkanswer!='true' %}
              <button class="govuk-button" data-module="govuk-button">Continue
                </button>
			{% endif %}
			{% if checkanswer=='true' %}
              <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
			{% endif %}
  
-->

      {% if checkanswer ==undefined and checkansweraboutyou==undefined %}
      <button class="govuk-button" data-module="govuk-button">Continue</button>  
	{% endif %}
	{% if checkanswer=='true' %}
  <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
	{% endif %}
	{% if checkansweraboutyou =='true' %}
  <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
	{% endif %}



      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Get help with your application
          </span>
        </summary>
        <div class="govuk-details__text">
          Telephone: 0800 731 0469 <br>
          Welsh language: 0800 731 0453 <br>
          <br>
          Textphone: 0800 731 0464 <br>
          Welsh language: 0800 731 0456 <br>
          <br>
          If you cannot hear or speak on the phone use Relay UK: 18001 then 0800  731 0469 <br>
          <br>
          Monday to Friday, 9.30am to 3.30pm <br>
          Find out about call charges <br>
        </div>
      </details>
    
    </form>
    </div>
  </div>

</main>
</div>
{% endblock %}
