
{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if checkanswer ==undefined and checkanswereligibility==undefined %}
	     <form action="live-in-uk" method="post" class="form">
	{% endif %}
	{% if checkanswer=='true' %}
	    <form action="declaration" method="post" class="form">
	{% endif %}
	{% if checkanswereligibility =='true' %}
	    <form action="check-answers-eligibility" method="post" class="form">
	{% endif %} 
      


            <div class="govuk-form-group">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Where do you live?
                  </h1>
                </legend>
                         
                <fieldset class="govuk-fieldset">


                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input name="getcountrycb" class="govuk-radios__input" id="get-cb-yes4" type="radio"  value="England" {{ checked("getcountrycb", "England") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-yes4">
                        England              
                      </label>
                    </div>
                    
                    <div class="govuk-radios__item">              
                      <input name="getcountrycb" class="govuk-radios__input" id="get-cb-no2" type="radio" value="Scotland" {{ checked("getcountrycb", "Scotland") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-no2">
                        Scotland              
                      </label>
                    </div>


                    <div class="govuk-radios__item">              
                      <input name="getcountrycb" class="govuk-radios__input" id="get-cb-no1" type="radio" value="Wales" {{ checked("getcountrycb", "Wales") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-no1">
                        Wales              
                      </label>
                    </div>

                    <div class="govuk-radios__item">              
                      <input name="getcountrycb" class="govuk-radios__input" id="get-cb-no3" type="radio" value="Northern Ireland" {{ checked("getcountrycb", "Northern Ireland") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-no3">
                        Northern Ireland              
                      </label>
                    </div>

                    <p>Or</p>
                   
                    <div class="govuk-radios__item">              
                      <input name="getcountrycb" class="govuk-radios__input" id="get-cb-Idonotknow" type="radio" value="Outside the UK" {{ checked("getcountrycb", "Outside the UK") }}>              
                      <label class="govuk-label govuk-radios__label" for="get-cb-Idonotknow">
                        Outside the UK             
                      </label>
                    </div>
              </div>
<br>
                
    
              </div>
              <!--
               {% if checkanswer!='true' %}
              <button class="govuk-button" data-module="govuk-button">Continue</button>
			{% endif %}
			{% if checkanswer=='true' %}
              <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
			{% endif %}
-->


      {% if checkanswer ==undefined and checkanswereligibility==undefined %}
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      {% endif %}
 {% if checkanswer=='true' %}
 <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
 {% endif %}
 {% if checkanswereligibility =='true' %}
 <button class="govuk-button" data-module="govuk-button">Save and Continue</button>
 {% endif %} 



      </form>                   
         
    </div>
      </details>
    </div>
  </div>


  </main>
  </div>

{% endblock %}
