{% extends "layouts/main.html" %}

{% block pageTitle %}
Where did you register your civil partnership? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="cp-certificate" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        
        {% set outside %}
        {{ govukInput({
          label: {
            text: "  What country did you register your civil partnership in?",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          id: "event-name",
          name: "eventName"
        }) }}
        {% endset -%}
        
        {{ govukRadios({
          name: "countrycp",
          value: data['countrycp'],
          fieldset: {
            legend: {
              text: "Where did you register your civil partnership?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "England",
              text: "England"
            },
            {
              value: "Scotland",
              text: "Scotland"
            },
            {
              value: "Wales",
              text: "Wales"
            },
            {
              value: "Northern Ireland",
              text: "Northern Ireland"
            },
            {
              divider: "or"
            },
            {
              value: "Outside the UK",
              text: "Outside the UK",
              conditional: {
                html: outside
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

<!-- 
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set textHtml %}
{{ govukInput({
  label: {
    text: "Which country did you register you civil partnership in?"
  },
  classes: "govuk-!-width-two-thirds",
  id: "cpcountry",
  name: "cpcountry",
  autocomplete: "address-level2"
}) }}
{% endset -%}

{{ govukRadios({
  name: "cpinuk",
  fieldset: {
    legend: {
      text: "Did you register your civil partnership in the UK?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
  {
    value: "Yes",
    text: "Yes"
  },
    {
      value: "No",
      text: "No",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }} -->


        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Get help with your application
            </span>
          </summary>
          <div class="govuk-details__text">
            Telephone: 0800 731 0469 <br>
            Welsh language: 0800 731 0453 <br>
            <br>
            Textphone: 0800 731 0464 <br>
            Welsh language: 0800 731 0456 <br>
            <br>
            If you cannot hear or speak on the phone use Relay UK: 18001 then 0800  731 0469 <br>
            <br>
            Monday to Friday, 9.30am to 3.30pm <br>
            Find out about call charges <br>
          </div>
        </details>

      </form>

    </div>
  </div>

{% endblock %}
