
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="country.html" class="govuk-back-link">Back</a>             


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="relationship" method="post" class="form">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">You cannot apply online
                </h1>
           <br>
                <div class="govuk-form-group">          
                  <h2 class="govuk-heading-s">You need to call the International Pension Centre to apply for Bereavement Support Payment if you do not live in the UK.
                  </h2>
              
                 <p> To be eligible, you need to live in a <a href="https://www.gov.uk/claim-benefits-abroad/bereavement-benefits"> country that pays bereavement benefits</a>. </p>


                 <h2 class="govuk-heading-s">International Pension Centre
                </h2>
                  
                  
                  <P>Telephone: +44 (0) 191 218 7608</P>
                  
                <P> Monday to Friday, 9.30am to 3.30pm</P>
                  
              <P><a href="https://www.gov.uk/call-charges">Find out about call charges</a></P>
            

                </div>
    </form>      
  </div>            
  </div>
        
</main>
</div>

</main>
</div>

{% endblock %}
