{% extends "layout.html" %}
{% set showDetails = true %}
{% set page = 'schedule' %}

{% block page_title %}
  Payment schedule
{% endblock %}

{% block customNav %}
  {% include '../custom-nav.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="grid-row">
      <div class="column-two-thirds">
        
        <h1 class="heading-xlarge schedule-heading">
        <span class="heading-secondary">
          {{d.claimant.fullName}}
        </span>
          {{d.claimant.nino}}
        </h1>
        <span class="schedule-status schedule-status-{{'active' if data.resumed else 'paused'}}">
          {{'Active' if data.resumed else 'Paused'}}
        </span>

        {% include './_subnav-schedule.html' %}

        {% include '../common/_details-payment.html' %}

        <section class="details-wrapper">
          <h2 class="heading-small th">
            Rate
          </h2>
          <dl class="details-summary">
            <dt class="details-summary-key">
              {% if data.chb.answer === 'Yes' %}
                Higher
              {% else %}
                Standard
              {% endif %}
            </dt>
            <dd class="details-summary-value">
            </dd>
          </dl>
          {% if data.chb.answer !== 'Yes' and not data.stopReason %}
            <a class="change-link" href="/{{feature}}/{{sprint}}/capture/change-rate/{{scenario}}?returnToSchedule=true">
              Change <span class="visually-hidden"> rate</span>
            </a>
          {% endif %}
        </section>
      </div>

      <div class="column-one-third">
        {% include './../history/_history.html' %}
      </div>
    </div>

    <div class="grid row">
      <div class="column-full">
        <div class="grid-row">
          {% include './payments/' + scenario + '.html' %}
        </div>
      </div>
    </div>

  </main>
{% endblock %}

{% block page_scripts %}
  <script>
    $(document).ready(function () {
      var $log = $('.log')
      var a = $log.find('li').slice(0, 4)
      $log.html(a)
    })
  </script>
{% endblock %}