{% extends "layout-index.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="homepage-top">
  <div class="homepage-top-content">
    <h1 class="heading-xlarge">
      BSP Manager
      <span>Prototypes</span>
    </h1>
  </div>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="example">
          {% include 'summaries/integration/version-37.html' %}<hr />

        </div>

      <h2 class="heading-large">All versions</h2>


      <details>
        <summary><span class="summary">Auto disallow journey</span></summary>
        <div class="panel">
          {% include 'summaries/integration/version-34.html' %}<hr />
        </div>
      </details>

      <details>
        <summary><span class="summary">Paper/PDF auto disallow</span></summary>
        <div class="panel">
          {% include 'summaries/integration/version-33.html' %}<hr />
        </div>
      </details>



      <details>
        <summary><span class="summary">Integration</span></summary>
        <div class="panel">
          {% include 'summaries/integration/version-32.html' %}<hr />
          {% include 'summaries/integration/version-31.html' %}<hr />
          {% include 'summaries/integration/version-30.html' %}<hr />
          {% include 'summaries/integration/version-29.html' %}<hr />
          {% include 'summaries/integration/version-28.html' %}<hr />
          {% include 'summaries/integration/version-27.html' %}<hr />
          {% include 'summaries/integration/version-26.html' %}<hr />
          {% include 'summaries/integration/version-25.html' %}<hr />
          {% include 'summaries/integration/version-24.html' %}<hr />
          {% include 'summaries/integration/version-23.html' %}<hr />
          {% include 'summaries/integration/version-22.html' %}<hr />
          {% include 'summaries/integration/version-21.html' %}<hr />
          {% include 'summaries/integration/version-20.html' %}<hr />
          {% include 'summaries/integration/version-19.html' %}<hr />
          {% include 'summaries/integration/version-18.html' %}<hr />
          {% include 'summaries/integration/version-17.html' %}<hr />
          {% include 'summaries/integration/version-16.html' %}<hr />
          {% include 'summaries/integration/version-15.html' %}<hr />
          {% include 'summaries/integration/version-14.html' %}<hr />
          {% include 'summaries/integration/version-13.html' %}<hr />
          {% include 'summaries/integration/version-12.html' %}<hr />
          {% include 'summaries/integration/version-11.html' %}<hr />
          {% include 'summaries/integration/version-10.html' %}<hr />
          {% include 'summaries/integration/version-9.html' %}<hr />
          {% include 'summaries/integration/version-8.html' %}<hr />
          {% include 'summaries/integration/version-7.html' %}<hr />
          {% include 'summaries/integration/version-6.html' %}<hr />
          {% include 'summaries/integration/version-5.html' %}<hr />
          {% include 'summaries/integration/version-4.html' %}<hr />
          {% include 'summaries/integration/version-3.html' %}<hr />
          {% include 'summaries/integration/version-2.html' %}<hr />
          {% include 'summaries/integration/version-1.html' %}
        </div>
      </details>

      <details>
        <summary><span class="summary">Citizen facing journey</span></summary>
        <div class="panel">
          {% include 'summaries/citizen-facing/version-1.html' %}
        </div>
      </details>

      <details>
        <summary><span class="summary">Claim capture (task list)</span></summary>
        <div class="panel">
          {% include 'summaries/claim-capture-list/version-17.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-16.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-15.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-14.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-13.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-12.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-11.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-10.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-9.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-8.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-7.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-6.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-5.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-4.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-3.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-2.html' %}<hr />
          {% include 'summaries/claim-capture-list/version-1.html' %}
        </div>
      </details>

      <details>
        <summary><span class="summary">Claim capture (linear)</span></summary>
        <div class="panel">
          {% include 'summaries/claim-capture/version-4.html' %}<hr />
          {% include 'summaries/claim-capture/version-3.html' %}<hr />
          {% include 'summaries/claim-capture/version-2.html' %}<hr />
          {% include 'summaries/claim-capture/version-1.html' %}
        </div>
      </details>

      <details>
        <summary><span class="summary">Claim management</span></summary>
        <div class="panel">
          {% include 'summaries/claim-management/version-2.html' %}<hr />
          {% include 'summaries/claim-management/version-1.html' %}<hr />
        </div>
      </details>

      <details>
        <summary><span class="summary">Payment scheduler</span></summary>
        <div class="panel">
          {% include 'summaries/payment-scheduler/version-18.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-17.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-16.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-15.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-14.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-13.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-12.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-11.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-10.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-9.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-8.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-7.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-6.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-5.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-4.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-3.html' %}<hr />
          {% include 'summaries/payment-scheduler/version-2.html' %}
          {#{% include 'summaries/version-1.html' %}#}
        </div>
      </details> 
    </div>
  </div>
</main>

{% endblock %}


