{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
  {% if feature != 'citizen-facing' %}
    <style>
      .header-logo {
        display:none;
      }
      #global-header #logo {
        background: none;
        line-height: .8;
        padding-top: 5px;
      }

      #global-header #logo img {
        display: none;
      }

      #global-header-bar {
        display: none;
      }
      {% if includeMILink === 'true' or includeMILink2 === 'true' %}
        #global-header.with-proposition .header-wrapper .header-proposition {
          width: 100%;
        }
        .proposition-links-right {
          float: right;
        }
      {% endif %}
    </style>
  {% endif %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block after_header %}
  {% block customNav %}{% endblock %}
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  {% block page_scripts %}{% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li><a href="/prototype-admin/clear-data">Clear data</a></li>
    </ul>
  {% endif %}
{% endblock %}