{% extends "govuk_dwp_admin.html" %}
{% set global_header_text = "DWP" %}
{% set homepage_url = "/" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block after_header %}
  {% block customNav %}{% endblock %}
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  {% block page_scripts %}{% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li><a href="/prototype-admin/clear-data">Clear data</a></li>
    </ul>
  {% endif %}
{% endblock %}