
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        User testing
      </h1>


      <button onclick="javascript:location.href='/beta/r3/bereavement-support-payment.html'" class="govuk-button" data-module="govuk-button">
        Prototype
      </button>

<!--
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <button onclick="javascript:location.href='/feedback/bereavement-support-payment/question1.html'" class="govuk-button" data-module="govuk-button">
        Your feedback
      </button>

-->
    </div>
  </div>

{% endblock %}
