{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
  <main id="content" role="main" class="group">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a href="/{{sprint}}/find-a-payment-schedule" class="link-back">Find a payment schedule</a>

        <h1 class="heading-xlarge schedule-heading">
          BA254819C
        </h1>
        <span class="schedule-status">
          ENDED
        </span>

        <h2 class="heading-small th">
          Bank account
        </h2>

        <dl class="data-summary">
          <dt class="data-summary-key">
            Name on account
          </dt>
          <dd class="data-summary-value">
            Peter Barnes
          </dd>

          <dt class="data-summary-key">
            Account number
          </dt>
          <dd class="data-summary-value">
            80257643
          </dd>

          <dt class="data-summary-key">
            Sort code
          </dt>
          <dd class="data-summary-value">
            09-02-18
          </dd>

          <dt class="data-summary-key">
            Bank name
          </dt>
          <dd class="data-summary-value">
            Santander
          </dd>
        </dl>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-half">
        <h2 class="heading-small th">
          Payments
        </h2>

        <ul class="schedule">
          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 November 2016
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 October 2016
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 September 2016
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 August 2016
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 July 2016
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 June 2016
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 May 2016
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 April 2016
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 March 2016
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 February 2016
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 January 2016
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 December 2015
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 November 2015
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 October 2015
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 September 2015
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              13 August 2015
            </time>
            <strong class="amount">
              £100
            </strong>
            <span class="type initial">
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              15 July 2015
            </time>
            <strong class="amount">
              £200
            </strong>
            <span class="type initial">
              Backdated monthly payments
            </span>
          </li>

          <li class="payment">
            <time datetime="2016-12-03T00:00:00.000Z">
              15 July 2015
            </time>
            <strong class="amount">
              £2500
            </strong>
            <span class="type initial">
              Initial payment
            </span>
          </li>
        </ul>
      </div>

      <div class="column-one-half">
        <h2 class="heading-small th">
          Planned payments
        </h2>

        <ul class="schedule">
          <li>
            <p>
              No payments due.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}